[2018-03-03 14:41] urugator commented on #1610
In firefox the behavior depends on how the selection was obtained:
- mouse click: depends on which inline the user actually clicked (the cursor can end up in both)
- mouse selection: same as click - it depends where mouseUp was performed (this is a little bit weird because you may have a selection like aaa[bbb] and end up in "aaa")
- arrow keys: depends on direction - the selection ends up in the

[2018-03-03 20:58] thesunny commented on #1681
Oops, sorry, I actually hit the wrong button. I didn't mean to close this!

[2018-03-03 22:32] urugator commented on #1610
I removed that `onSelect` "normalizing" code in `after.js` and there are these two inconsitencies between Chrome and FF:

1. When user move selection backward with arrowleft:
Ch: `<inline><t|ext>` => (arrowleft) => `<inline|><text>` (at the end of inline)
FF: `<inline><t|ext>` => (arrowleft) => `<inline><|text>` (in text at offset 0)
(strangely enought moving backward with backspace is consistent

[2018-03-04 14:33] urugator commented on #1610
So I simply did following in `after.js`:
[code]
Which seems to solve the arrowleft problem.

However there is an issue with pasting... it works consistently (FF and Chrome), but imho in a wrong way ... it doesn't respect the selection (end of inline), but puts the inserted content always to next text node:
`<inline|><text>` (paste "AAA") `<inline><AAAtext>`
This probably happens somewhere in `inse

[2018-03-05 16:37] ianstormtaylor commented on #1610
@urugator interesting! Great research.

For the inserting fragment, it sounds like we need to handle the case on the fragment containing a single text node separately without splitting.

[2018-03-05 17:08] thesunny commented on #1675
This conversation was further carried out in Slack but just updating this Issue.

It appears that using `setValue` with a JavaScript object like `{data: someDataObject}` works.

However, when I tried to update the entire `Value` object, that's when things went weird.

Here's a fiddle:

https://jsfiddle.net/nuk24Lfx/18/

Note that in my original bug I had a different error message but was running o

[2018-03-05 18:32] marian-c opened #1688 "onBeforeInput is not triggered as advertised"
I _think_ this is a bug.

The documentation mentions that this event (`onBeforeInput`) is triggered "right before a string of text is entered into the `contenteditable` element".

This is not the case, when I paste into the editor, the event is not triggered.

[2018-03-06 17:29] zhujinxuan commented on #1203
I think it is fixed by https://github.com/ianstormtaylor/slate/pull/1538

[2018-03-06 17:30] #1476 closed

[2018-03-06 17:30] #1552 closed

[2018-03-06 22:28] CameronAckermanSEL commented on #1563
Update: `value` cannot be easily passed down because it breaks memoization of the normalize functions.

[2018-03-07 01:49] bengotow opened #1690 "Latest release has unmet peer dependencies?"
Hey! The latest Slate release which bumped `slate` to 0.33.0 is causing issues for me. It looks like `slate-plain-serializer` and the other packages had their `devDependencies` bumped but not the `peerDependencies`, which means they still look for `slate@0.32.x` at install time and npm complains about an `UNMET PEER DEPENDENCY`:

https://github.com/ianstormtaylor/slate/blob/master/packages/slate-p

[2018-03-07 09:02] bogdanbrezuica commented on #1267
Sorry to bring bad news, but it seems this problem is still reproduced on the "huge document" slate demo. It works ok when typing, but when pressing enter the editor freezes for a few seconds (~3.5s in my case). Probably unrelated, but I started investigating performance issues when I noticed the "history" property on Value is growing exponentially with each change made to the document. After a fe

[2018-03-08 00:31] CameronAckermanSEL opened #1692 "range.setstart in findDOMRange fails when doing spellcheck corrections on text with a mark"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

An exception originates from ` r.setStart(start.node, start.offset);` when text with a `mark` is spell check corrected.
http://recordit.co/VdwvtBxDXQ
[code]

I have no idea why this is happening, or what it has to do with a `mark`. I suspect it'll probably be something really simple that we'll laugh

[2018-03-08 00:32] CameronAckermanSEL commented on #1692
I plan to spend some more time refining this bug report, I don't think it has useful enough information.

[2018-03-08 00:41] CameronAckermanSEL opened #1693 "Copy of a word within a marked set of text copies all characters prior to and including the selected word."
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?

When copying a word from a block that has a `mark` starting at the beginning of the text, all of the text prior to the selected word is also applied to the clipboard.

http://recordit.co/8dapGX4bRF

#### What's the expected behavior?

Only the selected word is copied.

[2018-03-08 00:45] CameronAckermanSEL commented on #1692
This is a duplicate of https://github.com/ianstormtaylor/slate/issues/1275, except that the crash is now different.

[2018-03-08 00:45] #1692 closed

[2018-03-08 00:47] CameronAckermanSEL commented on #1275
This now crashes in `findDOMRange` instead. http://recordit.co/VdwvtBxDXQ

[2018-03-08 00:49] zhujinxuan commented on #1693
I do some logs in the devTool.  I am sure that the problem is the fragment contains no marks in insertFragmentAtRange

I think the problem is by getFragmentAtRange

[2018-03-08 09:57] god8891 opened #1694 "Can you support window's edge browser (version 38.)？"
Windows edge browser prompts that "objects do not support" closest "attributes or methods"，Can it be compatible? sos！ sos! sos！

[2018-03-08 10:19] roundrobin commented on #1291
@ianstormtaylor any update on this bug?

[2018-03-08 15:51] zhujinxuan commented on #1275
@ianstormtaylor @CameronAckermanSEL @isubasti
Hi, I set a break-point to understand what is happening after rendering.  It seems the onInput method is not doing the right thing in the auto-correct, and therefore the findDOMRange cannot find the right selection:

<img width="924" alt="screen shot 2018-03-08 at 10 49 15 am" src="https://user-images.githubusercontent.com/746159/37160553-7dff9be4-22be

[2018-03-08 16:11] zhujinxuan commented on #1275
Find the reason: trying to fix:
<img width="1569" alt="screen shot 2018-03-08 at 11 09 33 am" src="https://user-images.githubusercontent.com/746159/37161685-5de9cdd6-22c1-11e8-9c33-b505d96c0e31.png">
This is a shot during the `before.js/onInput`  I think we shall find a method to block the onInput event

[2018-03-08 16:41] zhujinxuan commented on #1275
I find the reason; but I am not sure how to solve it in a neat way:
https://stackoverflow.com/questions/32298064/preventdefault-not-working-in-on-input-function

preventDefault is not working with input events

[2018-03-08 16:56] zhujinxuan commented on #1275
It seems DraftJs's solution about it is to reset nodeValue...
https://github.com/facebook/draft-js/blob/master/src/component/handlers/edit/editOnInput.js

Too complex, I give up.  lol

[2018-03-08 17:15] zhujinxuan commented on #1681
My naive solution about this:
https://github.com/zhujinxuan/slate-better-soft-break

[2018-03-08 18:17] zhujinxuan commented on #1275
Update:
1. in content.js; componentDidUpdate find that
`this.props.editor.value.document.text==='help'`

[2018-03-08 23:29] isubasti commented on #1694
There are actually a lot of closest() method used inside the code base but it should work on edge from version 15 onwards https://caniuse.com/#feat=element-closest

[2018-03-08 23:33] isubasti commented on #1275
@zhujinxuan nice find.I believe if this problem is fixed then problems on Android & IME might be solved, fingers crossed

[2018-03-08 23:54] gnalck opened #1696 "Moving cursor into an empty leaf results in slate crashing"
#### Do you want to request a _feature_ or report a _bug_?
A bug

#### What's the current behavior?
moving cursor into an empty leaf can result in Slate crashing

fiddle: https://jsfiddle.net/hny81Ldp/ (place cursor at end, move to left with arrow key)
gif: https://media.giphy.com/media/xjWbZ8hrhqJetNhqGi/source.mp4
environment: Latest slate (whatever is on slatejs.org), on Chrome 64, Mac High Sie

[2018-03-09 00:04] gnalck commented on #1696
per discussion in slack, seems to be related to https://github.com/ianstormtaylor/slate/issues/1275

[2018-03-09 03:56] rossfishkind opened #1697 "Issue with multiple, successive instances"
When creating multiple instances of the slate `Editor`, one after the other, the additional instances are non-editable. Instead, when you try to focus them, they focus the original instance instead. (_I have tested this issue in Safari and Chrome_)

I have created a fiddle that reproduces this issue:
https://jsfiddle.net/rossfishkind/yhzgjj82/35/

**To reproduce in the fiddle:**

1. Tap the "Add E

[2018-03-09 15:33] pizn commented on #1694
You can add polyfill to fix this question.
By the way, closest api can fixed by:

[code]

[2018-03-09 16:15] pizn commented on #1697
Because you use the same initialValue for every instances, and the Editor instances will use the document key for selection target.

Now you have to way to fixed this question:
1. When you insert a new editor, you can change the document's key value, like this:
[code]

2. Use `resetKeyGenerator` and `setKeyGenerator` to change the default key.

[2018-03-09 17:04] rossfishkind commented on #1697
@pizn you are amazing my friend! thank you!

[2018-03-09 17:04] #1697 closed

[2018-03-09 17:45] zhujinxuan commented on #1275
I think it is fixed in https://github.com/ianstormtaylor/slate/pull/1695
Would you like to have a test?

[2018-03-09 20:04] #1694 closed

[2018-03-10 16:30] ianstormtaylor commented on #1291
Not from me personally, because I’m not affected by it right now. But if anyone else wanted to PR a fix that would be awesome!

[2018-03-11 10:27] Kornil commented on #1497
I feel this issue is really important and should be addressed by slatejs:
At the moment pasting a nested list does not return and error, just copy the non-nested content, users have no way to identify the omission if not manually going back to check the pasted content.

In light of this I'd suggest to use part of the gist by @bengotow (which I adapted already to a private project to fix the same i

[2018-03-11 22:02] bengotow commented on #1497
Hey folks! After a bit more polish, I actually ended up switching to an approach that adds wrapping blocks, etc. to the resulting Slate graph before passing it through the normalizer, rather than changing the HTML before converting it. I think that's preferable because it works with any HTML <> Slate mapping rather than relying on an assumed set of conversions.

You can find the latest code I'm us

[2018-03-12 03:48] thesunny commented on #1656
Okay, I’m off to Hawaii on Wednesday for a week but sometime after I get back, I’m gonna take a crack at moving this forward with everybody that can contribute.

As I said, I wasn’t sure I’d be the best choice but in absence of any other choices, it’s pretty clear that by default, I’ve become the best choice. :)

[2018-03-12 06:36] god8891 commented on #1694
thinks! Do you have a browser compatible version list?

[2018-03-13 04:26] isubasti commented on #1275
seems to be fixed by #1695. Tried to enable spellcheck on firefox as well but no luck. It kinda looked like it's working but then when you start typing, it is not on the right position

[2018-03-13 07:05] doortts opened #1701 "Korean language input bug, missing chars, eventually freezing"
#### Do you want to request a _feature_ or report a _bug_?

First, I want to say thank you for your awesome editor. I'm a maintainer of project hosting software [Yona](https://github.com/yona-projects/yona)
We want to change our main editor to slate. But there are problems now. I hope it is resolved.

#### What's the current behavior?

When I type Korean, if I type more than 3 Korean chars, it doe

[2018-03-13 11:02] sowasred2012 commented on #1267
@ianstormtaylor not sure if this issue is being addressed elsewhere, do you want us to create a new issue for it?

[2018-03-13 21:13] raviteja83 opened #1702 "Uncaught Error: Invalid `key` argument! It must be a key string, but you passed: null"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

When value is empty the above error is thrown when updating the doc. Can you please explain how to start with an empty doc without initialValue?

#### What's the expected behavior?
The error should be handled.

[2018-03-14 09:25] lucadegasperi opened #1703 "IE11 Soft Breaks not Working"
#### Do you want to request a _feature_ or report a _bug_?

A BUG

#### What's the current behavior?

[code]

[code]

Using the following packages when doing a `shift + enter` on the keyboard in IE, the cursor starts moving around and the next character I type on the keyboard makes the editor crash.

![schermata 2018-03-14 alle 10 22 01](https://user-images.githubusercontent.com/820687/37393528-9f

[2018-03-14 13:19] Soreine commented on #734
The state of this issue is not clear. Most of the issues initially mentioned seem to be resolved.

Should we close this issue and invite people to open new issues for the unresolved bugs? Or could someone sum up the state of this issue ?

[2018-03-14 13:28] Soreine commented on #1658
Is this related ? https://github.com/ianstormtaylor/slate/issues/1502

[2018-03-16 09:55] #1224 closed

[2018-03-16 10:07] harryprimoko opened #1706 "Not able to delete list item bullet"
Dear Team,

I'm facing a issue with list items when i try to make a list like :

- A
- B
- C

when doing Backspace first bullet item is not getting delete
-

Any help and suggestion would be appreciated. Thanks

[2018-03-16 11:15] mkampik commented on #428
@aehlke, do you remember what you were doing wrong by any chance?

Tried finding your convo on slack, but looks like it was too long ago :/

I'm having a similar problem of changes to node's data object not causing a re-render the second time I update it...

[2018-03-16 15:14] aehlke commented on #428
@mkampik I don't recall but my (extremely messy) source is here: https://github.com/aehlke/manabi/tree/master/manabi/static/js/draft-js-furigana-plugin

[2018-03-16 15:17] mkampik commented on #428
@aehlke thanks, appreciate it! Will have a browse ;)

[2018-03-16 20:27] CameronAckermanSEL commented on #1706
Could you elaborate a bit more on the expectations, and provide a GIF? The issue template has a tool that you can use to generate one.

Thanks :)

[2018-03-17 11:11] allesklarbeidir commented on #1190
Hey, I've also had this problem and it took me some time to get it working.
I looked up the source code and found that removeMark is using removeMarkAtRange and value.selection as range.
The problem is, like you have described, that if you just have your cursor within the mark and calling removeMark would not change anything because the value.selection is not expanded to the whole mark.

I solved

[2018-03-17 18:11] Slapbox commented on #725
I was using Chrome Remote Desktop today and noticed that the keyboard seems to act as a proper keyboard for input. I wonder if there's some way to force this behavior in an app. In Chrome Remote Desktop, swipe and suggestions are disabled.

[2018-03-19 05:39] e346m opened #1708 "Cant't delete character which is placed just behind transformed character"
#### Do you want to request a _feature_ or report a _bug_?
bug report

#### What's the current behavior?
![can t delete character after kanji sometimes](https://user-images.githubusercontent.com/4677523/37579429-5a5b29b2-2b81-11e8-8f3a-54d408ba0041.gif)

OS: macOS High Sierra
browser: Firefox nightly v61

and

OS: OSX El Capitan
browser: Chrome v64
slate version: 0.32.2

#### What's the expected b

[2018-03-19 14:44] pferdone opened #1709 "Slate crashes on ALT+SHIFT+BACKSPACE"
#### What's the current behavior?

- A JSFiddle that minimally reproduces the issue: http://slatejs.org/#/rich-text
- A GIF showing the issue in action: https://imgur.com/rjbcsqS
- Information about your OS, browser, Slate version, etc: MacOS, Chrome 64.0.3282.186

#### What's the expected behavior?

No exception on ALT+SHIFT+BACKSPACE

[2018-03-19 16:11] illesg opened #1710 "IME - Japanese input - some characters get erased"
#### Do you want to request a _feature_ or report a _bug_?

_bug_

MacOS High Sierra (10.13.3)
Chrome 64.0.3282.186 using input method: **Hiragana (Google)**

**expected behavior:** if you type the characters: nn[space]wo, the expected output is: ンを

**current behavior:** currently in slate, the output is: ンお  (character sequence: nn[space]o, w gets erased)

It looks like the editor's forced re-re

[2018-03-19 22:43] CameronAckermanSEL opened #1712 "When Selection passes over an image block in firefox,"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

In Firefox when selection crosses an image (or more precisely probably a void block), selection is lost on nodes that were selected before the image, and selection does not continue afterwards.

This is possibly due to Firefox being unable to deal with its own `contentEditable` feature in an elegant

[2018-03-20 04:42] zhujinxuan commented on #1712
I remember there were an issue about selection crossing images?

[2018-03-21 01:57] ianstormtaylor commented on #1706
Hey, thanks for using Slate! Unfortun...

[2018-03-21 01:57] #1706 closed

[2018-03-21 01:58] ianstormtaylor commented on #1702
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2018-03-21 01:58] #1702 closed

[2018-03-21 01:59] ianstormtaylor commented on #734
@Soreine sounds good to me!

If anyone is experiencing something from this issue, please open a new one with a specific description and reproduction case. Thanks!

[2018-03-21 01:59] #734 closed

[2018-03-21 02:00] ianstormtaylor commented on #474
Ehhh didn't fix it.

[2018-03-21 02:07] 21-Hidetaka-Ko commented on #1710
Same as me. Thanks for issuing.

[2018-03-21 16:55] urugator commented on #1712
The problem is that firefox can't extend selection over nested `contenteditable="true"`.
Try this:
[code]
Play with it for a while, try selecting from different directions, using mouse or cursor keys ... it's super buggy.
There is such nested `contenteditable="true"` (`data-slate-spacer`) just before `<img>`.
Emojis suffer the same problem (perhaps all voids?).

I also found an edge case where FF

[2018-03-21 18:13] damo1884 commented on #259
Any update on the status of a collaboration plugin?

[2018-03-21 21:09] #474 closed

[2018-03-21 23:24] tashburn commented on #1690
I'm getting the same warnings by (I think) webpack --

[code]

[2018-03-21 23:56] #1690 closed

[2018-03-22 00:01] ianstormtaylor commented on #1690
Thanks for the note. Should be fixed now, it was due to the new Lerna where `peerDependencies` aren't automatically bumped, which is good.

[2018-03-22 09:22] Soreine commented on #1402
Just wondering if we can trust the garbage collector to detect cyclic references and still garbage them ?

[2018-03-23 05:58] 21-Hidetaka-Ko commented on #1708
Same as me. This is a critical problem.

[2018-03-23 20:09] thesunny opened #1720 "Roadmap to Slate Mobile Support"
This is the roadmap to adding mobile support to Slate as per this issue https://github.com/ianstormtaylor/slate/issues/1656

Please help, especially if you have experience with Android which I don't.

Note: Any part of the roadmap is open for discussion

## Browserslist
The list of supported mobile browsers is based on a combination of:

- QuillJS, an editor that has mobile support
- Saucelabs in

[2018-03-23 20:10] thesunny commented on #1656
I'll close this issue soon as I've started a separate issue on developing a Roadmap to Mobile Support https://github.com/ianstormtaylor/slate/issues/1720

If you are following this issue, please pop over to the Roadmap.

[2018-03-23 20:17] thesunny commented on #725
I created a Roadmap to Mobile Support issue https://github.com/ianstormtaylor/slate/issues/1720 in order to get official mobile support added to SlateJS.

This issue is one of the key issues to fix and any help would be appreciated.

I've also created a #mobile channel to Slack for people to discuss mobile related issues https://slate-slack.herokuapp.com/

[2018-03-23 20:17] thesunny commented on #1720
Note: I added a #mobile channel in Slack to discuss mobile issues https://slate-slack.herokuapp.com/

[2018-03-24 00:01] czechdave opened #1722 "cloneFragment is broken when multiple <Editor /> instances are present"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
If we have multiple instances of <Editor /> on one page, it is impossible to copy text from any but the first instance in the DOM.

#### What's the expected behavior?
We should be able to copy from any editor instance.

This bug is caused by the `cloneFragment` function always selecting the first inst

[2018-03-24 04:58] Hongbo-Miao opened #1724 "feature request: image resize"
#### Do you want to request a _feature_ or report a _bug_? feature request

It would be great to support resizing image when an image is selected, something like

![image](https://user-images.githubusercontent.com/3375461/37860578-4577fc3e-2ee5-11e8-87c0-008eac062a23.png)

Please correct me if I missed something, thanks!

BTW, the package looks very promising!

[2018-03-24 05:37] Hongbo-Miao commented on #743
Same here, seems that plugin is not maintained any more. https://github.com/oozou/slate-suggestions/issues/24

[2018-03-24 06:17] Hongbo-Miao opened #1725 "feature request: mention"
It would be great to support mention `@`, something like
![image](https://user-images.githubusercontent.com/3375461/37861126-4cc12b04-2ef0-11e8-8a8c-46104cd20c7d.png)

Link to https://github.com/ianstormtaylor/slate/issues/743

[2018-03-24 08:05] chilijung opened #1726 "Remove draggable attribute in nodes."
#### Do you want to request a _feature_ or report a _bug_?

Now every node will wrap with a `div` container with draggable attribute, this will conflict with customized dnd features, source: https://github.com/ianstormtaylor/slate/blob/3339d088e14ad0bf04a674c14834179403ae369f/packages/slate-react/src/components/void.js#L79

![](https://user-images.githubusercontent.com/3375461/37860520-4a44dee0-2e

[2018-03-24 17:10] bengotow commented on #1690
Awesome - thank you! 👍

[2018-03-25 00:30] tashburn commented on #1690
Super! Thanks.

[2018-03-25 03:03] pizn commented on #1726
Handle image resizing can use `mouseDown`/`mouseMove`/`mouseUp` event. And void node support `draggable` attribute is needed.

[2018-03-25 03:07] chilijung commented on #1726
@pizn, I think slate shouldn't default add `draggable` attribute, there are many dnd libraries that do better jobs. Right now it's interfering other libraries.

[2018-03-25 03:10] pizn commented on #1726
Maybe can support custom defined `draggable` attribute, default is true.

[2018-03-25 04:35] thesunny commented on #725
Does anybody know how or if you can replicate this bug using an emulator on the Mac?

[2018-03-25 13:55] nathanfu88 commented on #725
@thesunny You can download Android Studio and set up an Android Virtual Device with any of the more recent APIs. If you open up Chrome and check out the SlateJS demos, you should be able to replicate the issue easily.

[2018-03-25 14:13] javan commented on #725
https://www.genymotion.com/fun-zone/ works well too.

[2018-03-26 13:42] crisu83 commented on #1720
Please start with #725 instead of the documentation because it's a major PITA for Android users.

[2018-03-26 15:29] tobiasandersen commented on #1724
Hi! I think features like this makes more sense to create as plugins outside of Slate. Hopefully people will do this and release as open source. I'd try the slack channel in the meantime and see if anyone can help you!

[2018-03-26 15:29] #1724 closed

[2018-03-26 16:03] tobiasandersen commented on #1726
Yeah I've also found myself work around this. Couldn't people just set the `draggable` attribute themselves if they want it, but also where they want it?

[2018-03-26 18:04] thesunny commented on #1720
@crisu83 Those are all considered the first priorities and I'm hoping to get different people to work on different projects. I can see from my wording how that was written in a confusing manner though.

I already completed the iOS guide (just waiting for an answer from @ianstormtaylor before I merge the PR) and, personally, I (and probably some others) can't work on the "Input is wonky" bug until

[2018-03-26 18:07] thesunny commented on #725
Thanks @nathanfu88 and @javan.

[2018-03-26 19:27] thesunny commented on #725
@nathanfu88 I'm not clear what the simplest way is to run a browser like Chrome in Android Studio. Could you point me in the right direction?

I'm not even sure how to setup and start an Android Virtual Device. So far Google is leading me to all the wrong places. Mostly information about how to create a web view in an Android app.

[2018-03-26 19:40] czechdave commented on #1726
Just ran into an issue with the forced `draggable` attribute too. What is the reason Slate does anything related to draggability? As far as I can tell that attribute should just be removed.

[2018-03-26 19:56] ianstormtaylor commented on #1726
I’m down for it to be opt-in. If whoever submits the PR can also make it so that the images and emoji examples remain draggable that would be perfect.

[2018-03-26 20:07] nathanfu88 commented on #725
Install Android Studio: https://developer.android.com/studio/install.html

Make sure the options for "Android Emulator" and "Intel x86 Emulator Accelerator (HAXM installer)" are checked when it comes to SDK tools.

Follow this to create an AVD: https://developer.android.com/studio/run/managing-avds.html#createavd

When you create your device, in the Android Virtual Device Manager, click the Green

[2018-03-27 05:38] crisu83 commented on #1720
@thesunny is anyone working on #725 yet?

[2018-03-27 06:30] thesunny commented on #1720
The short answer is no.

Please be patient. The issues is tough enough to have been around for a year and I just got home from vacation a few days ago. The iOS guide and the Android guide (the other top priorities) are pretty much done but need to be merged and cleaned up a little. This lets more people work on the Android problem on the desktop.

The long answer is, there are many people that hav

[2018-03-27 10:02] benjycui commented on #1693
The bug relate to browser compatibility.

In Firefox, what we copy is:

[code]

In Chrome, what we copy is:

[code]

As you can see, `data-slate-fragment` is missing in Chrome's copied HTML. So that we cannot extract fragment from the HTML:

https://github.com/ianstormtaylor/slate/blob/4346ad0e3f4a956e40a71f3cfd36682be6f90f4a/packages/slate-react/src/utils/get-event-transfer.js#L43-L47

So that th

[2018-03-27 10:03] benjycui commented on #1693
You can try to copy from Firefox, and then paste in Chrome, it works fine.

And if you copy from Chrome, and then paste in Firefox, it is broken.

[2018-03-27 13:31] bryanph commented on #1651
This can be done in a plugin, checking for a new line and transforming data structure accordingly.

[2018-03-27 14:42] bryanph opened #1730 "[Idea] Abstract Delta Operations"
This is basically the same as #1456, but I will describe an approach here in the hope to get some feedback and to start a discussion. This is a first (perhaps naive) attempt at describing a possible approach.

### Reasons
* For storing delta operations in a back-end, it would be more efficient to store abstract operations which can later be converted to detailed operations,
* Allow undoing of user

[2018-03-27 20:56] tobiasandersen commented on #1722
Fixed by @czechdave in #1728 🎉

[2018-03-27 20:56] #1722 closed

[2018-03-27 22:51] tobiasandersen commented on #1693
We have the same problem as described by @benjycui when copying void nodes. See #1543 for some more info around it...

[2018-03-28 01:46] #1656 closed

[2018-03-28 01:48] thesunny commented on #725
Thanks @nathanfu88 for your help in the Slack channel. There's a PR for Android Develpment Guide now and I can replicate this bug.

[2018-03-28 02:05] benjycui commented on #1680
It works fine on Mac@10.13.3 & Chrome@65.0.3325.181

<img src="http://g.recordit.co/iVcOiuUlcD.gif" />

[2018-03-28 03:13] benjycui commented on #1669
See: https://github.com/ianstormtaylor/slate/pull/1733

[2018-03-28 06:15] #1669 closed

[2018-03-28 06:17] #1709 closed

[2018-03-28 07:40] benjycui commented on #1639
Slate's void node will be render as `contentEditable=false`, which will affect behavior of browser's `window.getSelection`.

You can try to debug in `onSelect` of Slate's after plugin, and then `mod+a`, you will see what I mean.

[2018-03-28 07:41] benjycui commented on #1639
https://github.com/ianstormtaylor/slate/pull/1734 will fix this issue.

[2018-03-28 09:12] #1617 closed

[2018-03-28 09:32] benjycui commented on #1547
The problem is, when users try to undo, they need to undo twice to revert back to previous text.

[2018-03-28 09:58] benjycui commented on #1555
-1 for this.

It's not a good idea to render your article with Slate's Editor, for you need to store Slate's value to database.

The structure of `Slate.Value.toJSON()` is unstable. If you store it into your database, it will be difficult to upgrade Slate, for newer Slate will not work with old data format.

Of course, you can write an adapter to convert old data format to newer data format, but t

[2018-03-28 11:09] javan commented on #725
You'll want to test various keyboards on Android too. GBoard behaves differently than the stock Android keyboard. See https://bugs.chromium.org/p/chromium/issues/detail?id=818332 for more 😕.

[2018-03-28 11:17] dmitrizzle commented on #1555
I'll definitely check out JsonML, thanks for the tip. Although storing Slate's Value has never been a problem for me and is a common practice amongst the users. In my use case users often edit their content, which would make maintaining and depending on another library an overhead.

[2018-03-28 13:54] zhujinxuan commented on #1547
@benjycui Yes, I forgot that....  It should be `removeTextByKey(....).insertTextByKey(...) `
but I think it would be much better to have an `replaceTextByKey`. I will submit a PR about that.

[2018-03-28 15:34] wagon1104 opened #1738 "Chinese input make video refresh"
#### Do you want to request a _feature_ or report a _bug_?

## BUG

#### What's the current behavior?

![](https://wagon1104.github.io/image/embeds-bug.gif)
#### What's the expected behavior?

[2018-03-28 16:07] ianstormtaylor commented on #1547
Actually, I think having both `replaceTextByKey` (which takes a `offset, length, text`) and `setTextByKey` (which takes just a `key`) would both be useful. Open to PR's that implement either of them.

[2018-03-28 16:09] ianstormtaylor commented on #1555
There's nothing inherently wrong with storing Slate's JSON directly in your database. These days the library is getting pretty solid, and the JSON structure shouldn't change too drastically in the future I don't think.

Really you're doing the same thing if you decide on an arbitrary custom implementation, it's just more explicitly "our own thing", but with the added cost of an extra conversion la

[2018-03-28 16:13] SamyPesse commented on #1555
@ianstormtaylor 👍

@dmitrizzle At GitBook, we are storing Slate's JSON in our database. We use our own deserializer/serializer because it started  with a legacy version of Slate.

We added a `schema_version` and `format_version` to the JSON. It helps us version the documents. basically if the `schema_version` is the latest one, we don't need to normalize the document after deserialization (=> Bett

[2018-03-28 16:14] ianstormtaylor commented on #1555
@SamyPesse that's a cool idea!

[2018-03-28 18:20] thesunny commented on #725
@ianstormtaylor @nathanfu88 @vshia and anyone else who's deep dived into this issue, I'd like to get some feedback into a possible solution to this issue.

So, I've been following this issue for a long time and it's the most important issue to solve for the Roadmap to Mobile Support.

From all the research I've seen, here's what I know:

* Every ContentEditable editor where the source of truth is

[2018-03-28 20:40] oyeanuj commented on #1555
@ianstormtaylor Curious about your thoughts on the original proposal(s) by @dmitrizzle?

[2018-03-28 22:39] ianstormtaylor commented on #1555
I'd be open to a way of doing it that doesn't add much complexity to Slate's codebase—not sure if there's an easy way though.

It seems like...

- For most of the use cases, if the read-only mode is toggleable, then you're going to need to have downloaded the non-read-only logic/dependencies anyways. I imagine that's at least 50% of cases.
- And then another good chunk would probably be that they

[2018-03-28 22:40] ianstormtaylor commented on #1555
I think people chiming in with details of their exact use cases would be beneficial. In the abstract this doesn't seem like something worth prioritizing otherwise.

[2018-03-29 02:09] benjycui commented on #1562
See: https://github.com/ianstormtaylor/slate/pull/1739

[2018-03-29 02:37] oyeanuj commented on #1555
@ianstormtaylor thanks for sharing your perspective.

I'll kickstart the ask by chiming in with my usecase: I am building a community product in which folks can create posts using Slate. Profile summaries also use Slate. These posts and profiles are going to be presented in read-only mode for all non-authors, which includes folks coming through search, etc. Reducing the size of the initial downloa

[2018-03-29 03:08] benjycui commented on #1493
Most of us expect 1. But why do we delete start block when selection is hanging?

https://github.com/ianstormtaylor/slate/blob/fb8075a2332b97abdc9fb8baae2ad3da052cba9f/packages/slate/src/changes/at-range.js#L244-L250

IMO, we just need to clean children of start block, and we don't need to delete start block or merge end block.

[2018-03-29 03:21] benjycui commented on #1437
@raffy2010 @Slapbox https://github.com/ianstormtaylor/slate/pull/1733 had fixed this issue, just try the latest slate.

And you can close this issue now.

[2018-03-29 04:05] zhujinxuan commented on #1547
@ianstormtaylor How about another thing:
for insertTextAtRange and insertText, if range is expanded but startKey and endKey is the same, use replaceTextByKey and do not use snapshot and deleteAtRange

[2018-03-29 04:36] dmitrizzle commented on #1555
I have three similar use cases:
1. A [package](https://github.com/roast-cms/french-press-editor) that provides a customizable & themeable component which contains Slate, bunch of plugins, utilities and components. The same package provides `<Reader />` component which takes a few options and returns Slate's `<Editor readOnly />` component for users to render their `Value` in React.
2. A blog that

[2018-03-29 13:49] #1437 closed

[2018-03-29 14:04] Dinhvamtramg opened #1740 "#171"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2018-03-29 14:05] Dinhvamtramg commented on #1740
https://twitter.com/myepayments?s=17

[2018-03-29 14:05] #1740 closed

[2018-03-29 14:33] ianstormtaylor commented on #1555
@dmitrizzle what about creating a "React serializer" for Slate, which renders to React components instead of to HTML or plain text. That way you can easily render values to a read-only representation.

I personally think about it like this:

1. Editing mode.
2. Read-only editing mode.
3. Reading mode.

The reason being that "read-only editing mode" is almost exactly like the editing mode, but with

[2018-03-29 18:13] zhujinxuan commented on #1547
@ianstormtaylor

About marks of setTextByKey, there are two choices.  Which one would you prefer?
   1. `setTextByKey(key: string , text: string|Text) `
   2. `setTextByKey(key: string, text: string, marks?:  Set<Marks>)`

Another question is shall we inherit `activeMarks` in repalceTextByKey and insertTextByKey?

[2018-03-29 19:08] ianstormtaylor commented on #1547
For `setTextByKey`, let's go with the same arguments as `insertText` (except without the `offset`).

And for `replaceTextByKey`, I think it would be good to inherit the active marks the same way as if the replacement happened with `remove` then `insert`.

[2018-03-29 20:48] zhujinxuan opened #1743 "[bug] Backward Selection paste will throw an error in undo"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
If we paste on a backward selection, then undo, it will throw an error:
![](http://g.recordit.co/LvT1ZKWngv.gif)

The error does not occur when we do not select multiple entire blocks, and does not occur with forward selection.

[2018-03-30 06:07] linonetwo commented on #259
Maybe we could make something likes https://github.com/automerge/hypermerge/, which use https://docs.datproject.org/hypercore as storage layer(which could be replaced by IPFS) and use https://github.com/automerge/automerge as CRDT.

[2018-03-30 08:59] linonetwo commented on #259
I think we can try automerge now.

[code]

Parts of output:
[code]

[2018-03-30 09:04] bengotow commented on #1708
Hey—I'm also seeing this problem with Mailspring and diatric marks. If you type `´`and then `i` back to back, sometimes (maybe based on speed?) you become unable to backspace or use the arrow keys to move the cursor /until/ you type another diatric and complete it with a vowel.

[2018-03-30 09:07] dmitrizzle commented on #1555
That sounds totally reasonable, Ian. I would love to have a package that would strictly render the Slate's `Value`, though I wouldn't know where to start to make something like this happen.

[2018-03-30 09:16] bengotow commented on #1708
I'm investigating this a bit further and I've found an interesting way to reproduce the issue. Open the Chrome inspector and put breakpoints in `slate-react/lib/plugins/before.js` at the top of `onCompositionStart` and `onCompositionEnd`. If you type a diatric it'll pause at the start breakpoint. Use the arrow at the top center of the viewport (`>`) to continue without removing focus from the web

[2018-03-30 09:28] Zhouzi opened #1744 "Using <input> inside a contenteditable="false" is broken in Firefox"
We noticed a bug in Firefox, rendering a node as follows is broken:

[code]

There are two things to note:

1. Left/right arrow keys don't move the caret
2. Pressing a character key (or backspace) throws an error:

I created a [repository](https://github.com/Zhouzi/slate-firefox-bug) reproducing the error with Slate and a minimal setup:
http://gabinaureche.com/slate-firefox-bug/

The error comes f

[2018-03-30 09:34] bengotow commented on #1708
Ok... so this is an interesting one. For me, this bug is only reproducible when the editor has complex plugins - specifically, plugins that implement `onChange()` and make modifications after you type the diatric character. When they're present, the cursor sometimes jumps from after the diatric to before the diatric, and that appears to prevent the browser from ever firing `compositionend`. In my

[2018-03-30 14:25] zhujinxuan commented on #1547
Done in https://github.com/ianstormtaylor/slate/pull/1745

[2018-03-30 15:14] zhujinxuan commented on #1654
An question:
Why we want to concat two blocks (if two blocks have different types) after delete?

[2018-03-30 15:46] CameronAckermanSEL commented on #1654
There are certain block types like paragraph and quote, or list item and paragraph that contextually make sense to merge together. Most editors (that I've seen) have this merging behavior.

[2018-03-30 16:50] CameronAckermanSEL commented on #1744
This can be worked around using
[code]

But if this bug is reproducible outside of slate, I think this is an indication that this is not a slate bug.

[2018-03-30 17:00] CameronAckermanSEL commented on #1744
This can be worked around by using

[code]

Or by using the componentDidThrow() react event handler to keep these errors from crashing the editor.

I also don't think this is a Slate bug.

[2018-03-31 16:46] SamyPesse commented on #1380
It looks like it was fixed by https://github.com/ianstormtaylor/slate/pull/1489, right ?

Or looking at your stack trace in Sentry, it may be an issue in detecting Firefox.

[2018-04-02 10:31] EricAmilhat opened #1749 "value.inlines : no value.activeInlines ?"
First of all, thank you guys for the amazing job with Slate JS.

#### Do you want to request a _feature_ or report a _bug_?

I wish to request a feature

I want to implement a highlight feature, with multiple colors.

I have currently done this using marks, but I have quickly realized that this highlight feature shouldn't use marks but Inlines instead.

This is because highlighting a word that has

[2018-04-02 12:59] thomaswhyyou commented on #1749
I haven't had the need to implement multi-color highlight personally so I can't confirm with certainty, but I think you might be able to pull this off with `Mark`? Looking at the latest Slate [doc for Mark page](https://docs.slatejs.org/slate-core/mark), its properties support `data` where you can store arbitrary meta data.

[code]
Couldn't you have one mark type  (e.g. `highlight`) and store colo

[2018-04-02 14:14] EricAmilhat commented on #1749
You did correctly understand my objective and indeed, I wasn't aware of the possibility to add arbitrary data to a mark, this is very helpful, thank you!

I guess using Marks would be better way then. Although, if I want to style the highlight (with border and border radius), this happens :

![highlight](https://user-images.githubusercontent.com/29569614/38199288-81139fb6-3690-11e8-92b0-c4dca2a4c6

[2018-04-02 14:29] EricAmilhat commented on #1749
As stated in the docs :

I'm guessing this highlight feature should be contiguous ?

[2018-04-02 14:55] thomaswhyyou commented on #1749
The issue you are describing here isn't specific to highlighting though it seems, and not necessarily to Slate.js either (see 'Well-Behaved Content' section of this [post] for the difficulty around document modeling and rendering (https://medium.engineering/why-contenteditable-is-terrible-122d8a40e480)).

Typically (in my experience), you want to render marks in a way that they are indifferent to

[2018-04-02 23:37] CameronAckermanSEL commented on #1749
This is correct, marks are not stored like this. The `text` of a `TextNode` is broken up into several `Leaf` blocks based on what marks exist on that segment of the text.

For instance, the text

`<b>this <i>has several</b> styles</i> on it`

looks like

[code]

[2018-04-03 12:31] kudlajz commented on #1015
@ianstormtaylor We're using version `0.33.4` and the problem still persists 😞

[2018-04-03 17:35] thesunny commented on #1720
Update:

Just a quick update on the Roadmap.

1. Both the iOS and Android Development guide are completed but it was decided to keep this outside of Slate proper since most of it could be used for any kind of mobile web development. My goal is to move this into a SAAS I've been working on for knowledge sharing (kind of like GitHub but for knowledge instead of code and simple enough for a layman to

[2018-04-03 21:00] CameronAckermanSEL opened #1752 "Void nodes can contain blocks?"
#### Do you want to request a _feature_ or report a _bug_?

Either a bug or a question :)

#### What's the current behavior?

The current behavior is that as of https://github.com/ianstormtaylor/slate/pull/1663/files#diff-4a9856aa0d6cae32f324558beae45156, `isVoid` blocks can now contain child blocks as opposed to only text nodes. Consider:

[code]

This test case (perhaps a bit contrived) verified

[2018-04-03 21:57] zhujinxuan commented on #1752
Watching ~

[2018-04-03 23:39] ianstormtaylor commented on #1752
I don't see why not 😄 But more seriously, I think it would be nice for the restriction on void nodes content to be completely lifted, so yeah if someone wants to put blocks in their void blocks they could. I personally don't have a use case for it yet, but I might in the future.

That's a very good question indeed. I think the only distinction is that as far as the editor is concerned, they are an

[2018-04-04 02:46] CameronAckermanSEL commented on #1752
This is a cool concept, but yeah at the very least the documentation needs to be updated to reflect this. We're approaching kind of an interesting space where we can have mergability of nodes controlled with isVoid (this sounds like what you're suggesting but maybe not) as opposed to controlling whether a node is directly editable and has children.

So in this new model we're sort of transitioning

[2018-04-04 09:17] doortts commented on #1710
It also happens in Korean. https://github.com/ianstormtaylor/slate/issues/1701

I think slate have CJK problems.

@ianstormtaylor How can I/we help you to solve these problems?

[2018-04-04 09:31] Hongbo-Miao commented on #1725
Hi @tobiasandersen I think it would be better leaving it open to let more people can vote up instead of closing it. And added a tag something called `plugin` and `help-wanted`.

This can help more users migrate from Draft.js to here. What do you think?

[2018-04-04 11:15] Soreine opened #1754 "insertFragmentAtRange results in invalid selection"
#### Do you want to request a _feature_ or report a _bug_?

A bug

#### What's the current behavior?

As exposed by this PR #1379 there was a test that was passing, but was revealed to be ill-formed. The test is the following, and it yields an invalid selection:

[code]

#### What's the expected behavior?

The selection object should point to a valid place in the document:

[code]

[2018-04-04 15:47] ikorgik opened #1757 "Issues in IE 11"
Hi, we found several issues in IE 11 during slate integration:

[code]

[code]

[code]
Attached a pull request with changes that work well to me:
https://github.com/ianstormtaylor/slate/pull/1756

[2018-04-04 16:16] Slapbox opened #1758 "Can't use Ctrl+Arrows to navigate to end of a line of text"
#### ~~BUG~~ FEATURE

#### What's the current behavior?
Ctrl+Arrow keys cannot stop at the end of a line of text if the last character is a number or letter. It works fine if the last character is a space or (most types of) punctuation. Colon's are one exception I've found

  - A JSFiddle that minimally reproduces the issue: [This can be reproduced on any official example](http://slatejs.org/#/for

[2018-04-04 16:52] Slapbox commented on #1418
This is an issue again as of `0.33.4`

[2018-04-04 18:44] Slapbox commented on #1418
`editor.value.history.undos.size` seems to have a default size of `1`

Why is this?

[2018-04-04 21:56] Slapbox opened #1759 "Dragging text node to empty line results in key change for both lines, making action impossible to undo"
#### BUG

#### What's the current behavior?

For bugs, you **must** include the following:

  - A JSFiddle that minimally reproduces the issue: **Reproducible on official examples**
  - A GIF showing the issue in action: http://recordit.co/vGe5NmjzTC
  - Information about your OS, browser, Slate version, etc:

`Windows 7`
`Chrome 65`
`Slate 0.33.4`

#### What's the expected behavior?

Dragging tex

[2018-04-04 21:56] #1758 closed

[2018-04-04 21:57] Slapbox commented on #1757
I can't even load http://slatejs.org/ in IE11.

**Error:**
[code]

[2018-04-05 06:56] renchap commented on #1757
This is because the official website is not transpiled for IE11 compat nor includes the needed polyfills (like Symbol)

[2018-04-05 17:40] oyeanuj commented on #1752
If we do that, I'd assume that any editable node with the void then would be managed 100% by the consumer, rather than Slate?

[2018-04-05 20:01] ianstormtaylor commented on #1752
I think `isVoid` will remain as a node whose content is out of the concern of Slate, and treated as a single, atomic block.

We might need to introduce `isAtomic` or similar if people want to have nodes that are atomic but still controlled by Slate. I haven't really thought that through though.

[2018-04-05 20:03] CameronAckermanSEL commented on #1752
I've been working on an `isAtomic` schema controlled option for blocks for an issue here: https://github.com/ianstormtaylor/slate/issues/1654

But it's really early and I'm still working on developing the test cases up front. Lots of corner cases.

[2018-04-06 06:33] JanLoebel opened #1761 "German Keyboard & Chrome - Backticks destroy backspace"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
- If I use my german keyboard to write 2 backticks after each other in Chrome (v65.0.3325.181), backspace is broken afterward. Firefox instead works. I've tested it also with draftjs and there it works in the same browser.

How to reproduce:
- Select a german keyboard layout
- Open: http://slatejs.org

[2018-04-06 13:25] Zhouzi opened #1762 "Unexpected call to onChange when a different value is provided"
**Steps to reproduce:**

1. Create an editor with an initial value and no schema
2. Change that editor's value somehow, still without any schema (e.g by clicking a button)
3. `onChange` is called

[Reproduction](https://codesandbox.io/s/74km4o5n1)

There is no normalization happening so `onChange` shouldn't be called. After digging deeper, it seems that the only difference comes from `schema.Stack

[2018-04-06 23:56] NA-Dev commented on #893
I had this or a similar issue. I solved it by adding event.PreventDefault() to the subsequent handler (onChange, onClick, etc).

[2018-04-07 21:45] JanLoebel commented on #560
Thank you @andykent and @majelbstoat! I created two basic repositories to store the files and add some information how to use them in a current project to find other bugs and improve the definition further. Please feel free to create any Pull-Request or add issues. Thank you for the great work so far :)

https://github.com/JanLoebel/types-slate-react
https://github.com/JanLoebel/types-slate

[2018-04-09 00:35] zhujinxuan opened #1764 "The Reason of benchmark inrobustness"
There is a long complain by several guys that the benchmark is unstable by a range of +-40%.  I read some source code of matcha (the benchmark framework we are using), and find that matcha is using `process.hrtime` (the real world time), not the `process.cpuUsage` (the cpu time)

I will submit a PR to matcha, but I am not sure whether it will be merged; The author of matcha has been inactive in gi

[2018-04-09 01:51] zhujinxuan commented on #1764
Not working.  The result is still inrobust with cpuUsage

[2018-04-09 02:03] zhujinxuan commented on #1764
Hypothesis: The problem is perhaps related to babel-node. The time of transcription in `import 'relativePath'` is calculated multiple times...

[2018-04-10 18:27] zhujinxuan opened #1767 "UMD not updated in the 0.33.4 publish"
Thanks to @gggdomi's finding.

## Evidence
The following snapshot is from npm in
<img width="1680" alt="screen shot 2018-04-10 at 2 17 43 pm" src="https://user-images.githubusercontent.com/746159/38576101-26cc238e-3ccb-11e8-8b28-c76a063a6125.png">
, which does not include the following commit in 0.33.4 tag
https://github.com/ianstormtaylor/slate/commit/28220e7007adc232fa5fefae52c970d7a3531d3d

##

[2018-04-10 22:47] chitezh opened #1768 "Pasting very huge document freezes the editor, taking more than 10 minutes to finally paste"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Pasting a very huge document like the one contained in this file [https://www.dropbox.com/s/wpefhhwrivvajvc/huge.text?dl=0](https://www.dropbox.com/s/wpefhhwrivvajvc/huge.text?dl=0) on slatejs.org demo app freezes the app. I didn't see the need to make a jsfiddle example as it's happening on slate d

[2018-04-10 23:58] CameronAckermanSEL commented on #1768
Was this using the paste html example?

[2018-04-11 00:00] chitezh commented on #1768
I tried it on richtext and huge document examples(clearing existing contents first).

Note, I pasted the content on the linked file [https://www.dropbox.com/s/wpefhhwrivvajvc/huge.text?dl=0](https://www.dropbox.com/s/wpefhhwrivvajvc/huge.text?dl=0) not the dropbox page

[2018-04-11 00:03] CameronAckermanSEL commented on #1768
I don't know that those examples have paste handlers, so maybe check what happens with the Paste HTML example because that's specifically implemented to showcase the paste handling and how that works.

It might have the same performance problems, but it also might not.

[2018-04-11 00:09] chitezh commented on #1768
Just tried pasting on `Paste HTML` example; same result

[2018-04-11 01:35] 21-Hidetaka-Ko commented on #1710
We can't launch by you fix this issues. Could you solve this if you can ?

[2018-04-11 01:35] 21-Hidetaka-Ko commented on #1708
We can't launch by you fix this issues. Could you solve this if you can ?

[2018-04-11 08:52] Zhouzi opened #1769 "Selection is not lost when clicking a non-editable block in the editor (and then outside)"
Clicking an element with `contentEditable={false}` in the editor is ignored and the selection remains as if nothing happened. The selection says that the focused node is still the one that was focused before clicking the non-editable element. More importantly, clicking outside of the editor after that doesn't clear the selection which still says that it's focused.

## Steps to reproduce

1. Create

[2018-04-11 15:52] zhujinxuan commented on #1402
An update:
I would argue that `asArray` functions are not certainly faster than immutable functions in this stage.

1. Our data are stored, like characters, leaves, marks in an immutable way.  Thus each time we are using `asArray` function, we have to transform these data with `toArray()` function.  However, immutable.js does not have an array cache.  Each time of the convertion, we are creating n

[2018-04-11 16:27] majelbstoat opened #1770 "Support for combining or merging operations"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### Description

Slate's low-level operation primitives are great, but it's a lot of overhead to send them back to the server. I would like to see support for combining sequential operations where possible.

This is a slightly different need, but has some overlap with https://github.com/ianstormtaylor/slate/issues/1730. There @b

[2018-04-11 16:29] majelbstoat commented on #1730
At Medium (not using Slate, but similar architecture), we call these Commands. They also function as atomic undo checkpoints. For example, when undoing the insertion of an image, we also have to remove the caption block too. It's a pretty fundamental part of the architecture, and seems like it's generally applicable to editors.

[2018-04-11 20:34] ianstormtaylor commented on #1730
Open to ideas here for how this might be implemented. Would be great to see some pseudo-code samples at the least. I'm not sure I follow exactly what these types of things would be.

[2018-04-11 20:37] ianstormtaylor commented on #1770
Absolutely! I think this is a great idea. I believe this is something that is also useful in operational transform, where it is referred to as "composing" operations. I'd be down for a file that does this to live in `./src/operations/compose.js` if someone is down to contribute it. I believe it should act on an array/list of operations.

[2018-04-12 16:58] majelbstoat commented on #1770
Cool. I've updated my gist a little to get this closer to what it should be. It now merges insert and remove text operations, and just pushes other kinds of operations. The interface is still working on a class member variable, so it needs tweaking for the general case. If someone else wants to run with this, they are welcome to, otherwise I will attempt to turn it into a vanilla JS implementation

[2018-04-12 23:20] CameronAckermanSEL opened #1773 "wrapNodeByKey is missing from docs"
#### Do you want to request a _feature_ or report a _bug_?

Trivial documentation bug

#### What's the current behavior?
`wrapNodeByKey` function is not documented

#### What's the expected behavior?
Function is included in docs

(filed but I plan to fix this later)

[2018-04-13 14:40] zhujinxuan commented on #1768
I do not find a easy way to solve the problem.  It seems we have to async the serializer to solve the problem.

[2018-04-13 14:57] bsouthga opened #1775 "Copying a selection starting with an empty block fails to preserve formatting on paste"
#### Do you want to request a _feature_ or report a _bug_?

It looks like there is a bug around copy / pasting lists (and possibly other blocks) when the selection starts with an empty block.

#### What's the current behavior?

When copying a selection starting with an empty block, the pasted result is unformatted plaintext. However, if the selection starts with a non-empty block, formatting is re

[2018-04-13 18:13] bwalex commented on #1032
Just thought I'd add my experience, hopefully it'll help someone else.

I ran into this issue, where the editor wouldn't scroll correctly on pressing enter in a scrollable container. However, after setting some breakpoints around the relevant logic, the issue I had was that findScrollContainer() was finding the "wrong" container. I had another container with auto overflow around the editor, which,

[2018-04-14 16:52] Slapbox commented on #1768
Woah yeah that document destroys my editor. It's been several minutes now since the cursor even blinked. I eventually had to restart, as I have no idea how much longer that might have gone on for.

[2018-04-14 19:00] afrankel-sfdo opened #1776 ".focus() doesn't work"
###  Bug Report

#### What's the current behavior?

![ezgif-1-b8c62dfb7f-1](https://user-images.githubusercontent.com/31106469/38771541-358f1506-3fe2-11e8-912d-3ca49594fd3b.gif)

firing `.focus()` doesn't revert to previous selection, or even focus the editor.

code sample: https://codesandbox.io/s/13r8qmv0l3 (see: line 113)

Made a simple change to slate example code, removing `event.preventDefau

[2018-04-15 16:41] #1773 closed

[2018-04-16 00:02] zhujinxuan commented on #1768
I have a hypothesis.  The slate creates a list of characters when creating texts.  If we change the structure of text, use leaf rather than characters as the base of text.  It would solve the problem.

However, I would begin on performance issue when and only when my finishing https://github.com/ianstormtaylor/slate/pull/1765

[2018-04-16 06:30] jvdsande commented on #1775
Hi, I can confirm having this issue on all major browsers.

I actually made a PR fixing this issue a few days back: https://github.com/ianstormtaylor/slate/pull/1748

Regards,
Jeremie

[2018-04-16 06:37] jvdsande commented on #1775
I should note that this affects more than lists: it's all blocks and all marks, as the slate-data-transfer attribute is not set at all, resulting in complete plain-text copy.

[2018-04-16 06:38] jvdsande commented on #1775
The 'data-slate-fragment' attribute, to be correct.

[2018-04-16 12:12] Soreine commented on #1650
The mentionned PR was merged. Is the performance issue here resolved?

[2018-04-16 15:17] czechdave commented on #1650
Yes

[2018-04-16 15:17] #1650 closed

[2018-04-16 19:16] Slapbox commented on #1776
It's not supposed to save the selection state, in line with Slate's goal to be agnostic about such things. You can re-select the previous state by saving the selection properties from the previous value and re-applying them via `onChange` when `onFocus` fires. If you don't have an `onFocus` on the editor already, you will need to add one to help handle this.

[2018-04-16 22:10] sethmcleod commented on #1757
On a related note, I just opened a PR for adding the polyfills needed to support IE11 on the example site: https://github.com/ianstormtaylor/slate/pull/1782

[2018-04-17 00:55] thesunny commented on #1720
Just another short update.

1. @nathanfu88 has let me know that he has completed a draft of the Android issues write up and is awaiting a review for technical accuracy.
2. I'm completing a feature on my project right now. The next feature will allow public publishing of knowledge which is where I will put the development guides.
3. Once 1 and 2 are completed, I'll try and put some time into https:

[2018-04-17 01:14] Slapbox commented on #1776
You would think so... Right now I'm having the same exact problem. I don't think I was in Slate 32. Who knows though, I've burned myself out trying to resolve this today.

You can try using this to focus, but it doesn't work for me on an empty editor... nothing does...

`this.onChange(value.change().focus().value)`

[2018-04-17 02:42] benjycui commented on #1768
The bottle neck is `node.mapDescendants`, not serializer. See: https://github.com/ianstormtaylor/slate/pull/1783

[2018-04-17 13:12] ProductiveRage opened #1784 "IE11 cursor jumps when set text to bold (using rich text editor example)"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

(Note: I'm aware that IE11 is not being given priority support in this beta stage but I thought that I would raise this bug in case anyone could point me in the right direction or let me know if they have seen this issue before)

I'm using the polyfills "babel-polyfill" (so that Symbol support is av

[2018-04-17 14:03] zhujinxuan commented on #1754
I think the problem is caused by the cursor restore in insertFragment, not in insertFragmentAtRange

[2018-04-17 14:07] ProductiveRage commented on #1784
I've tested in Edge (Microsoft Edge 41.16299.248.0) and problem does not occur - just in case that information is helpful to anyone!

[2018-04-17 15:20] raymestalez opened #1785 "By default, editor renders twice"
Once the editor renders for the first time, onChange() is immediately triggered, which causes it to rerender once again.

I have added `console.log("Render!")` to the `render()` function in the default example, and it runs twice:
https://jsfiddle.net/fj9dvhom/333/

This seems like a weird behavior that shouldn't happen.

![slate-double-render](https://user-images.githubusercontent.com/4761235/3887

[2018-04-17 17:00] ProductiveRage commented on #1784
I'm guessing that this is something to do with the workaround for IE11 not supporting "Selection.setBaseAndExtent" -

[github.com/ianstormtaylor/slate/search?q=setBaseAndExtent](https://github.com/ianstormtaylor/slate/search?q=setBaseAndExtent)

I'm new to this code base and so very much still in the poking around and guessing phase.. but if anyone can confirm or deny (or suggestion improvements)

[2018-04-17 18:17] zhujinxuan commented on #1768
@benjycui Do you mean the paste problem is fixed after that PR?

[2018-04-18 06:42] chitezh commented on #1768
Thanks, will do

[2018-04-18 09:55] ms88privat commented on #1161
Why was this closed? We are also running into this.

The solution above doesn't work for me. It will not focus the editor content

[2018-04-18 11:51] chitezh commented on #1768
Great improvement!

However, it did freeze the editor for an average of **38s** which is a significant improvement from the **2m11s** on slate.org.
Also, it still did show the `unresponsive page warning`
![image](https://user-images.githubusercontent.com/7795177/38930238-1e4b6462-4307-11e8-97fe-30e6f0aadb63.png)

[2018-04-18 12:57] Zhouzi commented on #1744
Thanks for the suggestion @CameronAckermanSEL 👍

I gave it a try and it does work outside of Slate: https://jsfiddle.net/hsqebsk2/4/

But doesn't in the context of Slate 😕

[2018-04-19 04:16] benjycui commented on #1768
@chitezh you need `NODE_ENV=production` to use production version when you test it locally.

[2018-04-20 07:51] davidbonnet commented on #1720
Thanks @thesunny for pushing forward mobile support in Slate. I suggested an [approach](https://github.com/ianstormtaylor/slate/issues/1012#issuecomment-328519071) a while back, perhaps this could be useful. Tackling this is time consuming, thus we need as much contributors as possible.

[2018-04-20 10:27] Soreine opened #1788 "Decorations are slow"
We are investigating huge performance issues since we updated our app to Slate 0.33, and have noticed that using a syntax highlighting plugin, like `slate-prism`, slows everything a lot.

- Slate version: 0.33.3 on Chrome
- Example: visit https://gitbookio.github.io/slate-prism/ paste a non-trivial code snippet (~100 lines) and start typing inside it

I have measured our the time to `React.renderT

[2018-04-20 10:58] gorillatron opened #1789 "html serialize, node.getLeaves is not a function"
Following the example given on the webpage the html serializer throws the following error upon calling serialize:

[code]

[2018-04-20 14:53] Soreine opened #1790 "`decorateNode` update does not proplerly re-render decorations"
# Description

If you change the list of plugins you pass to `Slate.Editor` in a way that would affect the `decorateNode` of the resulting `Stack`, the decorations may not be properly re-rendered.

*This is not a common use-case*. So it might not be important to fix.

# Explanation

This is because the `shouldComponentUpdates`, [like the one of `Node`](https://github.com/ianstormtaylor/slate/blob/

[2018-04-20 15:49] ianstormtaylor commented on #1790
Ah interesting. Would the same issue then apply to `renderNode`?

I’d be down to have it check to see if the schematic is changed and re-render if so.

[2018-04-20 18:13] CameronAckermanSEL commented on #1789
Hi, you might be using a version of the serializer that doesn't match with the version of slate.  But it's kind of hard to tell because there's not a lot of information in this issue.

Could you provide some code that can reproduce your issue? Double checking your `yarn.lock` file and your `package.json` file might help.

[2018-04-20 21:04] ianstormtaylor commented on #1789
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2018-04-20 21:04] #1789 closed

[2018-04-20 21:24] oyeanuj commented on #1347
I am also curious how folks import/organize plugins. I have about 20 plugins (from tiny behavior tweaks to major things), and currently in a not very clean import and then calling of those 20 plugins.

Any patterns that people are utilizing that they like?

[2018-04-20 21:58] jasonphillips commented on #1788
I'm also making heavy use of decorations in a project, and seeing similar performance problems that I suspect are rooted here (mainly since disabling all my decorations shows a speed-up). In my case, the decorations are injected externally upon certain events (meaning, somewhat like the [search-highlighting demo](https://github.com/ianstormtaylor/slate/blob/master/examples/search-highlighting/inde

[2018-04-21 01:15] jasonphillips commented on #1788
Even though getKeysAsArray() is memoized, the repeated scans across that large array via indexOf() could be the issue.

[2018-04-21 04:34] oyeanuj commented on #1668
I'm curious what the concerns here are, and if they are specific to `renderNode`, `renderMark`? Like the guide illustrates, they seem the logical function to use for encapsulation?

[2018-04-23 19:55] jasonphillips commented on #1788
So this is probably not the final / optimal solution to the problem, but may indicate a direction:

I can see that the main slowdown is simply that the react component for each child node (of a decorated code block, etc) currently receives _all_ the decorations in its props (which may be hundreds in this case) and then iterates over all of them. What is needed is for decorations to not simply be p

[2018-04-24 05:00] PierBover opened #1792 "Invalid marks in schema are not removed"
#### Bug report

With this schema it shouldn't be possible to have any marks in the `heading-one` block:
[code]
But as you can see I'm able to insert bold text in it:
![image](https://user-images.githubusercontent.com/226483/39166782-2aca079a-4751-11e8-98d5-b989999c9889.png)

#### What's the current behavior?
You can see this behaviour in action here:
https://youtu.be/mfI3U3KX9ug

To reproduce I'm

[2018-04-24 05:12] CameronAckermanSEL commented on #1792
Try `marks: ['']`

[2018-04-24 05:13] CameronAckermanSEL commented on #1792
Also there's a [slack channel](https://slate-js.slack.com/messages/C1RH7AXSS/), which is a better place to ask support questions like this:

[2018-04-24 05:42] PierBover commented on #1792
Thanks @CameronAckermanSEL but I'm getting the same result with either `[]` or `['']`.

[2018-04-24 05:44] CameronAckermanSEL commented on #1792
The `['']` should definitely work so there's something else in play.

Should probably go to the slack channel for some support.

[2018-04-24 05:58] CameronAckermanSEL commented on #1792
Sorry, misunderstood. Able to reproduce this bug, specifically when inserting text. Appears to be because the insertion of text doesn't cause normalization so it doesn't pick up schema violations like this anymore.

[2018-04-24 15:02] kalley opened #1794 "this.document.getPreviousInline is not a function"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
When calling `value.previousInline`, and error gets thrown because `this.document.getPreviousInline` is not a function

fiddle: https://jsfiddle.net/qmxu8ocy/ (type anything)

OS: mac
browser: Chrome
slate version: 0.33.4

#### What's the expected behavior?
It would return the previous inline if it ex

[2018-04-25 05:26] zhujinxuan commented on #1762
It seems `slate-react/src/components/editor` does not have `shouldComponentUpdate`

[2018-04-25 15:12] Soreine commented on #1788
I'll see if I can improve upon your design @jasonphillips. As is, the performance feels good already.

I was thinking about converting the list of decorations to a sorted list of trivial decorations (a decoration with `start` and `end` on the same text key) and only pass down the decorations needed.

I'll have a look at @zhujinxuan to see if there are more opportunities

[2018-04-25 16:21] jasonphillips opened #1795 "CI is now breaking due to node 10 / upath bug"
Check out these failing Travis builds across latest PRs:

https://travis-ci.org/ianstormtaylor/slate/jobs/371132970
https://travis-ci.org/ianstormtaylor/slate/jobs/371138323

The problem shows up here:
![image](https://user-images.githubusercontent.com/5672408/39258812-85537960-487a-11e8-824e-51ae169c82b8.png)

And is caused by Travis now grabbing the latest Node release, which as of today is 10.0

[2018-04-25 19:17] #1674 closed

[2018-04-25 22:36] PierBover commented on #1792
Is this a good first task? I'd like to contribute to Slate.

[2018-04-26 10:28] linonetwo commented on #893
I'm trying to add decoration on selection:
[code]
But it just don't work, is it related to this issue?

[2018-04-27 01:27] guotie commented on #1110
slate-vue is needed....

[2018-04-27 02:48] zhujinxuan opened #1797 "Missing Benchmarks"
This is a notes about add missing benchmarks when https://github.com/ianstormtaylor/slate/pull/1765 or benchmark inconsistency problem is solved

There are
2. get-previous/next-text/block
    get-previous/next-block is not included
3. get-ancestors/get-closest-
   this is not included
4. get-furthest(-ancestor)
   this is not included

[2018-04-27 03:24] linonetwo commented on #893
Ok solved, it just need debounce when you use onSelect.

[code]

[2018-04-27 06:53] linonetwo commented on #551
My god, why isn't these API in the document. Maybe I could make a PR.

[2018-04-27 06:55] linonetwo commented on #551
It's now ```value.fragment.text```, where ```value``` is from ```change.value```.
https://docs.slatejs.org/slate-core/value#fragment

[2018-04-27 12:43] Zhouzi opened #1798 "Cannot implement shouldComponentUpdate"
Since `renderNode` doesn't pass down the `value` anymore, the recommended way to get it seems to be through `editor.value` but that doesn't work well for `shouldComponentUpdate`s. Part of the problem is that `editor` is a React component and thus a mutable object, which means the same reference will be passed down and `prevProps.editor.value` will always be equal to `nextProps.editor.value` becaus

[2018-04-27 13:48] zhujinxuan opened #1799 "clipboard fragment content is lost"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

Select something, do two split block(or some other operations), then paste.  We can see `getEventTransfer(html).type === "html"` rather than "fragment", and fragment content is missing.

![](http://g.recordit.co/zabncoSAFO.gif)

[2018-04-27 14:36] zhujinxuan commented on #1799
[code]
The problem happens here. Any operation after copy will destroy the copy. I think we shall restore range in window.requestAnimationFrame, but do not removeChild in this frame. We shall remove child in paste on another copy.

[2018-04-27 15:05] zhujinxuan commented on #1799
Note: workaround solution if someone is also struggling here.

[code]

[2018-04-27 15:13] ianstormtaylor commented on #1798
Can you explicitly pass the `value` in as its own prop in `renderNode` instead of relying on accessing `editor.value`?

[2018-04-27 16:02] Zhouzi commented on #1798
Yes, that's probably what I'll do. I'm currently working on it 👍

[2018-04-27 16:05] signalwerk opened #1800 "Active-State for List-Items"
The [Rich-Text Example](http://slatejs.org/#/rich-text) doesn't show the correct status (active/inactive) if the current selection/curser is in a list. It shows as [inactive](https://github.com/ianstormtaylor/slate/blob/master/examples/rich-text/index.js#L203-L204)

[2018-04-27 18:16] zhujinxuan commented on #1788
Hi, @jacobbloom I made two small fixes in slate-react->text.js for that problem. Can you try that fix in your document and see whether that works? (If perfect, we will not worry about areSorted any one in decs)

[2018-04-27 19:28] jacobbloom commented on #1788
@zhujinxuan did you mean to pull me into this or was that an autocomplete mistake?

[2018-04-27 19:33] Soreine commented on #1788
He meant to mention @jasonphillips

FYI I have an opened PR on our fork, continuing on the work of @jasonphillips https://github.com/GitbookIO/slate/pull/3

[2018-04-27 19:34] Soreine commented on #1788
@zhujinxuan where can we see your changes?

[2018-04-27 20:07] ianstormtaylor commented on #1798
@Zhouzi ah actually I meant like so:

[code]

Sorry if that wasn't clear.

[2018-04-27 20:13] Zhouzi commented on #1798
@ianstormtaylor Actually I thought I had given that a try in our code and couldn't make it work. But it does work in the reproduction so I guess I've missed something. Thanks for the heads-up 👍

[2018-04-27 20:28] Zhouzi commented on #1798
Okay so I can confirm that passing down value as suggested by Ian is the way to go 💪

[2018-04-27 20:28] #1798 closed

[2018-04-27 20:42] #1639 closed

[2018-04-27 20:57] #879 closed

[2018-04-27 20:57] #1708 closed

[2018-04-27 20:57] #1710 closed

[2018-04-27 21:07] zhujinxuan commented on #1788
Sorry, I made the wrong mention.

The change can be seen in #1771 at the slate-react-> text.js where startKey === endKey

[2018-04-27 22:52] ianstormtaylor commented on #1795
Thanks for the heads up @jasonphillips. Just fixed on master!

[2018-04-27 22:52] #1795 closed

[2018-04-27 22:54] #1364 closed

[2018-04-27 23:05] ianstormtaylor commented on #1799
I don't understand what's happening here. Can you explain @zhujinxuan? Why wouldn't the `requestAnimationFrame` be running before the split?

[2018-04-27 23:53] zhujinxuan commented on #1799
I am not sure about the reason either.  I thought requestAnimationFrame is the problem because if we immediately paste, then we still have `getEventTransfer(html).type === "html"`.

I will be happy to investigate when then event transfer data is lost, but the problem is that I do not know how to get the clipboard info from console without a clipboard event.

[2018-04-27 23:55] ianstormtaylor commented on #1799
I don't think I can replicate this actually.

[2018-04-27 23:58] zhujinxuan commented on #1799
@ianstormtaylor Here is my method to reproduce in rich-text example:

1. set a break point at

[code]
2. select a range, copy
3. press double enter
4. check the value of `transfer.type`

[2018-04-28 00:08] ianstormtaylor commented on #1799
Interesting, if the range you select includes a mark then it doesn't seem to happen for me. But if it doesn't include a mark then I can reproduce it.

[2018-04-28 00:29] zhujinxuan commented on #1799
Nice, we are sure now it is not related to requestAnimation. Perhaps we need a span or alike in the div.innerHTML for copy to ensure it is a text/HTML?

[2018-04-29 06:39] zhujinxuan commented on #679
Perhaps we need to write more benchmarks to test the short-circuit.  I checked out the benchmarks in https://github.com/ianstormtaylor/slate/pull/1765, it seems that all at-range benches are using `selectAll` to create range.  Perhaps we shall add more benchmarks with different ranges for common scenarios.

[2018-04-30 16:18] istarkov commented on #1789
@gorillatron this usually happens if you pass just JSON into serializer
you need to parse it before as like as

[code]

[2018-04-30 20:14] zhujinxuan commented on #1344
I think we can do tricks in onSelect to move cursor back if there is placeholder but no content exists?

[2018-04-30 20:45] jorilallo opened #1804 "Spellcheck while typing"
#### Do you want to request a _feature_ or report a _bug_?

- Bug

#### What's the current behavior?

![kapture 2018-04-30 at 13 42 36](https://user-images.githubusercontent.com/31465/39449295-81f672d0-4c7c-11e8-9250-61d7063001be.gif)

Spellchecking checks while typing.

#### What's the expected behavior?

With native input fields, spellchecking seems to be applied only after space or other indica

[2018-04-30 20:52] zhujinxuan commented on #1344
Update: I cannot reproduce it.  It seems as long as you have a block in the beginning (even it is empty), the cursor will move to the right place...

[2018-04-30 22:10] CameronAckermanSEL commented on #1654
Hey guys wanted to give an update. I've not had much time to dive into this, but I did get as far as to identify a bunch of use cases for this behavior, write the corresponding tests, and then get an `isAtomic` property defined on the schema for a given block type. The `isAtomic` name is being used also for decorations to define a similar concept, so we're in a good position where we are using con

[2018-04-30 23:44] CameronAckermanSEL commented on #1693
latest slate and slate-react dont resolve this issue unfortunately

[2018-04-30 23:52] DylanPaulusSEL commented on #897
Getting this error, and came to the same conclusion as @bendulum. Is `event.nativeEvent` something we need to be checking for? I'll be willing to work on this bug if no one else is currently!

Let me know if this seems to be on the right path. I see two solutions:

1. Remove the whole if-statement if checking for `event.nativeEvent` isn't needed.
2. Using `IS_IE` from `slate-dev-environment`, chan

[2018-05-01 07:34] zhujinxuan commented on #1693
We have a similar discussion in https://github.com/ianstormtaylor/slate/issues/1799

It seems div.innerHTML is text/plain sometimes

[2018-05-01 13:58] Rhjulskov commented on #300
@thepian  Did you end up doing something like this?

const initialEditorValue = {
  document: {
    nodes: [
      {
        object: 'block',
        type: 'paragraph',
        nodes: [
          {
            object: 'text',
            leaves: [
              {
                text: '',
              },
            ],
          },
        ],
      },
    ],
  },
};

[2018-05-01 22:56] zhujinxuan commented on #1363
Hi, perhaps this PR may help to fix the problem.  https://github.com/ianstormtaylor/slate/pull/1805

It is use a sequence to normalizeNodeByKey, if a normalizeNodeByKey task is running, then do not do interrupt the task.

[2018-05-01 23:28] oyeanuj commented on #1697
@rossfishkind What solution did you end up using here?

@pizn I am already using `resetKeyGenerator`. Should I be seeing the issue with that?  It seems like a bunch of keys are conflicting, not just the documents, but also the blocks..

[2018-05-01 23:43] rossfishkind commented on #1697
@oyeanuj I used `resetKeyGenerator` within `componentDidMount` in the parent component that wrapped my slate instances together, and I used `setKeyGenerator` on initialization of my app like so:

`setKeyGenerator(() => rand());`

where my `rand()` function returns a random alphanumeric string to associate with any slate instances. Hope that helps!

[2018-05-02 01:24] ianstormtaylor opened #1807 "add `Decoration` object instead of re-using `Range`"
Right now for `value.decorations` we're re-using the `Range` objects, because they refer to two points with marks. But I think there is more we'll want to do with decorations, and as currently architected any new properties that decorations support have to be added to `Range` which is awkward.

Instead, I think we should separate out decorations into their own `Decoration` model:

[code]

This wou

[2018-05-02 02:02] matt-erhart opened #1809 "https://glamorous.rocks/ component in renderNode causes memory issue"
Drops into a debug mode in file called clean.js or crashes chrome. Sorry for the format, got to post before I step out or I'll forget about it. I just switched back to styled components and that's fine, but something weird is happening and you should probably know. Feel free to close.

[2018-05-02 02:04] oyeanuj commented on #1697
@rossfishkind thank you!

[2018-05-02 12:49] tobiasandersen commented on #1809
Without more info I'm afraid it's hard to do anything constructive here. I'd also suggest maybe it's an issue with glamorous (or at least the use of it). If you could post a small example that highlights the issues with slate, feel free to re-open :)

[2018-05-02 12:49] #1809 closed

[2018-05-02 15:18] hkbarton commented on #1584
any update on this?

[2018-05-02 15:52] zhujinxuan commented on #1807
About `decorations`, do we need `anchorKey !== focusKey`? how about `key, startOffset, endOffset`. I will be much easier in generating leaves (without calling `areDescendantsSorted`)

[2018-05-02 15:53] zhujinxuan commented on #1804
I do not know.  I think it is the strange behavior of Chrome.  We can event reproduce it in `<textarea/>`

[2018-05-02 16:01] zhujinxuan commented on #1792
@PierBover Yes, you can fix it here: packages/slate/src/changes/by-key in insertTextAtRange
[code]
to something like
[code]

[2018-05-02 16:04] ianstormtaylor commented on #1807
@zhujinxuan I think we do. I was considering not needing the “direction” of a range, but I think even that is important if decorations are used for multiple selections.

Ideally decorations would be keyed somehow though so that they can be easily added/removed.

[2018-05-02 16:07] PierBover commented on #1792
Ok I'll take a look tonight.

[2018-05-02 16:54] matt-erhart commented on #1809
https://codesandbox.io/s/409rxn0my7 see line 45 of index.js. Be ready to crash your browser.

[2018-05-02 18:20] ianstormtaylor opened #1813 "represent text nodes as "leaves" instead of "characters""
We initially adopted the Draft.js architecture of representing each character in the document with an immutable record. This makes mark operations easier to reason about. But it seems like this is holding us back in terms of performance. I think it might be good to consider removing this limitation, and instead using the same representation that we use in the raw JSON: "leaves".

This would have s

[2018-05-02 19:08] CameronAckermanSEL opened #1814 "Give marks a way of declaring that they are mutually exclusive with other marks"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### What's the current behavior?

Currently there isn't a great way to deal with marks that are mutually exclusive with other marks, and it leads to people continuously reinventing the wheel to deal with this sort of issue.

A perfect example of this is with text color. Typically people will try to implement text color as a mark

[2018-05-02 19:28] zhujinxuan commented on #1814
It is too complex to add to the current codebase.
I would suggest, `marks {type: isDeepCompare:.. }`.

[2018-05-02 19:36] zhujinxuan commented on #1807
How about that,

getDecorationsFromRange( range) => List< Decoration(key1, marks), Decoration(key2, marks), Decoration(key3, marks) ) ... >

We use decorations somehow as internal object.  Though `https://github.com/ianstormtaylor/slate/pull/1801` is a great solution, personally I think things are much easier if we split as different decorations rather a decoration with a range of keys.

Another a

[2018-05-02 20:28] jorilallo commented on #1804
@zhujinxuan I'm not able to, it will only do the red underline after space is applied, not while typing the word

[2018-05-02 20:46] ianstormtaylor commented on #1813
@zhujinxuan that would be amazing! I think we should do it before the performance PRs that affect anything to do with marks/text/characters though since lots of those will become unnecessary once we change this.

[2018-05-02 20:48] ianstormtaylor commented on #1408
@zhujinxuan totally agree! I think keys are useful enough in many scenarios that it makes sense to keep them. And instead we can offer both representations.

The only thing that will become slightly more complex is setting the selection properly (since both key and path will be set at once) but I think that can be handled under the covers in most cases already. And with that handled, then consumer

[2018-05-02 20:50] ianstormtaylor commented on #1807
@zhujinxuan I'm not sure I understand what you mean, can you explain it?

[2018-05-02 20:52] ianstormtaylor commented on #1814
I'd be curious to hear if there are any use cases where you want specific "families" of marks that isn't just "this mark should only occur once". I assume it's mostly the uniqueness case, and in that case I'd think that it could be represented as something like:

[code]

[2018-05-02 21:37] zhujinxuan commented on #1813
I have checked about characters related functions in #1808.  After #1808, the only parts requiring getCharacters are `get characters()` and `getCharacter(AtRange)()`in other Types, which can be easily removed.  All previously characters dependency are replaced by interfaces in `Text` like `Text.prototype.getActiveMarks` and `Text.prototype.getMarks`.  #1808 is necessary so we can ensure only text.

[2018-05-02 21:47] zhujinxuan commented on #1408
@ianstormtaylor I think, perhaps it is easier to do it this way:

If a new node is inserted or moved, a getNextText is called, or some alike functions are called, the new node path is added to the getPath cache.

Because when we change the selection, we get the next selection keys by these functions.  If we pre-cached these keys, then it shall be almost as fast as changing the Range structure.

[2018-05-02 21:49] CameronAckermanSEL commented on #1814
I thought about that, but that would force people to use a pattern where they have the color stored in the mark data as opposed to just having a mark type for each color. I think for this specific example of color, having the color hex in the data is the vastly preferred pattern, but there might be a case where they'd want to have different mark type names and have them associated with each other.

[2018-05-03 03:11] intellild commented on #1738
Is this solved?
I have nerver seen it after slate upgrade to 0.33.5
@ianstormtaylor

[2018-05-03 07:15] davidchang commented on #1776
@afrankel-sfdo @Slapbox

`editor.focus()`, being an imperative command that does not directly affect the state, ends up being in conflict with the React lifecycle, which renders the Editor and its focus based on what's in the state. in the [code sample](https://codesandbox.io/s/13r8qmv0l3) given originally, if you call `this.editor.focus()` outside of the React lifecycle (like if you wrap it in a

[2018-05-03 07:18] davidchang commented on #1794
seems like https://github.com/ianstormtaylor/slate/blob/9e50bc6b1fd881e7a913ae890481316714c7bf59/packages/slate/src/models/value.js#L472-L490 should be removed from the value API, though that might warrant a minor version bump? looks like neither `previousInline` nor `nextInline` in the Slate codebase itself. unless we want to implement `getPreviousInline` and `getNextInline` on document

[2018-05-03 07:29] davidchang commented on #1688
@marian-c if you feel like it's unclear in the documentation, feel free to submit a PR? otherwise, were you blocked by this? seems like `onBeforeInput` is meant for actually manually inputting text, while pastes are covered by `onPaste`

[2018-05-03 10:03] doortts commented on #1701
# update 18.05.03

According to the test of http://slatejs.org/#/rich-text

It seems Korean character disappearing problem is solved now.

Remaining problem is no new line when to type Enter key.
When type Enter in the middle of compositioning state, it just ened composition state and no new line.

I think this problem is related with composition state.

Even though it isn't 'compositionend', when

[2018-05-03 16:17] ianstormtaylor commented on #1794
Open to a PR that adds those two.

[2018-05-03 17:16] CameronAckermanSEL commented on #1814
Yeah you know, I think you're probably right. I spent a while thinking about it and bounced it off a few other folks I work with and we couldn't come up with anything. So the simplicity of the `isUnique` would be welcome.

[2018-05-03 20:39] zhujinxuan commented on #1807
Hi, I am worry about the rendering of `components/text.js` in `slate-react`

<img width="1652" alt="screen shot 2018-05-03 at 4 34 51 pm" src="https://user-images.githubusercontent.com/746159/39601488-0c2566f8-4ef0-11e8-9170-dac914567089.png">

If we have a `startKey !== endKey`, then every text rendering has to know whether the its key is between decoration ranges.  It potentially cause a DFS by

[2018-05-04 13:26] bjoerge opened #1819 "Clicking stepper arrows on number input outside Slate crashes in Firefox"
This seems to be related to #1744, but doesn't look like it's exactly the same issue.

![slate-bug](https://user-images.githubusercontent.com/876086/39630142-bebe2bc4-4fae-11e8-91db-c8aa746d1d2c.gif)

Here's a jsfiddle to reproduce: https://jsfiddle.net/cmu57eym/5

Happens in Firefox 59.0.2 on macOS 10.13.4 and possible in other firefoxes too.

[2018-05-04 21:21] tashburn opened #1820 "Bug: Strange insertion of a period in text after double spaces in certain places... it's like an easter egg."
Go to [this example](http://slatejs.org/#/plain-text)

Put the cursor after the "s" in the first word, "This".

Then press the spacebar twice. A `". "` will be inserted at the cursor.

So the text changes from

[code]

to

[code]

Even though all you do is press spacebar twice.

I get this unexpected behavior in all text blocks.

Perhaps this was some debugging for AutoReplace that wasn't removed

[2018-05-05 02:24] benjycui opened #1821 "More Real Benches"
Actually, slate's benches is too simple.

I think that we should test `value.document` with 1000+ descendants, and we need to test several edge cases for each API, such as:

[code]

cc @ianstormtaylor @zhujinxuan

Ref: https://github.com/zhujinxuan/slate/pull/3

[2018-05-05 02:40] oyeanuj commented on #691
@abobwhite Did you post the plain serializer in the comment above as a PR or on Slack? Would love to take a look!

[2018-05-05 10:26] gaoxiaoliangz opened #1822 "Calling preventDefault inside onKeyDown doesn't stop `Enter`, `Backspace`"
#### What's the current behavior?

I defined onKeyDown as follows

[code]
I press keys, and I cannot input chars like: 'a', 'b', etc, but 'Enter', 'Backspace' still take effect.

#### What's the expected behavior?

 'Enter' or 'Backspace' should not take effect when `preventDefault` is called.

[2018-05-05 21:26] trompx commented on #1430
Hey @thesunny,

Any chance you can share how you did it?

In my renderNode function, I render some nodes **depending on the previous and next block type**. So when changing a node type, the previous and next one should be re rendered.

Despite the awesome documentation, I was not sure how renderNode was called.
If I am right, the nodes rendered are the node focused AND the node who lost the focus.

[2018-05-06 02:32] davidchang commented on #1820
I think you may just be running into custom Mac behavior: https://www.tekrevue.com/tip/macos-sierra-add-period-double-space/ . I was able to reproduce it on a Macbook inside of the Notes app.

[2018-05-06 02:36] tashburn commented on #1820
@davidchang Wow, you're right. I didn't know about this mac feature, which was enabled by default for me (even thought it's apparently not supposed to be enabled by default). Closing this issue.

[2018-05-06 02:36] #1820 closed

[2018-05-06 20:23] bsouthga opened #1824 "If selection contains table, IE11 throws "error 800a025e" on calling content.updateSelection()"
If the content contains tables, IE11 will throw the following error:

[code]

Based on this SO answer: https://stackoverflow.com/a/37580789 I was able to narrow down the culprit to this line:

https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/components/content.js#L154

Adding  the solution linked above seemed to work:

[code]

Will open a PR shortly

[2018-05-07 03:27] ianstormtaylor commented on #1822
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2018-05-07 03:27] #1822 closed

[2018-05-07 08:11] HereSinceres commented on #1584
@pizn But this does not solve the problem,it is still a problem under IOS（no test android）

[2018-05-07 09:39] danielstaleiny commented on #1814
is there a example on how to create mutually exclusive marks and blocks ??? I have a case where you can add font 12-18 and align block left-center-right and they have to be unique in that sense :)).

[2018-05-07 13:13] HereSinceres opened #1826 "when I use slate in mobile env,once I input words,the words will show,but no triggle change function, no modify value,"
#### What's the current behavior?

![default](https://user-images.githubusercontent.com/11225986/39703639-477496f4-523b-11e8-897f-956fa993e0f8.gif)

[2018-05-08 05:50] designforhuman commented on #1701
I have the same issue here.

[2018-05-08 09:26] sunjingwu opened #1828 "Can Page-Header,Page-Footer,Multi-Page be supported?"
## request a feature

I want create a webapp like google doc with function like Multi-Page, can slate be used?
Any Suggestions for me?

[2018-05-08 19:00] bjoerge commented on #1819
So did some more digging and boiled it down to the following repro case (which is, from what I understand from reading the source code, is equivalent with what happens in Slate):

[code]

This fails with the same error as shown above.

This looks very much like a bug with Firefox. What happens is that when the `input`-event is firing, the `window.getSelection().anchorNode` is pointing to the actua

[2018-05-09 02:57] HereSinceres opened #1829 "[bug]Add Chinese text after the element"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
slate v: 0.33.5
slate-react v:0.12.5

![1](https://user-images.githubusercontent.com/11225986/39793147-c0be4438-5376-11e8-850f-2e521340640a.gif)

#### What's the expected behavior?
slate-react v:0.12.4 is correct

[2018-05-10 20:11] tashburn opened #1833 "Documentation is missing Change.normalize"
The documentation here --

[https://docs.slatejs.org/slate-core/change](https://docs.slatejs.org/slate-core/change)

-- needs the `normalize` function.

[2018-05-10 20:46] CameronAckermanSEL commented on #1833
Not sure if it does, because ideally people should not have to call this manually.

[2018-05-10 20:48] #1563 closed

[2018-05-10 22:14] ianstormtaylor commented on #1833
Feel free to pull request it, thanks.

[2018-05-11 02:07] #1824 closed

[2018-05-11 02:39] tashburn commented on #1833
@CameronAckermanSEL I needed to call it manually. I don't think my use-case is that esoteric. Clicking a toolbar button to change the block type requires calling `change.setBlocks(type)`, which doesn't run the validations unless I do `change.normalize`.

[2018-05-11 02:44] #1788 closed

[2018-05-11 02:45] #1449 closed

[2018-05-11 03:00] CameronAckermanSEL commented on #1833
I disagree with you because it probably is a defect that `setBlocks` did not fire off validation, therefore reducing the need to call it manually in this case.

[2018-05-11 03:26] tashburn commented on #1833
@CameronAckermanSEL @ianstormtaylor

Validations are certainly supposed to be called when a user makes edits in an Editor. Are they also supposed to be called after all programmatic changes to a Value?

I actually did expect the validations to be run after my `setBlocks` call. I thought that `withoutNormalize` is the way to prevent this default behavior.

[2018-05-11 05:03] CameronAckermanSEL commented on #1833
Yes, the vast majority of programmatic change functions will trigger a normalization automatically on the blocks that have changed, this is an important step in ensuring that your document conforms to the schema after every change that is made to it, regardless of whether the change originates from within the editor or not.

`withoutNormalization` is a function that I think may be poorly named, bu

[2018-05-11 08:26] tobiasandersen commented on #1693
I think #1815 might have fixed this. @CameronAckermanSEL you think you could verify?

[2018-05-11 09:27] Erklik commented on #1828
This seems more of a question rather than a feature request. Suggest you ask here : https://slate-slack.herokuapp.com/

[2018-05-11 09:44] tobiasandersen commented on #1828
As @Erklik says, the Slack channel is a better place for stuff like this :)

[2018-05-11 09:44] #1828 closed

[2018-05-11 12:17] alexeychikk opened #1835 "Selection is visually collapsed on click outside of editor"
#### Do you want to request a _feature_ or report a _bug_?
bug (not sure)

#### What's the current behavior?

Selection is visually collapsed on click outside of editor but it's actually not collapsed as shown on gif. It has only lost focus.

https://jsfiddle.net/fj9dvhom/349/
https://drive.google.com/file/d/1i2OWR_9eWlfdrcL2gSFGIEXMM72L8pTK/view?usp=sharing
Windows 10
Google Chrome Version 66.0.3

[2018-05-11 12:52] alexeychikk commented on #1835
Seems like it's the expected behavior. I used `selection.isCollapsed || selection.isBlurred` instead to achieve what I need.

[2018-05-11 13:18] tobiasandersen commented on #1835
Glad you solved it! And yeah I think the current behavior makes sense :)

[2018-05-11 13:18] #1835 closed

[2018-05-11 15:54] #1693 closed

[2018-05-11 19:38] JanLoebel commented on #1761
Any ideas for this? Is there anything I could help debugging?

[2018-05-12 18:26] chilbi commented on #560
[https://github.com/chilbi/slate-demo/tree/master/src/types](https://github.com/chilbi/slate-demo/tree/master/src/types)

[2018-05-12 23:12] ara4n commented on #816
Looks like this actually got solved over at https://github.com/ianstormtaylor/slate/issues/762#issuecomment-304855095 in the end, for those suffering https://xkcd.com/979/ syndrome

[2018-05-12 23:31] ara4n commented on #762
for those looking at this today, the bad news is that `onBeforeChange`, `Transform` and `State` have gone. the good news however seems to be that the same trick works if you do it in `onChange` with `Change`, with something like this:

[code]

[2018-05-13 11:18] WDFS commented on #1829
I found a same bug when i type korean with slate.

[2018-05-14 19:14] marian-c commented on #1688
Closing this since it's not an actual bug, docs can be improved tough, might submit a PR if time permits.

Thanks

[2018-05-14 19:14] #1688 closed

[2018-05-15 10:04] alexeychikk opened #1840 "Double-clicking word with mark selects only part of the word"
#### Do you want to request a _feature_ or report a _bug_?
Bug.

#### What's the current behavior?
Selection by double-click is not working properly on word with mark, it selects only part of word instead of the whole word.
https://jsfiddle.net/fj9dvhom/351/
https://drive.google.com/file/d/1IUdhTjrxe5bi3A9ZCWOB5fMSQ1sWE_KL
Windows 10, Chrome 66.0.3359.170 (Official Build) (64-bit), slate v0.33.6"

[2018-05-15 11:31] klis87 opened #1841 "renderEditor only works in plugin, not in Editor"
#### Do you want to request a _feature_ or report a _bug_?
Potential bug or not update doc

#### What's the current behavior?
`renderEditor` doesn't work when defined as `Editor` prop, only as plugin.
See https://jsfiddle.net/fj9dvhom/352/

#### What's the expected behavior?
`renderEditor` should be added to implicit `editor` plugin and called, currently it is ignored

[2018-05-15 12:29] luolonghao commented on #1841
these tags of Toolbar should be inserted before Editor.

[code]

[2018-05-15 12:35] klis87 commented on #1841
I could, but then I wont have access to editor related props, and anyway according to docs using `renderEditor` should be possible.

[2018-05-15 16:30] zhujinxuan opened #1843 "Very slow with both decoration and search highlight"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

copy from the huge document, paste to the search highlight example, try to search anything in search box. It will consume about 5 seconds to highlight.
After hightlight, keys like enter, insert text will takes about 0.5 seconds to re-render

[2018-05-15 16:31] zhujinxuan commented on #1843
Perhaps, characters/leaves will partially solve the problem

[2018-05-15 16:53] jtadmor opened #1844 "Allow multiple selections"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### Concept

There are some advanced use cases that are very difficult to develop without the potential for multiple selections.

These might include:
- In a multi-column or tables setup, allow a user to select and style multiple cells / columns without grabbing all the text in between.
- Provide mutli-cursor / select-all functi

[2018-05-15 17:09] ianstormtaylor commented on #1844
I'm open to the idea, and people discussing if they can find a nice way to implement it. I think the biggest hurdle though will be that browsers don't have a way to represent multiple selections natively though? (I think Firefox is the only one that does?)

[2018-05-15 17:28] jtadmor commented on #1844
I would imagine that in the short-run, it would be on developers to add decorations that mirror the various selections, although I suppose that wouldn't help for any multi-cursor rendering.

[2018-05-16 20:44] zhujinxuan opened #1845 "[Idea] [help please] add a playground example to demonstrate bugs and performance issues."
I think it is good to have an example of `rich-text`+`search-highlight`+`huge-document`.  This example can contributors to check whether theirs PRs has fixed the problem.

Because performance issues and bugs happens in a mixture of these three, contributors, who are working about performance issue (for example `decoration` in `huge document`  or marks issue), can immediately test their work in thi

[2018-05-17 18:58] jasonphillips commented on #259
I'm just going to drop into this discussion the recent work by Atom / Xray (the latter being a future replacement for Atom by its team, with the backend in Rust, and capable of running entirely in a browser via WASM). They have implemented a robust CRDT approach that is nicely optimized and thankfully allows strings at the lowest level, so it doesn't require each character to have its own key. Ear

[2018-05-17 19:49] jasonphillips commented on #259
It's a variation / continuation of their ideas from Teletype, but significantly refactored now (and now written in Rust) as the core logic of their future editor. As-is, it doesn't fit a rich text scenario -- but their work on CRDT is still pretty useful it seems to me, particularly in how they reason about & optimize problems of finding correct fragments without costly offsets etc.

[2018-05-17 21:42] #1797 closed

[2018-05-17 21:43] #1615 closed

[2018-05-17 21:43] #1638 closed

[2018-05-17 21:44] #1580 closed

[2018-05-17 21:44] #1624 closed

[2018-05-18 07:04] Durianicecream opened #1848 "Bug: insert Chineses characters made links error"
### Bug Report

#### What's the current behavior?

![screenshot](https://user-images.githubusercontent.com/16221326/40220466-ca8ce97e-5aab-11e8-94fb-ca59df2d8af1.gif)

the link disappear when I enter a chinese character
it looks like a rendering error, beacause I cheked the Value it seems right

[2018-05-18 12:00] alaindresse opened #1850 "Drag dropping a node between branches crashes"
#### Do you want to request a _feature_ or report a _bug_?

A bug

#### What's the current behavior?

Dragging a node between two editors generates the error "Could not find a node with id ...".

See https://codesandbox.io/s/q9lyy6k5mq for a codesandbox reproducing the issue. See also the following gif illustrating the issue.

I first show drag drop works within same editor, then I try to drag the

[2018-05-18 18:45] justinweiss opened #1852 "Impossible to select a void inline in Safari 11.1"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug.

#### What's the current behavior?

In Safari 11.1, you can't select a void inline by clicking on it. You also can't navigate through it from the left side with the arrow keys.

I'm pretty sure this used to work, but I can't tell whether it was a bug introduced by Safari, or if it was a result of the change to empty text nod

[2018-05-18 18:56] zhujinxuan commented on #1843
I do some break point tests, most time is consumed by
[code]

[2018-05-19 06:42] ianstormtaylor opened #1853 "check that `props.attributes` are spread in development"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now you'll get errors like:

[code]

Which often mean that you forgot to mix in `{...props.attributes}` into your rendered component. It's kind of annoying to track these down though, and easy to forget.

#### What's the expected behavior?

Instead, in development we could just check

[2018-05-21 09:04] davolokh commented on #838
Few corrections about empty lines selection.
This is not a macOS specific issue. Checked on HightSierra and ArchLinux.
Screenshots are taken from [http://slatejs.org/#/rich-text](http://slatejs.org/#/rich-text).

**Works as expected in Safari:**
<img width="731" alt="screen shot 2018-05-21 at 11 57 03 am" src="https://user-images.githubusercontent.com/2715874/40299220-4385bef2-5cee-11e8-9b48-c244e

[2018-05-22 19:12] zhujinxuan commented on #1853
Use slate-dev-logger as the logger?

[2018-05-22 21:02] zhujinxuan commented on #1853
Then perhaps we need to use ref or ReactDOM.findDOMNode here?

[2018-05-22 21:54] ianstormtaylor opened #1855 "change `Model.create` to `new Model`"
#### Do you want to request a _feature_ or report a _bug_?

An improvement.

#### What's the current behavior?

Right now to create models, we use a static `create` method, like so:

[code]

#### What's the expected behavior?

But this is kind of confusing—it's easy to forget and to try to use `new` instead. It would be nice if we could deprecate them. I can't remember why I went with `create` in

[2018-05-23 03:15] zhujinxuan commented on #1855
A problem is that Text.create can use the interface of Text.fromJSON, and Text.fromJSON converts the array to list, then use the interface new Block

If we use new Block as the only interface, it seems we have to move the `Array` to `List` (which shall be in Block.fromJSON) into the constructor as well.

[2018-05-23 03:37] zhujinxuan commented on #1855
Do you mean something like this: https://github.com/ianstormtaylor/slate/pull/1856

[2018-05-23 03:42] zhujinxuan commented on #1855
But there is still a problem: Block.create do not need to call super when attrs is a Block, saving some time.
https://github.com/facebook/immutable-js/issues/964#issuecomment-283282006

[2018-05-23 04:03] damaera opened #1857 "Chrome android: when long pressed delete error"
On chrome on android device.

Open slatejs.org, or another editor which use it, like: https://framesia.com/try-editor

try to type some text then delete it with long press delete. until `text.length === 0`

The error happens in each node with the same message:
[code]

[2018-05-23 13:03] raymestalez commented on #1857
Same here. It happens when you delete a block.
![slate-bug](https://user-images.githubusercontent.com/4761235/40426061-f5229c6e-5e4e-11e8-9da8-046722e189ee.png)

[2018-05-23 20:36] ianstormtaylor commented on #1855
@zhujinxuan wow, that's good to know! I didn't realize there was a penalty for using `new` like that, very interesting. In that case it sounds like we should stick to the `.create` methods instead.

Unless we could actually do `Block({})` with nothing to mimic Immutable more. That sounds like it would be the ideal?

[2018-05-23 20:36] ianstormtaylor commented on #1855
(Also it might be worth waiting until Immutable.js `4.0` since it sounds like they will change things a little to make it more clear.)

[2018-05-23 20:51] zhujinxuan commented on #1855
@ianstormtaylor We cannot do `Block({})` because ES6 requires class constructor can only be called with new, and extended constructor must have `this` and `super`.  The immutable-js uses a babel plugin to overwrite the babel's `createClass`, which allows calling class contructor like a function.

https://stackoverflow.com/questions/32619382/why-do-immutable-js-classes-not-require-new

[2018-05-24 02:28] linonetwo commented on #1596
If I sync ```JSON.stringify(value.toJSON())``` to redux store the lag will cause all editing goes to the top of the editor.
And only sync ``value.toJSON()`` to redux, and ```Value.fromJSON``` in ```getDerivedStateFromProps``` it works fine.

[2018-05-24 03:08] bbbford commented on #1110
Agreed! This library has everything I want... except it is tied to React!

[2018-05-24 03:49] ianstormtaylor commented on #1855
But does using `new` for Immutable records result in the same slow performance? Should be using `Block({ ... })` internally too? In other words, does removing the `new` in our existing `create` static methods improves performance?

As for eliminating `new` or `create` publicly, it sounds like we might need to see what Immutable.js does in 4.0 and then copy them.

[2018-05-24 13:51] Banb4n opened #1858 "Margins are note collapsed because of `slate-data-spacer`"
#### Do you want to request a _feature_ or report a _bug_?

- Bug

Example to reproduce : https://jsfiddle.net/BanBn/gszke21n/2/
Informations: MacOS, Google Chrome, Slate 0.33

#### What's the current behavior?
![capture d ecran 2018-05-24 a 15 49 10](https://user-images.githubusercontent.com/25232681/40489754-24c2a6b4-5f6a-11e8-9209-6aa2c5b8132e.png)

The `data-slate-spacer` div prevents the coll

[2018-05-24 14:36] zhujinxuan commented on #1855
Hi, I think we shall use `Block.create()` internally.

1. Unfortunately, ES6 does not allow `Block({...})`. `Immutable` did that by using their own transpiler rather than babel-preset-env.
2. The easiest way to eliminate most `new` is like this:
[code]

[2018-05-24 15:56] ianstormtaylor commented on #1855
@zhujinxuan ah nevermind, sorry I missed something. I realized that you can actually do:

[code]

And it works. But only if you don't want to extend `Block` with other methods. Otherwise you'd need to use `class ... extends` to be able to augment the prototype. (Although I wonder if there was a way we could achieve the same thing by changing the prototype directly... not sure.)

But since we need

[2018-05-24 17:51] ianstormtaylor commented on #1858
Ah interesting. We've had it `position: absolute` in the past I think, and I'm open to going back to it again. It's honestly pretty hard to keep track of the exact CSS properties that are required to get it functioning cross-browser. But if `position: absolute` has no adverse effects with selecting into/across the void nodes I'm down with it.

[2018-05-24 17:51] ianstormtaylor commented on #1858
The spacer's purpose is to capture the cursor when people move it with the arrow keys for instance, otherwise the entire void node in the tree is non-selectable.

[2018-05-24 21:19] zhujinxuan commented on #1623
Hi, I published a package on npm with name `slate-delete-one-line` to fix the problem.

Can you have a try?

[code]

[2018-05-24 23:28] justinweiss opened #1860 "Copying text within a single block doesn't add the fragment to the event"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug.

#### What's the current behavior?

Fiddle here: https://jsfiddle.net/vzv6q9yg/

When you paste content, it logs the event type, fragment, and HTML to the console.

If you copy part of both the header and the paragraph, and paste it somewhere else in the editor, you get both a slate fragment and an html fragment in the trans

[2018-05-25 03:09] steobrien commented on #1623
Hey @zhujinxuan, I've taken this for a spin and it seems to work great!

[2018-05-25 08:38] Banb4n commented on #1858
Hi @ianstormtaylor thx for the answer 👍, so I tested the moving of the cursor with the `spacer` position set to `absolute` and that has no negative effect. I tested it in: Chrome, Safari and Firefox

[2018-05-25 08:41] Banb4n commented on #1858
Hi @ianstormtaylor thx for the answer 👍, so I tested in Chrome, Safari and Firefox the moving of the cursor with the spacer position set to absolute and that has no negative effect.
I've edited the jsfiddle so you can test it to

[2018-05-25 10:11] marszhou opened #1861 "Bug occurs when USING IME."
Thank you for your great job. I'm glad that Slate is a lot easier of using than Draft-Js.

I found this bug when I use Chinese IME on MacOSX (I consider that other language which is input by IME will also cause the same problem, not verified).

You can duplicate it by doing this:

ex:

- Add 3 blocks, and every block contain some letters.
- Then select multilines.
- Then type a letter when Chinese

[2018-05-25 16:19] ianstormtaylor commented on #1623
Very cool @zhujinxuan! If you wanted to PR that, I'd love to be able to have that behavior in core. I didn't realize it was even possible 😄

[2018-05-25 16:21] ianstormtaylor commented on #1858
@Banb4n nice, that's good news 😄 in that case I'd be happy to have a PR with that tweak!

[2018-05-25 17:32] justinweiss commented on #1860
It looks like this is fixed in master, just not yet in a released version.

[2018-05-25 17:32] #1860 closed

[2018-05-25 17:33] zhujinxuan commented on #1623
@steobrien Great.  The package address is https://github.com/zhujinxuan/slate-sensible
I will finish the document this weekend.

[2018-05-25 18:04] Banb4n commented on #1858
I made the change on this PR https://github.com/ianstormtaylor/slate/pull/1862, so you can check it

[2018-05-26 04:12] zhujinxuan commented on #1623
@ianstormtaylor I'd like to submit the PR.  But the solution depends on get rect bound of range.  It seems react-native does not support DOMRange.getBoundingClient?  Is there a polyfill way to get Rect for Android and iOS?

[2018-05-28 12:16] JanLoebel commented on #1761
Can anybody confirm that this doesn't happen anymore in the current master branch? I've tried it several minutes ago and it was working quite well.

In other projects like: https://canner.github.io/canner-slate-editor/  I can still reproduce it.. So my guess is that it has been fixed with another issue resolved in the last several days.

If anybody could confirm this with a german keyboard/keymapp

[2018-05-29 04:55] justinweiss commented on #1852
A few things I’ve seen so far:

When positioning a cursor at offset 0 of a node, Safari will normalize the native selection to be the end of the previous node. Chrome will allow offset 0 as a valid position.

It seems that during the process of updating the selection, onNativeSelectionChange is called twice. I think this is because of the throttle, that it’s called on the trailing edge of the 100m

[2018-05-30 00:42] Slapbox commented on #1511
@CameronAckermanSEL out of curiosity, where is/was there a bounty on this bug?

[2018-05-30 00:44] Slapbox commented on #725
Probably not helpful, but might give someone an idea for a more robust solution, see the two latest posts on the similar issue over at Draft-JS https://github.com/facebook/draft-js/pull/1500#issuecomment-392268125

[2018-05-31 02:59] victorbueno opened #1868 "Plugin to auto exit block if it is H1-H6, UL, OL and blockquote"
I don't know where to get in contact to show this plugin, so here it goes:

https://github.com/victorbueno/slate-auto-exit-block

If there is another solution to the same problem, please let me know.

[2018-05-31 13:00] mattcopas commented on #560
@chilbi Thanks for your link!

I've almost got it to work - I had to install @types/immutable - however I've now got the compilation error: **Module not found: Can't resolve 'slate' in 'slate-ts-project/node_modules/slate-base64-serializer/lib'**

(I've got node_modules on the tsconfig exclusion list of course).

Does this compile fine for you? Any ideas?

Thanks

[2018-05-31 15:33] enzoferey commented on #948
For people arriving here one year later. I was running into the same issue because I was running tests on a Docker + Karma + PhantomJS environment. PhantomJS didn't have access to the DOMParser API so it would fail. I tried adding JSDOM.fragment as suggested in the [docs](https://docs.slatejs.org/other-packages/slate-html-serializer#parsehtml) but it wasn't working. The workaround was to move away

[2018-06-01 00:03] CameronAckermanSEL opened #1871 "Drag and drop does not remove original text/block"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

When a selected fragment is dragged then dropped into another location of the editor, the original selected fragment is not removed.

http://recordit.co/6NMojTC5Cp

 The current behavior results in duplication of text, and in some cases the extra blocks left behind can cause problems if there are an

[2018-06-01 00:27] CameronAckermanSEL commented on #1871
Can currently be suppressed with a plugin that does

[code]

[2018-06-01 13:34] crisward commented on #1463
Just came across this - also having this problem. Any progress been made on this? It would be ideal if it  worked the same way as `addMark`.

[2018-06-01 19:23] justinweiss opened #1872 "Published Slate UMD modules are out of date"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug.

#### What's the current behavior?

In several Slate published packages (I checked `slate-dev-environment` and `slate-react`), the files in `dist/` are out of date with the files in `lib/`. For example, `dist/slate-dev-environment.js` is missing the `IS_OPERA` constant added in v0.1.2. The constant is included in the same pa

[2018-06-02 00:16] bigfish24 opened #1873 "Maintain cursor position based on remote change"
I have a working implementation collaboratively syncing Slate editors, however, I cannot figure out how to handle integrating an external change while maintaining the user's current cursor position. Any thoughts on how to approach this?

[2018-06-03 13:37] amitm02 opened #1874 "When two successive empty text nodes occur, moving the caret back crashes the editor."
When two successive empty text nodes occur, moving back crashes the editor.

See [JSFiddle](https://jsfiddle.net/fj9dvhom/374/).
Put caret at the end of paragraph, and press "left".  On console you can see that it attempting to set the new selection to a negative number:
`Range {anchorKey: "6", anchorOffset: -1, focusKey: "6", focusOffset: -1, isBackward: false, isFocused: true}
`

On JSFilddle it

[2018-06-03 19:39] SmilinBrian commented on #1792
A discussion with "bupkis" on Slack on May 29th shows that this issue also applies to cases where the editor is intended to automatically convert certain sequences of characters typed into macros or something.

I made a JSFiddle showing this issue so that this other aspect of this problem can be fixed/tested as well:  https://jsfiddle.net/SmilinBrian/d5qrhtgx/2/

[2018-06-03 21:54] zhujinxuan commented on #1792
@SmilinBrian Can you move the discussion to https://github.com/ianstormtaylor/slate/pull/1823

[2018-06-04 00:47] isubasti commented on #1792
@SmilinBrian you might want to use something like https://github.com/ianstormtaylor/slate-plugins/tree/master/packages/slate-auto-replace rather than validateNode for that

[2018-06-04 10:17] tommoor commented on #1861
I've seen the same issue on Chrome 68 - I don't think this is exclusive to IME in any way:

![image](https://user-images.githubusercontent.com/380914/40912202-dfb19690-67be-11e8-9299-96fd6b8f175f.png)

[2018-06-04 21:01] bigfish24 commented on #1567
@justinweiss did you make progress with this? This seems to match the issue I ran into related to https://github.com/ianstormtaylor/slate/issues/1873

[2018-06-05 06:08] amitm02 commented on #1571
Any updates regarding this bug?

[2018-06-05 06:53] samuelwagen commented on #1792
@isubasti slate-auto-replace is only suitable for when the user actually types. It doesn't work for example if you also need to process the initial state.

[2018-06-05 12:39] gggdomi opened #1877 "Copy paste introduces zero-width spaces for empty blocks"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug

#### What's the current behavior?

When copy-pasting an empty block, it includes a zero-width character

![recordrtc-201855-7tdis3yoask](https://user-images.githubusercontent.com/11262934/40976041-29b6407e-68cd-11e8-9a99-e97f1ff8866a.gif)

Chrome 67 on macOS 10.12

#### What's the expected behavior?

Empty blocks should be p

[2018-06-05 12:40] tobiasandersen commented on #1877
I've made a fix for this in https://github.com/ianstormtaylor/slate/pull/1865.

[2018-06-05 12:45] gggdomi commented on #1877
That was fast, thanks @tobiasandersen! I submitted an useless PR meanwhile, closing it.

[2018-06-05 12:46] #1877 closed

[2018-06-05 13:47] isubasti commented on #1792
@samuelwagen yeah the `schema normalization` is still needed for some circumstances but for the use cases that @SmilinBrian pointed out, which is for macros then it will work. I believe it should work as it is anyway for the schema normalization on initial state

[2018-06-05 15:40] gggdomi commented on #1871
[code]
 in `slate-react/src/plugins/after.js` line 234 must be the culprit, coupled with the `isDraggingInternally = false` in `onDragOver` (line 167) that disable deletion

[2018-06-05 15:41] CameronAckermanSEL commented on #1792
@samuelwagen this issue is in regards to `insertTextAtRange` not normalizing, so I think `slate-auto-replace` would still be a more appropriate approach to achieving the use case that @SmilinBrian described, as both `insertTextAtRange` and `slate-auto-replace` are tied closely to `onKeyDown` events.

Cases where you would want schema normalization to be applied to the text on load are out of scope

[2018-06-05 17:08] RickyRoller commented on #1655
This seems to be fixed on latest with the bold mark, but not with making a list. See gif.

![2018-06-05 10 07 50](https://user-images.githubusercontent.com/7373982/40991338-5f58271c-68a8-11e8-9760-b5c4c06d8b8f.gif)

[2018-06-05 17:37] SmilinBrian commented on #1792
I agree that normalization on load is out of scope for this issue.

I still feel ambivalent about whether or not `validateNode()` should be called for all text insertion regardless of whether prior selection is collapsed. Seems to me it should be called, assuming validation is properly limited to "only the affected node(s)." If limited, any performance issues are due to the validations being too c

[2018-06-05 18:23] SmilinBrian commented on #1833
Wow, I feel like [Cameron's comment](https://github.com/ianstormtaylor/slate/issues/1833#issuecomment-388260522) about `withoutNormalization()` should be documented somewhere!

[2018-06-05 20:35] CameronAckermanSEL commented on #1792
There are a couple of open PRs related to `insertTextAtRange` that address this.

The first of these triggers normalization when there's a mark, which I think is one case where normalization needs to be evaluated on insertion of text.

https://github.com/ianstormtaylor/slate/pull/1875
https://github.com/ianstormtaylor/slate/pull/1823

[2018-06-06 17:05] majelbstoat commented on #1814
I'd also like to see a solution for this. I do a lot of `removeMark(oldMark).addMark(newMark)` in my codebase. I would even settle for `removeMark` only taking the string type and removing anything that matched, regardless of data, e.g. `.removeMark('attribution').addMark({type: 'attribution', data: {})`

[2018-06-06 17:09] k7d opened #1879 "Chinese input - slate crashes with "Unable to find a DOM node..." in certain cases"
How to repeat (on OS X 10.13.4, Chrome 66):

1) Open [Slate example editor](http://slatejs.org/#/rich-text)
2) Select Pinyin - Traditional input source
    ![image](https://user-images.githubusercontent.com/181645/41053816-d9c20ef6-6979-11e8-9c02-c8a2ed6c5e8c.png)
3) In a new line type A, A, 1, then select the 2 just inserted characters and type A, A, 1 again
4) Slate crashes with `Error: Unable t

[2018-06-07 09:54] intellild commented on #1203
Same problem.
I figured out that is is cause by elements with out child text node.
Currently I ignore specific elements without text when deserializing to work around.

[2018-06-08 17:08] jschen5 opened #1882 "el.closest not supported in IE11"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
`el.closest` is called from `Content.isInEditor` (among a number of places). It seems like this method is not supported in IE11, and it throws an error.

#### What's the expected behavior?
The error should not occur. One possible solution (based on [mdn web docs](https://developer.mozilla.org/en-US/do

[2018-06-08 22:30] ianstormtaylor opened #1883 "change selection transforms to use keys, not node instances"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now when you use the selection changes like `moveToEndOf` you pass in an immutable node instance, like so:

[code]

But the issue is that if the immutable instance is out of date, the selection might not really be set in the "correct" place. For example...

[code]

This doesn't work p

[2018-06-09 00:35] ianstormtaylor opened #1884 "change void nodes to pass the spacer as `props.children`"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now when rendering a void node, Slate wraps the node in a `<div>` or `<span>` so that it can put a "spacer" next to it. This is needed to capture the browser's native selection behavior, since the void node has `contenteditable="false"`.

However, this also means that you can't contro

[2018-06-09 04:26] davidchang commented on #1872
dupe of https://github.com/ianstormtaylor/slate/issues/1767, one of these could be closed

[2018-06-09 15:29] lcvbeek commented on #826
@samotoo Did you figure out the best way to do this? I'm currently facing the same issue trying to implement a text color mark.

[2018-06-09 23:06] justinweiss commented on #1567
Kind of. I have an implementation that's really closely tied to how I'm doing collaborative editing, but I haven't done any of the work yet to pull it out into Slate itself.

[2018-06-10 17:05] zhujinxuan opened #1887 "ctrl+backspace throws an error at line start"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?
In http://slatejs.org/#/rich-text:
Using Mac, when `ctrl+backspace` at beginning of line, it will throw an error in "http://slatejs.org/#/rich-text"

#### What's the expected behavior?
Do nothing when `n===0`

[2018-06-10 17:29] zhujinxuan commented on #1887
Strange, I cannot reproduce it now.  I did that a few minutes ago but I cannot reproduce the problem at this moment.

[2018-06-10 17:32] zhujinxuan commented on #1887
My mistake, it is ctrl+delete not cmd+delete;

I am working on that.

[2018-06-10 18:01] ianstormtaylor commented on #1623
@zhujinxuan I’m not sure. Although I think we already do tons of stuff that’s not react native compatible?

[2018-06-10 18:08] ianstormtaylor commented on #1814
I believe there’s an old issue about allowing remove mark to take a string. If someone wants to make a PR I’m happy to break backwards compatibility for that.

And also happy to merge a PR that implements the `isUnique` feature discusses above.

[2018-06-10 18:54] zhujinxuan commented on #1623
@ianstormtaylor It becomes much easier if we do not need to consider react-native.
I will submit a PR next weekend

[2018-06-10 22:15] zhujinxuan commented on #1887
Fixed in #1888 1888

[2018-06-10 23:27] #1571 closed

[2018-06-10 23:31] #1792 closed

[2018-06-10 23:48] #1767 closed

[2018-06-10 23:48] #1872 closed

[2018-06-11 01:53] zhujinxuan opened #1890 "Code coverage analysis"
#### Do you want to request a _feature_ or report a _bug_?

feature

#### What's the current behavior?

SlateJS is complex enough, and is requiring tests.  But we cannot clearly know which part of code are not tested yet.  Code coverage can help us find out untested code in `packages/src/slate`

#### What's the expected behavior?
I think it will be good to have coveralls.io introduced in slate.  H

[2018-06-11 15:22] steobrien commented on #1804
I think this is a duplicate of https://github.com/ianstormtaylor/slate/issues/1598.

[2018-06-11 15:24] zhujinxuan commented on #1804
@steobrien @jorilallo  I find the solution.  The idea is to prevent the react-rendering in necessary cases.

I will work on that next week.

[2018-06-11 21:24] zhujinxuan opened #1892 "Deploy Preview for PRs"
#### Do you want to request a _feature_ or report a _bug_?

feature

#### What's the expected behavior?
After submitting a PR, a bot shall deploy a slateJS example for previewing the changes made by PR.

Recently I submit a PR in ant-design.  I find that they are using `netlify.com`; So each time after submitting a commit, then it will use netlify.com to deploy a example-site based on that PR (lik

[2018-06-11 22:07] ianstormtaylor commented on #1892
Sounds very cool! What is the process for setting that up?

[2018-06-12 04:23] AndreasGalster opened #1894 "Comparison of slate vs rest when considering webcomponents use"
Hi, I've been looking at some editors to use with a webcomponents app (shadow DOM) and I think majority of them don't support shadow DOM yet.

I see that this project started initially when you tried other editors. I am wondering if you can suggest if this or any other library is a good fit for webcomponents (editor within a shadow DOM) usage?

[2018-06-12 08:02] renchap commented on #1892
I can help a bit with it, I set up Netlify for another project.
Basically you just need to create an account on Netlify, connect it to the repository, and enter the commands needed to build the website, as well as the path to the HTML output. They will then deploy it to a `.netlify.com` url.

Once it is done, you can set it up (in the GUI) to automatically run the build for every PR, and have thei

[2018-06-12 14:56] loudmouth commented on #1720
Hi,

I'm an iOS developer and going through this issue, I was not sure I understood if it's in regards to mobile browser support, or if it's in regards to support for using native iOS and Android UI libs/APIs to render structured text in apps written in Swift/Obj-C or Kotlin/Java. Can any clarification be made?

[2018-06-12 15:01] davidbonnet commented on #1720
@loudmouth This is for mobile browser environments, not React Native or native mobile apps.

[2018-06-12 15:47] SamyPesse commented on #1769
@ianstormtaylor Any idea where this regression may come from ?

@Zhouzi Which versions are being used in both reproductions ? (it may help us find the regression)

[2018-06-12 17:43] ianstormtaylor commented on #1894
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2018-06-12 17:43] #1894 closed

[2018-06-12 17:52] ianstormtaylor commented on #1769
Nope, not off the top of my head. Would need someone to investigate.

[2018-06-12 19:28] zhujinxuan commented on #1892
Great!  I see the preview in the tests now~.

[2018-06-12 19:28] #1892 closed

[2018-06-12 19:59] wmhilton commented on #832
I don't think this is a usage question... I think it really is a **bug report**. He even provided a test case so it could be reproduced. I'm fine if you want to close it as "wontfix" because it's a jsdom environment that's simply not supported.

For those wondering "well, how else can I snapshot the output?" I gave up using React and used `slate-simulator`.

[2018-06-13 00:39] ianstormtaylor commented on #832
@wmhilton feel free to open another issue describing it clearly, and ideally offering a pull request to make it supported, or research to explain why a pull request is impossible/hard.

[2018-06-13 01:20] wmhilton commented on #832
I will leave more details here, since this page already has the Google juice that will lead others to it. I was trying to follow the [Testing React Apps - Jest](https://facebook.github.io/jest/docs/en/tutorial-react.html) guide, and it suggests using 'react-test-renderer' to create a snapshot test.

The OP linked to a complete Github repo "test case" that he made, just for this issue (as can be se

[2018-06-13 06:04] dmitrizzle commented on #1804
FWIW spell check with Slate is already a lot better than what Medium.com has (M basically does not work at all). Looking forward to this fix 💪

[2018-06-13 06:22] kulukyo commented on #1879
I've the same issue. It happens when a whole selected line is about to be replaced.

![20180613_141832](https://user-images.githubusercontent.com/38679950/41333651-26b6186a-6f15-11e8-99c3-5f90bccea1b2.gif)

[2018-06-13 14:35] zhujinxuan commented on #1879
@k7d @kulukyo I was investigating that issue.  The strange thing is that the chinese input method does not trigger onInput or onBeforeInput, but triggers onChange.

I will work on that when I have time.  Perhaps four weeks later at least.

[2018-06-13 17:20] Slapbox commented on #725
Do we have any idea _HOW_ QuillJS manages to work where all other projects fail? If we could get that knowledge into this thread, that would potentially be a great start towards resolving the issue.

[2018-06-13 17:34] javan commented on #725
FWIW, we (Trix) support Android reasonably well by handling composition events. It's not pretty and I don't know if this is useful to you at all, but here are the guts:

https://github.com/basecamp/trix/blob/e3f19b6b0a1342eda27069b7b9c3f17249bda26a/src/trix/controllers/input_controller.coffee#L295-L302

↓

https://github.com/basecamp/trix/blob/e3f19b6b0a1342eda27069b7b9c3f17249bda26a/src/trix/cont

[2018-06-13 18:33] zhujinxuan commented on #1890
I find how to do that.  I will submit a code coverage PR this weekend.

[2018-06-13 23:45] #1833 closed

[2018-06-14 17:44] mbessieres commented on #537
For anyone coming across this now, I discovered that returning false in your onKeyDown function when the enter key is pressed will prevent line breaks. So don't return anything and you're fine. It violates consistent-return considering when you do want something handled, you're returning true, but it solves the problem.

[2018-06-14 18:39] Slapbox commented on #1374
@realbisoye is your company using Slate on mobile at this point?

[2018-06-14 19:32] ianstormtaylor commented on #537
@mbessieres I agree with you about that being confusing. I've opened https://github.com/ianstormtaylor/slate/issues/1311 to account for it in a future breaking release.

[2018-06-14 19:47] Slapbox commented on #725
This is really helpful. Thank you very much!

Are there any major gotchas or major inconveniences you've found this this method? I know it's not pretty, but on the surface it seems not as convoluted as I would think.

Are there any "lessons learned" in the process of implementing this that might be useful to know before laying down some code and giving it a shot?

Thanks again @javan !

[2018-06-14 20:30] mbessieres commented on #537
Awesome, thanks @ianstormtaylor.

[2018-06-15 01:15] #897 closed

[2018-06-15 01:17] #1841 closed

[2018-06-15 03:07] ianstormtaylor opened #1903 "add `replaceMark` change method"
#### Do you want to request a _feature_ or report a _bug_?

Feature.

#### What's the current behavior?

Right now you often do `removeMark` and then `addMark`. It would just be nice if there was a `replaceMark` convenience method that combined the two.

[2018-06-15 03:10] ianstormtaylor commented on #1807
@zhujinxuan ah interesting, that sounds like a cool optimization to do at render time. It might also be something we could do in the data model itself, but I'm not sure. Feel free to explore here if you want... about to write up some new ideas too...

[2018-06-15 03:16] ianstormtaylor commented on #1807
I think we should actually change `Decoration` to be slightly more like marks, and make them a separate concept...

Right now we're using `Range` and `Mark` in combination via `range.marks`. This is nice, but we're missing a few different abilities that would be nice. For example:

- It would be good to be able to reference decorations easily, to be able to remove or update them as things change.

[2018-06-15 03:43] zhujinxuan commented on #1807
What is the difference between decoration and mark?  Do you mean we can have `renderDecoration` function?

[2018-06-15 10:08] alexeychikk commented on #1840
Cannot reproduce this bug anymore.

[2018-06-15 10:41] alexeychikk opened #1905 "Range.hasEndAtEndOf doesn't work for inline nodes"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

`selection.hasEndAtEndOf` doesn't work if you pass inline node in it.

https://jsfiddle.net/fj9dvhom/577/
http://recordit.co/XMfNjE5Lpq
Windows 10, Google Chrome Version 67.0.3396.87 (Official Build) (64-bit), slate@0.34.0

#### What's the expected behavior?

`selection.hasEndAtEndOf` works for inli

[2018-06-15 10:56] alexeychikk commented on #1905
I think this method doesn't work at all, not only for inline nodes. Also, I would check hasFocusAtEndOf.

[2018-06-15 15:32] ianstormtaylor commented on #1807
@zhujinxuan yup, we would introduce a `renderDecoration` prop for rendering them. The difference is that they are applied to ranges of the document without affecting the document’s data directly, versus marks which are applied to the text itself.

[2018-06-15 19:59] Slapbox commented on #1012
Holy crap @davidbonnet I just saw this link you posted: https://optimdata.github.io/slate/#/mobile

I know it's not working, but it's a big step forward.

Can you explain the relevance of the gold box? Is the code for this example public? Would you mind pointing me towards the changes you and your team had to make to get this far along? I'm trying to get a starting point for Android mobile support

[2018-06-15 20:04] Slapbox commented on #1012
Holy crap @davidbonnet I just saw this link you posted: https://optimdata.github.io/slate/#/mobile

I know it's not working, but it's a big step forward. Can you explain the relevance of the gold box?

Thanks very much for your work on this issue!

[2018-06-15 20:40] davidbonnet commented on #1012
@Slapbox: The golden box is a non-slate editable content element in order to record the unhindered input event flow.

[2018-06-15 20:52] travigd opened #1906 "Documentation is missing for Leaf"
#### Do you want to request a _feature_ or report a _bug_?
Documentation issue.

There is no documentation for the `Leaf` model, including associated methods like `Text.getLeaves()`.

[2018-06-15 21:06] Slapbox commented on #1012
Thanks for the clarification. I suspected, but wasn't sure that was the only point.

[2018-06-15 21:18] Slapbox opened #1907 "How can I inspect the packages while running examples?"
I'm running the examples using `yarn run start` and I'm trying to investigate how `Slate` and `Slate-React` handle things like setting selection, compositionEvents, etc. when using a mobile browser, but I am not able to inspect any of the relevant files. I'm not familiar with Lerna, so I'm not sure if that's related.

How can I view the files for `Slate-React` when inspecting the Rich Text example

[2018-06-15 21:37] jasonphillips commented on #1807
These are issues I've had to work around recently (basically: updating a large set of decorations essentially requires dropping / rebuilding them since no consistent id exists; and we attach data to them but it ends up looking like `decoration.marks[0].data` everywhere, which isn't pretty). So I think a new type of Object to handle these in a more focused way than Range+Mark sounds great.

[2018-06-15 21:38] Slapbox commented on #1907
Okay here's what worked. First I disabled all the examples I wasn't using in `./examples/app.js`

Then in the example I'm using, `rich-text` I changed this import:

From: `import { Editor } from 'slate-react'`
To: `import { Editor } from '../../packages/slate-react/src'`

[2018-06-15 21:39] Slapbox commented on #1907
I'm going to leave this open because I think we could use an easier way to enable this mode of development/inspection. Does anyone have an easy to implement idea for a switch that we could use for the entire repo? I have some half-baked ideas, but nothing fully coherent yet.

[2018-06-15 22:29] Slapbox commented on #1907
Ah scratch the above. This appeared to work until I actually tried to do anything, then I get:

![image](https://user-images.githubusercontent.com/6835891/41491815-5d72f2be-70c9-11e8-947e-04258114ae32.png)

Here's where things fail: https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/components/content.js#L437

At this stage the props look like this:
![image](https://user-

[2018-06-16 00:41] vshia commented on #259
This is still (very much) in the prototype phase. Nathan and I have been working on a [bridge](https://github.com/humandx/slate-automerge/) between Slate and [Automerge](https://github.com/automerge/automerge) to convert Slate Operations to Automerge operations (and vice versa) to use Automerge's CRDT algorithm/library to handle merge conflicts and synchronize changes between clients.

Currently,

[2018-06-16 01:39] ianstormtaylor opened #1908 "introduce a `Point` model"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now ranges have properties that represent their two points:

[code]

This is alright, but this idea of a "point" is only inferred. There are already places in the codebase that refer to "points" informally, like [in the `findPoint` utility](https://github.com/ianstormtaylor/slate/blob

[2018-06-16 03:02] Slapbox opened #1909 "Feature request: More granular readOnly control - Selection vs Content"
It would be great if setting `readOnly` still allowed changes to selection, or if there was another option to allow modifying only the selection but not the text.

This is achievable most easily (though not safely if you're saving changes) in the interim by setting all of the elements in the editor to use the following CSS, and setting `readOnly` to false;

[code]

[2018-06-17 07:20] zoebfilvo opened #1911 "Nested List on Paste HTML Example not working"
It's a bug or incomplete functionality

#### What's the current behavior?

on Paste of nested UL, OL it completely removes the nested list and renders only the top list text

#### What's the expected behavior?

It should render the nested list exactly.

[code]
Above is the example of the HTML which doesn't work... However if I use this html:
[code]
Then it works.

Tried playing with deserializers

[2018-06-17 09:35] zhujinxuan commented on #646
Hi, is there any updates in this issue?  Or is it an issue forgot to close?

[2018-06-17 16:48] zhujinxuan commented on #1908
@ianstormtaylor  Each time we use a point is used temporally.  If we make a point a class with immutable-js, then it will slows down the creation of Point. (though it will not be the bottleneck of performance)

Because we do not have functions for `Point`, perhaps we can make point only a plain object as `{offset, key}`, implementing `getAnchorPoint`, `getFocusPoint` into Range, `getPointByOffset`

[2018-06-17 17:51] javan commented on #725
[This comment](https://bugs.chromium.org/p/chromium/issues/detail?id=812674#c10) outlines some of the gotchas:

And, as of Chrome 65, the fact that composition events no longer definitively mean that the user is typing: https://bugs.chromium.org/p/chromium/issues/detail?id=764439#c9

Trix's composition tests spell most of these: https://github.com/basecamp/trix/blob/e3f19b6b0a1342eda27069b7b9c3f17

[2018-06-18 07:46] laurensiusadi commented on #549
@ianstormtaylor I just tried implementing https://www.slatejs.org/#/check-lists.
You said:

But I can't select all check-lists, I can only select one.

![2018-06-18_14-42-50](https://user-images.githubusercontent.com/5661040/41523980-0fa6ddcc-7306-11e8-81ea-c4d80d4a6413.gif)

How can I make all selectable so I can delete some or all of them at once?

[2018-06-18 15:56] ianstormtaylor commented on #646
This is still something I’d like to do. I think it makes sense to wait and little longer until React 16 is the standard, since it’s achievable purely with `renderEditor` and fragments.

[2018-06-18 16:02] ianstormtaylor commented on #1908
@zhujinxuan I think I’d like to see it actually become a performance issue before making that change, since having the data models be mixed between immutable and mutable is not ideal.

[2018-06-18 18:33] thesunny commented on #725
First of all, apologies for the long time between updates. I will commit some time to mobile in August if somebody doesn't fix it first.

## Some Updates

* @nathanfu wrote up the issues he and the team he is on encountered while trying to make Slate Android compatible <https://docs.google.com/document/d/1Hex89Di-r-Wfpo1DLAtxpetoX588ziXVoNyC87Je3Xc/edit#>
* I wrote this Android Dev Guide which wil

[2018-06-18 18:35] thesunny commented on #1720
Note: Some updates and activity happening here https://github.com/ianstormtaylor/slate/issues/725

Also, I'll spend 1-2 weeks in August if the issue isn't resolved by then.

[2018-06-18 18:47] Slapbox commented on #725
I haven't had time to read this whole post yet, but the primary issues I'm seeing on my end are:

1. No one seems to know how to debug the core packages using the examples. This has stopped me dead in my tracks. Even Ian didn't know off the top of his head.
2. We need a reasonable way to hookup @danburzo's wonderful input-event logger to the examples, or at least the RichText example: https://gith

[2018-06-18 19:01] danburzo commented on #725
I'm in the process of rewriting the logger as a separate React component that can be included in any React app: https://github.com/danburzo/react-event-logger . It's not a big deal, (the original code is quite short), but I'm travelling and will probably not get to that until next week.

However, when I (sloppily) wrote the tool last year, my idea was to:

1. Document all sorts of [input methods](

[2018-06-18 19:36] zhujinxuan commented on #1908
@ianstormtaylor Great. I will add a Point model after #1896 , to ensure newly added the Point model is tested.

[2018-06-18 19:43] zhujinxuan commented on #1112
Shall we close this issue, as https://github.com/ianstormtaylor/slate/pull/1881 is merged?

[2018-06-18 19:55] #1743 closed

[2018-06-18 19:56] #1651 closed

[2018-06-18 20:01] #1845 closed

[2018-06-18 20:02] zhujinxuan commented on #1640
The reason is there is a empty quote block by triple selection is copy/paste.

[2018-06-18 21:01] ianstormtaylor commented on #1112
Sounds good, thanks @zhujinxuan!

[2018-06-18 21:01] #1112 closed

[2018-06-18 21:05] ianstormtaylor commented on #1907
It sounds like some just needs to investigate how the examples are built with Webpack, and what the required settings are in Webpack/Chrome to make sourcemaps work with the debugger?

[2018-06-18 21:06] ianstormtaylor commented on #725
@Slapbox no I'm not doing anything additional. Sounds like someone just needs to investigate how to get sourcemaps with Webpack working with the Chrome debugger.

[2018-06-18 21:08] ianstormtaylor commented on #1908
Hey @zhujinxuan thanks for trying that. It looks like #1912 doesn't actually implement the `Point` model in the core use cases of Slate, and instead just provides it as an add-on. That's not really what I was after.

Instead, the `Range` object should implement it's own `anchor/focus` with the point:

[code]
[code]

And then accessing it would be done via: `range.anchor.key` instead of the current

[2018-06-18 21:11] ianstormtaylor commented on #1908
Similarly, it allows for simplifications. For example, right now "collapsing to anchor" requires doing something like:

[code]

Whereas it can be simplified to:

[code]

This is the kind of improvement I'm after by making "points" a core model.

[2018-06-18 22:43] Slapbox commented on #1907
The real issue is not the sourcemaps, as much as it is enabling use of the entire Slate monorepo as easily debuggable source code.

The sourcemap issue can probably be resolved with `Babel@7.x`, but what I can't figure out for the life of me is how to get the examples to use the unpackaged versions of packages like  `slate-react` as opposed to the package from `npm`.

I'm pretty experienced with W

[2018-06-18 22:44] Slapbox commented on #725
@ianstormtaylor I figured as much regarding your environment. Rest of my reply in the relevant ticket here: https://github.com/ianstormtaylor/slate/issues/1907#issuecomment-398218498
___
@danburzo thanks very much for springing right back into action! My feeling is that your logger is a crucial tool to have in all of this. I think even your base tool being connected to the editor, even without  wo

[2018-06-19 03:03] laurensiusadi commented on #615
@oyeanuj I found a solution using CSS to add placeholder on custom component.
Leaving this here for future references.

In custom component render function
[code]

Inside CSS file
[code]

[2018-06-19 04:03] kevinguard opened #1913 "Insert inline LateX within Slate"
I am trying to insert an inline LateX formula and am having some difficulties getting the equation rendered properly. To do this, I have created the following data model and fed it to the editor component. The extra blub is marked by `latex`, whose `text` attribute is set to `\\lambda`.

[code]
Following is the method where I analyze the node types:
[code]
Following is the method that renders the

[2018-06-19 08:18] isubasti commented on #1913
might want to use inline instead of mark and put the latex into data instead of text

[2018-06-19 13:49] zhujinxuan commented on #1908
@ianstormtaylor Oh, I see.  I will make it done today.

[2018-06-19 15:47] ianstormtaylor commented on #1913
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2018-06-19 15:47] #1913 closed

[2018-06-19 16:06] ianstormtaylor commented on #1279
This should be solved these days by implementing your own `renderPlaceholder` prop to render the placeholder with whatever extra styles you'd like.

[2018-06-19 16:06] #1279 closed

[2018-06-19 16:17] ianstormtaylor commented on #1908
@zhujinxuan ah good point. I think I'd like to deprecate the `.focus()/.blur()` methods (on `Range`, not on `Change`) and rename them to something like `.setIsFocused(boolean)` instead. Or even just remove them in favor of using `.set('isFocused', true)` from Immutable.js honestly.

(This follows with a separate idea I have that ranges themselves shouldn't even be where the "focused" state lives,

[2018-06-19 16:48] travigd opened #1914 "Pass selectionPosition Prop To Nodes"
#### Do you want to request a _feature_ or report a _bug_?
Feature

#### What's the current behavior?
Currently, nodes get an `isSelected` prop which is `true` if and only if the selection resides within the node. It seems that the selection for inline nodes is considered within the node if the cursor falls within `[startOfNode, endOfNode)` (i.e. if the cursor is at the right edge of the node, the

[2018-06-19 18:58] ianstormtaylor commented on #1914
Is it really `[startOfNode, endOfNode)`? I wasn't aware of that. Might be a bug somewhere, or something else going on here.

[2018-06-19 19:04] inkubux opened #1915 "add leaf-based selection change methods"
I want to expand my selection to a leaf but none of the available method on the change object is able target the leaves on a node (or maybe I missed it)

_collapseTo{Edge}Of{Direction}_**Text** is collapsing to the start of the text node so naturally I thought that there would be a _collapseTo{Edge}Of{Direction}_**Leaf**

I ended up creating my own function to get the range of a leaf to update my

[2018-06-19 19:13] ianstormtaylor commented on #1915
@inkubux interesting use case, sounds like a reasonable thing to have to me. I'd add a PR that implements them similarly to how the `Text` methods work.

[2018-06-19 19:21] inkubux commented on #1915
Thanks a lot.
I can't wait to play with it

[2018-06-19 19:31] travigd commented on #1914
See [this JSFiddle](https://jsfiddle.net/0x7th53y/). I actually notice (in Chrome on Ubuntu) that the cursor is still blue because Chrome considers the cursor to still be inside the span but slate considers the selection to be in the text after the inline.

It seems to me like sensible behavior. The alternative (as far as I see) would be to give two nodes the `isSelected: true` prop which doesn't

[2018-06-19 19:51] travigd commented on #1914
Actually, in that example, it seems that the focus is (to abuse interval notation...)
[code]
so that having the caret on either edge of the inline results in it being not selected (according to `isSelected` prop).

`an |inline in` results in `inline` not being selected, as does `an inline| in`.

[2018-06-19 21:43] zhujinxuan commented on #1908
@ianstormtaylor I will use `anchorPoint` and `focusPoint` as the first step.  If they are working, then I will try to rename them and move `range.focus` to value in the same PR.

[2018-06-19 21:48] ianstormtaylor commented on #1908
@zhujinxuan sounds good! Although we'll probably need to do it in two separate PRs, with deprecation in the middle, otherwise it's a breaking change without any deprecation notice which is much harder to upgrade through.

[2018-06-19 21:56] ianstormtaylor commented on #1914
@travigd interesting, I think I follow you. What's your use case for this? Just curious.

How complex would it actually be to implement as `shouldNodeComponentUpdate`?

[2018-06-19 23:36] kevinguard opened #1916 "Backspace doesn't remove the first character of any inline formatted content"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug.

#### What's the current behavior?

[JSFiddle](https://jsfiddle.net/2jw7ozdn/3/)
To reproduce the bug, click anywhere close to word **rich** and press backspace. The first letter **r** cannot be removed. Trying the same with anything that is formatted inline, same issue can be seen.

#### What's the expected behavior?

On pr

[2018-06-20 01:52] isubasti commented on #1914
@ianstormtaylor `isSelected` condition is on this line https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/components/content.js#L465 which is `[start, end)`. should it be changed to `[start, end]`?

[2018-06-20 02:05] travigd commented on #1914
@isubasti No, not quite.
I'm not really sure why `getIndexes` is the way it is but it's meant to return `[startIndex, endIndex + 1]`. It also doesn't consider selection within a node, it just finds which child nodes are selected (of which there's only one if the caret is collapsed). It returns
[code]
so the check on that line is essentially already doing `[start, end]`. Sorry if that didn't make s

[2018-06-20 02:11] intellild opened #1919 "support custom schema normalize iteration limit"
It is really a pitty to make it compatible with old data produced by other editors, like this:
![default](https://user-images.githubusercontent.com/8379858/41633550-156ee688-7472-11e8-8cf0-0cbc05b817e9.png)
and it is difficult normalize it with very limited iterations (for now it's plugin counts plus one)

[2018-06-20 02:29] #1916 closed

[2018-06-20 02:36] isubasti commented on #449
https://github.com/facebook/draft-js/issues/616, hopefully grammarly release a version that use `document.execCommand` pretty soon. then we can start improving onInput that still seems to be a problem especially for IME. on the other note, I notice that tools such as https://languagetool.org/ and https://www.scribens.com/# breaks slate as well and no obvious way on how to turn this off all togethe

[2018-06-20 05:23] laurensiusadi opened #1920 "Selecting behaviour on check list item"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?

https://www.slatejs.org/#/check-lists.

I want to select all check-lists, I can only select one.

![2018-06-18_14-42-50](https://user-images.githubusercontent.com/5661040/41523980-0fa6ddcc-7306-11e8-81ea-c4d80d4a6413.gif)

#### What's the expected behavior?

Select between list item like normal bulle

[2018-06-20 11:30] intellild commented on #1919
https://github.com/ianstormtaylor/slate/blob/1cc486e28c88593bdae04bc4161b28a962c78d33/packages/slate/src/changes/with-schema.js#L97-L101

Sorry for my bad English, I mean make the `max` here customizable.

[2018-06-20 14:20] ianstormtaylor commented on #1919
@intellild can you explain what the data is and why it takes so many normalization passes? I agree with you that `schema.stack.plugins.length + 1` seems pretty arbitrary.

Do you have an idea for how it should be customized?

[2018-06-20 14:58] ianstormtaylor opened #1922 "remove the restriction of "no empty inlines""
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now there is a core schema rule that enforces that inline nodes must have text that is not an empty string, or they will be removed. But this is not ideal, it's not great to force this on users, since it's fairly arbitrary.

There are valid use cases for wanting empty inlines.

The ma

[2018-06-20 15:03] ianstormtaylor commented on #1282
I think this isn't a great idea anymore.

[2018-06-20 15:03] #1282 closed

[2018-06-20 15:03] ianstormtaylor commented on #1813
Done now, thank you @zhujinxuan!

[2018-06-20 15:03] #1813 closed

[2018-06-20 17:22] justinweiss commented on #1920
I think this happens because, in the demo, the enclosing `div` is marked `contenteditable=false`. If only the checkbox `span` is marked `contenteditable=false`, I think this will work correctly -- at least, it did when I was messing with it in Web Inspector!

[2018-06-20 20:06] zhujinxuan commented on #1908
@ianstormtaylor  I have just finished it.  I agree we shall remove `focus` in another PR in future.

I rename `range.merge` to another function `range.loadProps`, because I do not want to mess up with the immutable-js's default `merge` method.  (though we can decorate merge to keep the same interface, personally I think the decoration makes code difficult to maintain)

[2018-06-20 21:39] zhujinxuan commented on #1922
Can I know the user case of wanting empty inline without `isVoid`?

[2018-06-20 22:15] vshia commented on #1826
I think you're encountering the same problem described in https://github.com/ianstormtaylor/slate/issues/725

[2018-06-20 23:14] ianstormtaylor opened #1923 "refactor `Schema` to differentiate "validating" and "normalizing""
#### Do you want to request a _feature_ or report a _bug_?

Feature.

#### What's the current behavior?

Right now the `schema.validateNode` method returns a change object that will "fix" the invalid state, keeping the editor in a valid state. This is required for building complex behaviors without letting the editor get into invalid states.

However, there's another type of validation that it doe

[2018-06-20 23:21] ianstormtaylor commented on #1922
There was someone in chat wanting to essentially use inlines like a `<input />` element behaves, but they always start with an empty value. (Although they may have been wanting `isVoid`, I'm not sure.)

Either way though I think it would be nice if possible if core was unrestrictive about this.

[2018-06-21 08:50] nkoder commented on #1922
Hi 👋

I think it was me who asked about requirement for non-empty `text`. On the one hand [documentation](https://docs.slatejs.org/guides/data-model#documents-and-nodes) says:

On the other hand I have code like this one:
[code]

I can do it like that:
[code]

but then I want to be sure there are not surprising side-effects depending on, for example, length of dummy text 😄

[2018-06-21 12:03] nkoder commented on #1744
not sure whether it will help anyone, but I have similar issue, and here is my code sample to reproduce it on Firefox: https://codepen.io/nkoder/pen/pKLQWz

[2018-06-21 13:37] intellild commented on #1919
@ianstormtaylor
If my schema looks like this:
[code]
and got a data like this:
[code]
after the first iteration the document is still invalid (`div#1` -> `p#1`), and in next iterations `#2` and `#3` will be nomalized.
If the document is large, it is easy to result in `A schema rule could not be validated after sufficient iterations.`

[2018-06-21 13:39] intellild commented on #1919
I think add a property in the schema object is reasonable, eg:
[code]

[2018-06-21 20:09] chloejchou opened #1925 "Copy and pasting table cells"
#### Do you want to request a _feature_ or report a _bug_?
Report a bug

#### What's the current behavior?
When I copy the text from a cell in a table and paste it in another cell, it seems like it tries to copy an entirely new table into that cell. This happens when I partially copy a cell's text as well.

This is the error I get in the console:
`Warning: validateDOMNesting(...): <table> cannot a

[2018-06-21 21:29] zhujinxuan commented on #1925
I think copy&paste is something left to users.

There are two ways of doing that: 1. validateNode/schema 2. overwrite all paste behaviors
Both approaches are complex.

I remember slate-edit-table has an out-of-box validateNode/schema config.

[2018-06-21 23:51] CameronAckermanSEL commented on #1925
The table example here is meant to be a simplistic proof of concept on how a table might work in slate (as stated in the disclaimer under the table in the example), but tables are still an immensely complex feature for the editor to support, and requires handling beyond what is available within slate core (because no block type is native to slate core, but is instead made functional based on slate

[2018-06-22 02:46] #1903 closed

[2018-06-22 02:51] ianstormtaylor commented on #1914
Thanks for mocking up the idea in #1918 @travigd! I definitely want to help make this use case easier to solve. That said, I'm feeling some unease with this...

I think it might be something that is better exposed as a method (or set of methods) on the `Range` object, since it feels like trying to distill it to a single enum is going to be hard and only cater to some use cases.

I often try to bas

[2018-06-22 10:19] nkoder opened #1926 ""Embeds" example is crashing on Firefox when one tries to type into input below the video"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug, as long as we expect examples to work correct on all supported browsers. Maybe it's not a Slate-related bug, but then we should adjust the example, I think 🙂

#### What's the current behavior?

Go to "embed" example ( https://www.slatejs.org/#/embeds ). There, inside input below video:

- **one cannot move cursor left/right*

[2018-06-22 15:50] #1871 closed

[2018-06-22 21:48] YangusKhan commented on #560
Hello, I just wanted to make everyone aware I opened [a PR at DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26761) and started adding @JanLoebel repositories -- only the base 'slate' module for now.

[2018-06-23 03:31] thetutlage opened #1932 "New lines are removed on copy"
#### Do you want to request a feature or report a bug?
Bug

#### What's the current behavior?
This has been reported earlier https://github.com/ianstormtaylor/slate/issues/1635 and then a related PR was created https://github.com/ianstormtaylor/slate/pull/1644.

Somehow it doesn't work as expected with `slate@0.34.2`.

**In Action**

![new-lines-skipped](https://user-images.githubusercontent.com/1

[2018-06-23 04:16] thetutlage commented on #1932
After doing bit of debugging. This is not a problem with the empty nodes. The `\n` is not preserved even between 2 text nodes.

![missing-line-breaks](https://user-images.githubusercontent.com/1706381/41805367-b4cd2a0e-76c6-11e8-82a0-b3e30799d213.gif)

Also the `textContent` property from output of `range.cloneContents()` doesn't preserve line breaks.

https://github.com/ianstormtaylor/slate/blob/

[2018-06-23 05:29] thetutlage commented on #1932
One way I can think of is to add a new `br` element inside this `forEach` loop https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/utils/clone-fragment.js#L36.

I tried it and it works fine. Not sure if this is the best way to do it.

[code]

[2018-06-23 13:19] ianstormtaylor commented on #1932
@thetutlage thanks for investigating! We’re we always using `textContent`? Might be something to check in Git blame. I don’t recall this issue in the past. Wonder if it was a recent regression.

[2018-06-23 19:37] thetutlage commented on #1932
Yes added in this commit https://github.com/ianstormtaylor/slate/commit/ee8bc1b695930fbd79c17b256511744b3c9b54f9 `13 days ago`

[2018-06-24 01:16] zhujinxuan opened #1934 "On spell-check and Re-rendering"
There are issues about spell check cannot currectly occur in slate editor, while can in draft-js.  I investigate the draft-js code and find that they use the default browser input event and do not re-render if the browser input event can well handle the consistency between the slate-core and dom.

The pseudo-code of the fix looks like that:
[code]

I am thinking about using a plugin and a plug-abl

[2018-06-24 01:21] zhujinxuan commented on #1934
Spell check problem:
https://github.com/ianstormtaylor/slate/issues/1598

Input method problem:
https://github.com/ianstormtaylor/slate/issues/1879

[2018-06-24 17:51] ianstormtaylor commented on #1934
Hey @zhujinxuan, thanks for bringing this up. We actually used to do something very similar to Draft.js in terms of handling Sobel check and simple inserts. We had a property called `value.isNative` (actually `state.isNative`) that would abort rerendering if the browser could handle it instead.

It works well for Draft.js because their editor is much more restricted in what you can do.

But in Sla

[2018-06-24 18:44] ianstormtaylor commented on #1932
Ah okay, should be an easy fix then. Maybe does `innerText` solve our needs? Not sure.

[2018-06-24 20:56] zhujinxuan commented on #1934
@ianstormtaylor I will have a try that whether the spell check can be fixed by allowing onBeforeInput and onInput events without aborting the re-render.  If that method works, then we can fix it without re-render interface.

[2018-06-25 08:40] tobiasandersen commented on #1932
Hm, what's weird is that it works fine in our editor — but not in the examples. I haven't investigated what differs though. Anyway, sorry for breaking stuff. Reading [on mdn](https://developer.mozilla.org/en-US/docs/Web/API/Node/innerText), it sounds like `innerText` should do the trick:

But unfortunately, `innerText` have the same problem as `textContent` in that it doesn't break child nodes.

I

[2018-06-25 16:03] nkoder commented on #1926
One more thing, which was not included by me in the former message, but probably should be 😛 Which is: **I really appreciate Slate.js**.

I was doing Proof of Concept of migration to Slate.js (from another tool) in React app of our company. And it was a pleasure to work with Slate 💪 🚀 Sadly, I was unable to make embedded editable input working properly (and we rely heavily on such inputs in curren

[2018-06-25 22:08] matthewberkompas opened #1936 "Link preview on mouse click"
#### Do you want to request a _feature_ or report a _bug_?
Request a Feature

#### What's the current behavior?
Currently, you can create a link by selecting some text in the editor, clicking the hyperlink button, inputting the desired URL and clicking save. However, when you put your curser on the text that is hyperlinked, no preview of the URL appears like you would expect.

#### What's the desi

[2018-06-26 03:19] lingxiao opened #1937 "Collaborative editing how do I read the change.operation value from the backend and render?"
I am connecting a `slate.js` component with firebase realtime database towards collaborative editing. Right now I have a simple master-slave setup between two editors that are from two different accounts. The master account reads the `change` in the `onChange` function and save the `change.operations` in the firebase realtime database. the slave account should `readChange` the database and write t

[2018-06-26 04:03] lingxiao commented on #624
Is there any update on collaborative pluggins with slate?

[2018-06-26 15:15] mattkrick opened #1938 "Reduce number of component updates"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Render time is slow.

In the HugeDocument example, a keypress event takes ~300ms (CPU slowed down 6x)
![badslate](https://user-images.githubusercontent.com/5514175/41919719-058ddf8e-7914-11e8-8c67-73e05123f228.png)

Compare that to the exact same document, but without updates propagated through react.

[2018-06-26 16:09] Lukavyi commented on #1015
We have the same issue

[2018-06-27 02:34] intellild opened #1940 "Edge with input method produces random characters"
#### What's the current behavior?
Can be reproduced with
https://www.slatejs.org/#/plain-text

1. detele all text. so we can see the placeholder
2. input whatever with an input method
3. some random characters come out
![qq20180627-103741-hd](https://user-images.githubusercontent.com/8379858/41949929-497e6492-79f6-11e8-9fde-8ff84c055480.gif)
Windows 10
Microsoft Edge 42.17134.1.0
Microsoft EdgeHTM

[2018-06-27 07:20] tobiasandersen commented on #1936
Hi, this is definitely possible to do, but you have to implement it yourself. I'd suggest asking in the [Slack channel](https://slate-slack.herokuapp.com/) instead!

[2018-06-27 07:20] #1936 closed

[2018-06-27 16:50] RXminuS commented on #560
Ok, I think we need to rethink this because the @JanLoebel typedefs and @YangusKhan at this point diverge quite a bit from actual implementation. Wouldn't it make sense to put up a PR in this repo and keep the typings in sync? It's only one types.d.ts file.

I'm going to sit tonight and try to fix up the (awesome) base work by @JanLoebel and submit one.

[2018-06-27 16:54] RXminuS commented on #560
Actually, @chilbi 's definitions seem to cover most of it already!

[2018-06-27 17:12] RXminuS commented on #560
Another option is to do what I think Redux etc do...generate typescript definitions from the JSDoc comments. I tried it out on a test file and it seems to work Ok. A bit like @bsouthga but we can avoid a lot of `any` types that way. https://github.com/jumpinjackie/jsdoc-typescript-plugin

[2018-06-27 17:16] YangusKhan commented on #560
I'm flexible to work with anything. I just wanted to get the ball rolling in the DefinitelyTyped repo. I've also got a PR active for slate-react from @JanLoebel work, plus some local work for html- and plain- serializers based on @chilbi

[2018-06-27 19:55] travigd commented on #560
@YangusKhan As @RXminuS pointed out, a few things in that  PR are a bit old (e.g. use of kind, as opposed to object) and, in my own hacking, I found it impossible to accurately type the schema normalize methods w.r.t. different kinds of contexts. [This gist](https://gist.github.com/travigd/b2b144b4d6b6cff1eaac3023f3106e98) is what I'm using in my own project, and then my normalize methods are type

[2018-06-27 20:01] zhujinxuan commented on #560
There is a way to have typescript definition by alias. However, too many methods exists in slate/model and slate/changes.  And typescript for schema context can be quite crazy.

Personally, I do not mind maintain a type definition when API changes in future.  (.flow.js or .d.ts are both fine)  But I do not have time to define types.

[2018-06-27 20:18] zhujinxuan commented on #560
BTW, there is a note about adding definitions.

In JSDoc, Text are considered as one of Node in `packages/slate/src/models/node.js`.  However, `Text` does not inherit node methods.

[2018-06-27 20:31] RXminuS commented on #560
@travigd I'm not too familiar with the context, can't seem to find it in the docs. Do you know where to read up on it? Think we can maybe trick something together with conditional types based on the return value or inference?

[2018-06-27 20:44] travigd commented on #560
@RXminuS
* https://docs.slatejs.org/slate-core/schema#normalize
* https://docs.slatejs.org/slate-core/schema#violations
* https://docs.slatejs.org/other-packages/slate-schema-violations (this is where the documentation describes the interfaces of the various `context`s)

I can think of a few attempts:
* TypeScript function overloading (didn't really work for me, but someone else might have better

[2018-06-28 02:02] thesunny commented on #1887
@zhujinxuan I think this is the exact same bug I ran across when backspacing in Android but it's just failing to catch a different type of backspace.

https://github.com/ianstormtaylor/slate/pull/1935#issuecomment-400079031

[2018-06-28 04:33] RXminuS commented on #560
Haha, sorry I meant discriminated not conditional. Yeah, that by far seems the most elegant solution and the change should not break anything since constructors are used everywhere.

[2018-06-28 11:43] Dtphelan1 commented on #1882
N.B. that `NodeList.forEach` is not supported in IE11. This function gets used in the `cloneFragment` method used in copying and pasting.

[2018-06-28 13:20] Dtphelan1 opened #1941 "CloneFragment throws errors on IE11"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Copying plain text in IE causes multiple errors, rooted in code found in `slate-react/utils/cloneFragment` that is not cross-browser compatible. Specifically:
1.  Line 36: `contents.childNodes.forEach` and Line 62: `contents.querySelectorAll(ZERO_WIDTH_SELECTOR)).forEach` produce the error `SCRIPT43

[2018-06-28 14:39] zhujinxuan commented on #1887
@thesunny Can you have a try on whether https://github.com/ianstormtaylor/slate/pull/1888 fixes the bug in Android?

[2018-06-28 18:47] Slapbox commented on #1392
Yes its behavior could be clarified. Ideally by modifying the default text of the editor on that example.

[2018-06-30 02:05] ianstormtaylor commented on #560
@travigd actually I was thinking of something similar recently in regard to https://github.com/ianstormtaylor/slate/issues/1923 — I’d like to change those objects that the normalizing functions receive to actually be `Error` instances. And then it would make the most sense to rename the “violations” to `error.code`.

I think it would be one small step towards making the normalization logic slightl

[2018-06-30 02:12] ianstormtaylor commented on #1938
Hey @mattkrick, thanks for opening this and for presenting a potential solution.

Could you explain/decouple the solution for Android from the performance issue? I’m curious if there are other solutions that might allow for Android support, without needing to use `shouldComponentUpdate` to short circuit the rendering process, since doing so brings many negatives.

[2018-06-30 02:14] ianstormtaylor commented on #1392
If someone wants to create a pull request that would be very appreciated, thanks.

[2018-06-30 03:04] ianstormtaylor commented on #1938
Ah, just saw the #1935 thread. For more context in that case as to why I’d like to not use `shouldComponentUpdate`...

Slate is unlike some other React components in that it exists at a later between your components, not strictly under them in the rendering tree. Because of this, using `shouldComponentUpdate` is problematic, since it short circuits the tree, leaving your leaf components out of the

[2018-06-30 11:10] thesunny commented on #1887
I'll check this when I get back from vacation. I don't have a virtual Android set up on my laptop and all the stuff I'm travelling with are iOS devices.

[2018-07-01 11:06] mattkrick commented on #1938
there are certainly ways to re-render children even when their parent has `shouldComponentUpdate` return false. I think that should be out of scope for this PR, but I think it's a great idea to leave that door open, so I'd propose an API like this: `pushUpdate: boolean | BlockKey | Array<BlockKey>`. That way, in the future, a plugin could tell slate whether to rerender everything (pushUpdate = tru

[2018-07-01 21:02] ianstormtaylor commented on #1938
@mattkrick I think what you're describing is already possible with [`shouldNodeComponentUpdate`](https://docs.slatejs.org/slate-react/custom-nodes#shouldnodecomponentupdate) for a node's component, but I might not be understanding exactly.

[2018-07-01 21:13] #1920 closed

[2018-07-01 21:13] #1925 closed

[2018-07-01 21:14] ianstormtaylor commented on #1925
@chloejchou like the others mentioned, the examples are minimalistic. But I've fixed the tables example to show what restricting the paste behavior to only plain text looks like!

[2018-07-01 21:48] ianstormtaylor commented on #1941
Hey @Dtphelan1 thanks for this. We do this with a handful of methods that older versions of IE don't support, and instead ask that people who need support for older browsers being their own polyfills to handle these things. (`NodeList.forEach`, `el.closest`, etc.)

It sounds like Polyfill.io has an open issue for someone to add support, in case that's the one you'd like to use: https://github.com/

[2018-07-01 21:50] ianstormtaylor commented on #1882
Hey folks, please bring your own polyfill for older browser support—like [polyfill.io](https://polyfill.io/v2/docs/features/).

[2018-07-01 21:50] #1882 closed

[2018-07-01 22:34] RXminuS commented on #560
I have some base versions of the Typings ready just trying to figure out how to organize them on DefinetlyTyped (so we have tests included and naming is aligned with internal Slate packages. Any tips of someone with experience? I'll post a link to the PR when it looks good.

[2018-07-02 02:08] mattkrick commented on #1938
Ah shoot, lemme try to explain it better. I'll break it down in 3 different ways, lemme know if I make sense with any of em.

By far, the most expensive operation is step 6:

`shouldNodeComponentUpdate` is not useful because it can't prevent that. it comes far too late. it comes after you've already told react to start rendering the entire editor. It's the equivalent of pruning a branch. I'm propo

[2018-07-02 04:55] ianstormtaylor commented on #1938
Hey @mattkrick thanks for expanding.

The issue I see is that in your example, the plugin is affecting the “data” by adding its own operation to the queue to change the color of a node. But what I’m trying to account for is not changing color with an operation itself, but purely as a rendering concern.

To give another example, imagine a small counter next to every paragraph that showed the word c

[2018-07-02 14:59] zhujinxuan opened #1945 "Allowing Unit Test as `__test__/name.spec.js`"
#### Do you want to request a _feature_ or report a _bug_?

feature.

#### What's the current behavior?

Currently, all our tests are CI tests, loading a certain interface from the package and test all these packages.  Though ideally the CI tests cover all situations of CI, we cannot always expect the CI coveralls all situations indirectly as there are too much work.  Perhaps we shall make utils f

[2018-07-02 15:03] zhujinxuan commented on #1945
I also makes `slate-react` testing more convinient.  Currently, our tests are mostly snapshot test after rendering.  The utils functions are poorly tested (shown in https://codecov.io/gh/ianstormtaylor/slate/pull/1896/tree?path=packages%2Fslate-react%2Fsrc%2Futils).

With the units test, we can test them with jsdom + `__test__/name.spec.js`

[2018-07-02 18:04] chloejchou commented on #1925
@ianstormtaylor thank you so much!

[2018-07-02 18:09] mattkrick commented on #1938
great example!

so let's break it down & call it `data` for all the blocks (ie the stuff that gets serialized) and `metadata` for the extra info (word count, etc).

rendering `metadata` is cheap, and it's already the plugin's fault for being slow at rendering it, so we don't care about improving that. rendering `data` is the expensive piece.

to keep it cheap, we need to know when to invalidate `p

[2018-07-02 18:30] YangusKhan commented on #560
@RXminuS the Typescript folks also [merged in my slate-react definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26827), so if you're touching those too then make sure to take a look.

[2018-07-02 18:51] ianstormtaylor opened #1947 "refactor to make `shouldNodeComponentUpdate` part of core plugins"
There's no reason the current `shouldNodeComponentUpdate` logic couldn't just be part of the `after.js` plugin, which would make it completely override-able by end users in their own plugins.

[2018-07-02 19:34] ianstormtaylor commented on #1938
@mattkrick I think we're not talking about the same thing, which may be my fault for not being clear. Here's a JSFiddle showing a `Paragraph` node component which determines its color based on its text length: https://jsfiddle.net/24r81abc/11/

As far as I can tell, this would not be possible if `shouldComponentUpdate` restricted the re-rendering tree to no have the node re-render.

[2018-07-02 19:36] ianstormtaylor commented on #1938
Or, similarly, here's one that styled nodes based on the current selection: https://jsfiddle.net/fj9dvhom/1224/. Again I don't think would be possible if the editor could short-circuit the rendering tree.

[2018-07-02 20:42] RXminuS opened #1948 "Normalise falsely surrounds non void inline nodes"
I'm not sure if it's a bug, but the behaviour seems to deviate from the docs. In the docs it's suggested that only inlines that have `isVoid` must be surrounded by empty text nodes, but this normalisation function surrounds all inline nodes by text nodes.

https://github.com/ianstormtaylor/slate/blob/37418643e2430058203f88d460cf55bded9a5747/packages/slate/src/constants/core-schema-rules.js#L142

I

[2018-07-02 20:47] RXminuS commented on #1947
Isn't it already like that? The shouldNodeComponentUpdate seems to be looked up from the plugin stack. Can't you just supply a function there? Or is that not what you mean

https://github.com/ianstormtaylor/slate/blob/e4ff1972d79911baf8a6aed683765b66107b09a4/packages/slate-react/src/components/node.js#L67

[2018-07-02 21:39] RXminuS commented on #1906
Sorry if it's not great, but though i'd just get a PR started since I was working on the Typescript definitions anyways.

[2018-07-02 21:42] mattkrick commented on #1938
oh wow that 2nd one is fun!

i'd expect the logic rules for that plugin to look like this (sorry for the pseudo code):

[code]

in other words, if you type the letter "a", no update necessary. if you hit a backspace & you're not at the beginning of the line, no update necessary. But if you click to a different line, or you hit the Enter key, or you paste a bunch of lines of text, yeah, you gotta u

[2018-07-02 22:00] ianstormtaylor commented on #1938
@mattkrick maybe, but that just forces the user to end up writing and managing incredibly complex diffing logic themselves, when most of the time it isn't a bottleneck. I'm going to close this. Feel free to open new issues with specific actionable items for which parts of rendering are slow and could be avoided.

[2018-07-02 22:20] mattkrick commented on #1938
perhaps i didn't make this clear. the onus is on the plugin author. if they don't want to write that logic, that's fine. The performance is no worse than it is today.

I listed the _exact_ bottlenecks in the original comment:

I've detailed out a plan to avoid those bottlenecks without the need for a breaking change. I don't know what else I can do.

[2018-07-02 23:06] ianstormtaylor commented on #1948
Ah yeah, all inlines are surrounded by text nodes I guess.

[2018-07-03 00:15] ianstormtaylor commented on #1254
I'm going to close this, because I think it's something that's very editor-specific and likely shouldn't live in core at all.

[2018-07-03 00:15] #1254 closed

[2018-07-03 17:32] Dtphelan1 commented on #1941
Thanks for the feedback! For what it's worth, these are issues with the most recent version of IE, making this is a compatibility issue with IE11 as a current, up-to-date browser, not an issue with outdated, older versions of IE. If you'd still like to pass on those just let me know and I'll remove those changes from my PR!

 Thanks again for the response.

[2018-07-03 17:39] Dtphelan1 commented on #1882
Again, worth noting here that this isn't a legacy browser issue. IE11 is the most recent version of Internet Explorer. If Slate doesn't plan on supporting IE, that's fine but that should be reflected in the FAQ https://docs.slatejs.org/general/faq#what-browsers-and-devices-does-slate-support

[2018-07-03 21:10] ianstormtaylor commented on #1882
Feel free to submit a pull request mentioning that older browsers will need to use polyfills for things like `el.closest`.

I realize that IE is the latest Internet Explorer, but seeing as it's superseded by Edge, and doesn't have tons of the functionality that is considered baseline these days, it's not something that we're going to support without polyfills. Otherwise every single library starts

[2018-07-03 21:12] ianstormtaylor commented on #1941
Hey @Dtphelan1, yeah anything that can be polyfilled that the majority of modern browsers already support should be, that way Slate can continue to maintain a small bundle size for most people.

I'll accept IE11 compatibility fixes, but only for internal logic, where it isn't something that can be fixed by just bringing your own polyfill.

[2018-07-03 22:45] Dtphelan1 commented on #1941
Thanks for the info, having a clearer understanding of your motivations helps me paint a more detailed picture of what’s at play. I’ll work on fixing up my PR once in back at a computer!

[2018-07-04 19:57] wmertens opened #1951 "Value to React view"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### What's the current behavior?

If you want to display rich text edited by Slate in React, you have to use the html serializer, and then put it as the html content of some div. If you want to use a custom component, you can't do this.

It would be great if there was a stripped-down "react serializer component" that takes a `va

[2018-07-05 17:42] majelbstoat opened #1954 "Off-by-one errors in getMarksAtOffset()"
#### Do you want to request a _feature_ or report a _bug_?

_bug_

#### What's the current behavior?

[code]

These two methods have an off-by-one difference, where `text.getMarksAtIndex` returns the marks before the character, not of the character.

#### What's the expected behavior?

I would expect `text.getMarksAtIndex` to give the same result as `text.characters.get(i).marks`.

Repro case is h

[2018-07-06 06:29] dmitrizzle commented on #1951
This is very cool! So in my understanding, calling this function on serialized Slate Value would return React component free, similar to what `<Editor readOnly />` does? Because in that case I can save a lot of downloading and parsing time for my users... Been meaning to do this for a while.

[2018-07-06 06:33] wmertens commented on #1951
Yes correct, you store the JSON object, use this function and put it somewhere with appropriate CSS.

We have an auto-sizing Image component that now works, and I'm thinking about maybe some component that interpolates values from a given context object, so we can do i18n with placeholders defined in Slate…

[2018-07-06 11:54] befront opened #1955 "Delete selection marked text doesn't work correctly"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

In the example above: https://www.slatejs.org/#/rich-text.

If you for example write some text with bold mark and then select all text and click backspace only the text is deleted and mark not be reseted. It only reproduces if you select and remove more than one character.

#### What's the expected

[2018-07-06 15:05] zhujinxuan commented on #1951
Can I know what it differs from `<Editor editable={false}/>`?

[2018-07-06 18:48] zhujinxuan commented on #1954
For this function, this function serves `getMarksAtRange` and `getMarksAtPoint` that obtain marks by the Range.
Then for n characters, there is potentially n+1 marks to obtain for this function.

I remember all text functions are range/point prior than characters.(for convenience of rendering, deleting and modifying)  So....

[2018-07-06 18:55] zhujinxuan commented on #1955
It is expected, I think.

I implement this feature for this case: some users select all and mark with `font-size: 16px` or `font-family: times-new-roman` and expected the mark will be the default mark.  For example:
[code]

Suppose user delete the `is` and then insert, the user may expect the text is a bolded region, and would like to have the insert text bolded.

Similar happens on the first and

[2018-07-06 20:12] YangusKhan commented on #560
Another heads up: [I did a PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/27087) at DefinitelyTyped for the base64, plain, and html serializers.

[2018-07-06 20:20] FarmaanElahi commented on #560
Hey @YangusKhan I am unable to get the `slate-react` type to work
Getting this error `App.tsx:5 Uncaught TypeError: Cannot read property 'Value' of undefined`

[2018-07-06 20:45] majelbstoat commented on #1954
That makes sense. (Ironically, I'm trying build the inverse, `getRange(s)OfMark`)

[2018-07-06 21:18] wmertens commented on #1951
@dmitrizzle I'm not quite at the level for making a package yet, plus I'd prefer it if this functionality was part of Slate somehow

@zhujinxuan the difference is that it doesn't need to load Slate nor Immutable, which saves quite a bit of resources. Plus, it uses serialization rules to render, not the renderX functions, so it can render completely different things.

[2018-07-08 10:19] wmertens commented on #1951
Thinking some more about this, it would be great if plugins would provide `renderView`, and then that would be used by a generic `renderView` that takes a Slate JSON value and returns the children.

However, the difficult bit is getting that renderView without pulling in the rest of the plugins and their dependencies (Immutable etc). It would have to be a separate file in a plugin package. Likewis

[2018-07-09 05:38] alexeychikk commented on #1905
@travigd I'm not sure that the issue you linked is connected to this bug. You've reported a feature but what I've described is clearly a bug. @ianstormtaylor I would appreciate if you add `bug` label to this issue.

[2018-07-09 11:52] wmertens opened #1959 "JSON format for storing"
#### Do you want to request a _feature_ or report a _bug_?

feature

#### What's the current behavior?

`value.toJSON()` is a rather elaborate data structure, optimized for editing rather than storage.

There are also no guarantees regarding future compatibility.

#### What's the expected behavior?

Return a data structure that is optimized for storage.

## Some ideas

In previous APIs I made, I n

[2018-07-09 17:16] thallada opened #1960 "Access to the editor's current selection inside a schema or normalize function"
I asked in the Slack, and it seemed like others also thought it would be useful to have access to the editor's current selection in the schema or normalize function.

The specific use case that I need this for is to be able to write a schema to remove all Inlines of type "link" that have an empty `href` data value and are not currently selected in the Editor (the user is probably still editing the

[2018-07-09 17:32] ianstormtaylor commented on #1938
@mattkrick fair enough, I'll keep this open for discussion. Here are some additional thoughts...

That's exactly what worries me.

I think the "branch pruning" approach is the one we need to strive for if we want to do something like this. The problem with the "cut down the whole tree" approach is that it has huge collateral damage, which results in leaky abstractions. If a single plugin aborts re

[2018-07-09 19:39] justinweiss opened #1961 "If you move the cursor up into a multiline block, and the last line is empty, the cursor skips the entire block"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug.

#### What's the current behavior?

![screen-recording](https://user-images.githubusercontent.com/1020/42472088-fc790a3e-8374-11e8-9462-73e607aa8baf.gif)

#### What's the expected behavior?

When pressing the up arrow, the cursor should enter the last line in the multiline block.

[2018-07-09 20:52] uipoptart opened #1962 "Setting focus and selection with toggleMark destroys mark"
#### Do you want to request a _feature_ or report a _bug_?
Bug
#### What's the current behavior?
Programmatically setting selection and/or focus at the same time as toggleMark results in the newly applied mark being lost.

http://g.recordit.co/wi96Bp20tk.gif
https://jsfiddle.net/321nvc4k/

Mac OS 10.13.5
Google Chrome 67.0.3396.87
Slate version: Using forked current JS fiddle to reproduce

#### Wh

[2018-07-09 22:30] alexandremagro commented on #1110
Is it possible to use Slate without any framework JS?

[2018-07-09 22:34] justinweiss opened #1963 "Cursor positioned incorrectly in Chrome when next to a large void inline node"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug.

#### What's the current behavior?

Fiddle here: https://jsfiddle.net/fj9dvhom/1308/

In Chrome, if you place the cursor to the right of the image, it shows up in the wrong place:

<img width="691" alt="2018-07-09 at 3 32 pm" src="https://user-images.githubusercontent.com/1020/42479363-5e4dacd4-838d-11e8-9f2b-5db1679e5c2b.pn

[2018-07-09 23:16] uipoptart opened #1964 "[Discussion] Tab focus and cursor placement"
#### Do you want to request a _feature_ or report a _bug_?
Report a possible bug, discuss what expected behavior should be.

#### What's the current behavior?
Using tab to move focus into Slate drops cursor at the start of the content.

https://jsfiddle.net/fj9dvhom/1313/
http://recordit.co/DB5K1vlChN

#### What's the expected behavior?
Using tab to move focus into Slate drops cursor at the end of

[2018-07-09 23:44] travigd commented on #1905
@alexeychikk It's related to the same core issue (which manifests as a proper **bug** here) of how slate handles where the selection lies at the boundary of texts and inlines. The short version of it is, for something like `texttexttext|inline` (where `|` represents the cursor), Slate considers the selection to be at the right edge of the text rather than at the left edge of the `inline` (a side e

[2018-07-10 05:37] ianstormtaylor commented on #1964
@uipoptart sounds like a great idea to me, I'd be happy for a PR!

[2018-07-10 21:39] mvanlonden commented on #1345
@ianstormtaylor does this also apply to the tab key? Want to keep focus on the editor after a tab keypress.

Trying this with no success.
[code]

[2018-07-11 01:22] mattkrick opened #1965 "deleteLineBackward borks the website demo"
#### Do you want to request a _feature_ or report a _bug_?

BUG

#### What's the current behavior?
delete line back works, and then i hit the "a" key (or any other key that will make a character)  & it borks:
![borkdeletelineback](https://user-images.githubusercontent.com/5514175/42545623-e5db6b24-846d-11e8-8d40-9683156ac051.gif)

Chrome 67
Ubuntu 16.04
Slate Demo website https://www.slatejs.org/#

[2018-07-11 01:28] mattkrick opened #1966 "deleteLineForward borks selection range on demo"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

hitting delete line foward delete as expected, but the cursor ends up in the wrong spot
![borkdeletelineforward](https://user-images.githubusercontent.com/5514175/42545802-f4bfb0d6-846e-11e8-9202-6ea676556bf3.gif)

Chrome 67
Ubuntu 16.04
Slate demo website

[2018-07-11 19:48] vshia commented on #1374
@Slapbox , @realbisoye, Nathan (@nathanfu88) and I were working on this and ended up using Slate in a webview on an Android app. Our findings are posted [here](https://docs.google.com/document/d/1Hex89Di-r-Wfpo1DLAtxpetoX588ziXVoNyC87Je3Xc/edit#) which was posted in https://github.com/ianstormtaylor/slate/issues/725#issuecomment-398152295.

[2018-07-11 19:57] Slapbox commented on #1374
@mattkrick is working on some improvements to his already outstanding work seen in this PR: https://github.com/ianstormtaylor/slate/pull/1935

I'm very excited!

[2018-07-11 21:51] mvanlonden commented on #1345
Nevermind! Figured it out. Was adding a node and needed to specify cursor movement