[2019-02-25 06:21] kode-ninja commented on #2317
@Slapbox react-slate 0.21.16

[2019-02-25 08:44] isubasti commented on #2317
@kode-ninja yes the exact same windows, chrome, & slate version

[2019-02-25 12:24] somanshu commented on #1984
For Firefox, i was unable to select or focus on the editor. But making a small tweek fixed it.
`slate: 0.44.10`
`slate-react: 0.21.16`

[code]

[2019-02-25 12:31] FrancisVila commented on #2598
@ericedem sorry I confirm this does not work for me. Create Pull request button remains inactive. Maybe because I haven't done any commits on this project.

[2019-02-25 13:40] tebriz159 opened #2614 "Logo Design"
Hi, I'm a logo designer, I just saw your project, congrats to you it's a succesful project and if you want I can make a free logo for your project. So, what do you think?

[2019-02-25 14:10] kode-ninja commented on #2317
@Slapbox @isubasti's comment got me thinking and I've tried to reproduce the issue using a mouse instead of the laptop's mouse-pad and I couldn't. Can anyone else try with a mouse pad?

[2019-02-25 15:49] ericedem commented on #2611
I'm not quite sure this is a bug. The footnote is being rendered as part of the inline node as a display item, not as additional content added to the editor. So when the user hits backspace, slate looks at the current position (after the inline), tries to delete back one character, and only finds one character to remove; in the example above the `"e"` character. The character gets removed, the inl

[2019-02-25 16:02] devincma commented on #2611
@ericedem Ah I see. Those are good suggestions, I'll try them. Thanks, Eric!

[2019-02-25 16:04] ericedem commented on #2612
I'm not able to reproduce this in firefox in either the fiddle or in the slate rich text example.

From the video it looks like copy / paste is somehow pulling all the formatting HTML out of wikipedia and injecting it into slate. In mine all the html is stripped out and it is inserted as plain text. I wonder if this is a difference between OSX (what I'm using) and linux.

[2019-02-25 16:21] non-Jedi commented on #2612
Assuming this is the same bug as over at vector-im/riot-web#7062, most of the complaints have come from linux user although one user was able to reproduce with Firefox on Windows.

[2019-02-25 23:49] dons20 commented on #2500
One possible fix is to keep track of both <kbd>Ctrl+A</kbd> and <kbd>Delete</kbd> usages. If <kbd>Delete</kbd> is used after select all <kbd>Ctrl+A</kbd> then you can use `setBlocks(DEFAULT_NODE)` to have it prevent the stacking in the first place. It's not the most efficient fix as it might have some unintended behaviours in rare cases, but I can confirm that it does work with this particular ric

[2019-02-26 00:55] thesunny opened #2616 "Type Enter at end of first line in Syntax Highlighting Demo Throws Error"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

If you hit ENTER at the end of the first code line which is a comment in the demo here:

https://www.slatejs.org/#/code-highlighting

The result is this error:

[code]

It only happens on the first line.

#### What's the expected behavior?

Should not throw an error.

[2019-02-26 16:12] eroepken commented on #1853
I'm having the same issue as @ShiroYacha, except when I add `isVoid: true`, I'm not seeing the error, but I'm not getting my desired result, which is to be able to edit the content in that component.

No matter how I send in the attributes, unless I specify that this is a void component, it kills the editor.
![screen shot 2019-02-26 at 11 06 00 am](https://user-images.githubusercontent.com/502492/

[2019-02-26 17:51] #2611 closed

[2019-02-26 17:52] #838 closed

[2019-02-26 17:52] #1181 closed

[2019-02-26 17:52] #1187 closed

[2019-02-26 17:52] #1015 closed

[2019-02-26 17:54] ianstormtaylor commented on #2608
This might be one of those things that isn't solveable in a general case well. But if someone can come up with a better set of placeholder styles that fit the bill I'm all ears.

[2019-02-26 17:54] ianstormtaylor commented on #2606
Sounds like this is something that needs to be fixed on their end, so I'm going to close for now.

[2019-02-26 17:54] #2606 closed

[2019-02-26 17:57] ianstormtaylor commented on #1032
Either way, this is still something that would be nice to fix in core. Since the current behavior seems obviously wrong. If someone wants to make a PR I'd be happy to have this fixed. Thanks!

[2019-02-26 17:58] ianstormtaylor commented on #2614
Hey @tebriz159, thank you for the offer! We actually have a (fairly minimalist) logo already in the readme, so we're good on that front. But I appreciate it, thanks!

[2019-02-26 17:58] #2614 closed

[2019-02-26 20:54] gracicot opened #2617 "Delete text from the menu causes crash"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Slate crashes when Undo-ing

1. Go to https://www.slatejs.org/#/rich-text
2. Select all the text in the rich text editor
3. Right click on the selection and press the `Delete` menu entry
4. Undo

My system:

It also happen with Chrome

Gif:
![gif](http://g.recordit.co/qzb7SxbouU.gif)

#### What's the

[2019-02-26 21:24] mikecrittenden commented on #458
Just FYI, that fiddle seems to be broken now. I'm just seeing an empty white box.

[2019-02-26 21:35] scottluptowski commented on #2609
Hi @ericedem, really eager to see this plugin! I am currently working on the same feature now and ran into similar issues. At a certain point it became much easier to write my code as a plugin than to follow the example.

I'm also really interested in any issues you ran into while testing. I am currently testing the plugin unit-test style, but it involves stubbing out more values than I would like

[2019-02-27 00:16] ericedem commented on #2609
@scottluptowski I submitted a PR at #2610 That's awaiting review if you wanted to check out the plugin implementation.

[2019-02-27 10:26] asafron opened #2620 "Using chrome plugin spell checker, editor throws error on misspelled word selection"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
I installed an external spell checker for chrome ([GINGER for chrome](https://chrome.google.com/webstore/detail/grammar-and-spelling-chec/kdfieneakcjfaiglcfcgkidlkmlijjnh?hl=en)). Using the "rich-text" demo (https://www.slatejs.org/#/rich-text) => Writing a few words with spelling mistake (so those wo

[2019-02-27 16:53] bnowlin opened #2621 "Deleting Inline at beginning of editor causes error."
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?

1. Go to https://www.slatejs.org/#/links
2. Highlight the beginning text "In"
3. Enter any text for link
4. Move cursor to end of "In"
5. Press backspace - deletes n
6. Press backspace - deletes I
7. Press backspace - Causes error

#### What's the expected behavior?

The inline (void false) Object is

[2019-02-27 18:24] scottluptowski commented on #2609
@ericedem Thanks so much!

[2019-02-27 21:21] ldavidpace opened #2623 "Editor Validation Breaks after removing parent nodes"
#### Do you want to request a _feature_ or report a _bug_?
BUG

#### What's the current behavior?

When parents of nodes are removed the editor tries to validate a node that does not exist this throws an error and causes all other validation to stop working.

[jsfiddle](https://jsfiddle.net/paceld/hg8mf6by/33/)
![slate-error](https://user-images.githubusercontent.com/25068382/53522997-db49d600-3a9

[2019-02-28 03:08] miracle2k commented on #1610
So, I am struggling with this issue, because I have a case where I want the user to type at the end of an inline, expanding the inline with additional keystrokes. Currently, this seems impossible.

We already saw a lot of examples of browser behavior, but it is been a year, so I will describe what I am seeing now. Using the [Links example](https://www.slatejs.org/#/links), on OSX with the current

[2019-02-28 09:28] klis87 commented on #1610
I also had issue with it, and I solved it by normalizing given inline nodes to always end with space, sth like:
[code]

[2019-02-28 17:05] miracle2k commented on #1610
I also made a fair amount of progress with the following approach:

[code]

It checks if the cursor is in one of these critical locations before or after an inline, then inserts the character at the desired place.

[2019-02-28 20:20] #2590 closed

[2019-03-01 17:34] #2601 closed

[2019-03-02 19:03] brendancarney commented on #2428
Closing due to the duplicate mentioned above.

[2019-03-02 19:03] #2428 closed

[2019-03-02 19:06] brendancarney commented on #2154
Closing in favor of #2319.

[2019-03-02 19:08] brendancarney commented on #2616
I believe this is a duplicate of #2319

[2019-03-02 19:09] brendancarney commented on #2232
Closing in favor of #2319

[2019-03-02 19:09] #2232 closed

[2019-03-02 19:16] brendancarney commented on #2332
Oh nice, I hadn't seen this issue and was thinking the same thing: https://github.com/ConvertKit/slate-plugins/tree/master/packages/slate-keymap

@ianstormtaylor if you want this in core, I'd be happy to add it and deprecate our package. The only real difference appears to be that we support a string argument to call a command:

[code]

We could go with or without that functionality, up to you.

[2019-03-02 19:21] #2154 closed

[2019-03-02 19:38] brendancarney commented on #2406
I like this idea. Most feature plugins I've written (lists, code editing,  quotes) have required the concept of a default block. I think this would improve developer experience.

[2019-03-02 19:42] brendancarney commented on #2172
Hi @heyhuzi, this issue as been inactive for a few months and needs more info. I'm going to close it, but if you're still having problems and can provide more information and/or an example using jsfiddle, we'd be happy to reopen. Thanks!

[2019-03-02 19:42] #2172 closed

[2019-03-02 19:49] brendancarney commented on #1680
I'm unable to reproduce this, testing with OSX and Windows in multiple browsers. I'll close this issue, but if you provide more info on how to reproduce, we're happy to reopen it.

[2019-03-02 19:49] #1680 closed

[2019-03-02 19:54] brendancarney commented on #2182
+1 for Cypress. Also, they have a nice dashboard service that's free for open source.

[2019-03-02 19:59] brendancarney commented on #946
I was unable to reproduce this in IE11 using browserstack on the rich text example. @ddivin-sc if you can provide more info, we'd be happy to reopen this issue.

[2019-03-02 20:06] #946 closed

[2019-03-02 20:28] brendancarney commented on #2345
Could we start by mimicking most of the API with functions and getters on the object directly?

**Fake example API:**
[code]

[2019-03-02 20:49] brendancarney commented on #1784
I tested IE11 on Browserstack on the latest version and it appears this is fixed. @ProductiveRage if you can still reproduce the issue, let us know and we can reopen.

[2019-03-02 20:49] #1784 closed

[2019-03-03 02:11] dons20 opened #2626 "Images Example: Paste URL seems to be broken"
#### Do you want to request a _feature_ or report a _bug_?

Bug Report

#### What's the current behavior?

Following the instructions in this example, I tried to paste an image URL but it didn't add the image. However, it does work when clicking the image icon and pasting in the prompt that follows.

Source: https://www.slatejs.org/#/images

Bug in action: ![Bug](https://thumbs.gfycat.com/TartCorn

[2019-03-03 04:07] dons20 commented on #2621
Is this the error you're getting as well?
![image](https://user-images.githubusercontent.com/3958349/53690825-e1adab80-3d3f-11e9-8909-97adf20b424f.png)

[2019-03-03 06:50] isubasti commented on #2406
@brendancarney you can have a plugin that expose `getDefaultBlock` query

[2019-03-03 15:15] brendancarney commented on #2406
Yep, you could, but I think the developer experience would be better if it were in core. That being said, I'm sure there are some reasons it shouldn't be also, and I'd be interested in hearing those.

[2019-03-03 15:33] brendancarney commented on #2626
Looks like it's failing here: https://github.com/ianstormtaylor/slate/blob/master/examples/images/index.js#L40

[2019-03-03 16:55] bryanph commented on #2405
One thing that might help in the future is if we would switch to normalization at the **operation-level**. So instead of normalizing a potentially deeply nested node we would normalize the operation and "correct" the operation if necessary. Besides performance, this has another advantage of normalization not causing the addition of extra operations after invalid ones. This way all operations that

[2019-03-03 17:49] thesunny commented on #2616
It may be a duplicate, but it seems unclear because the bugs present themselves differently.

- One is hitting enter twice at the second-last position of any line
- This one is hitting enter once at the last position of the first line

I suggest we keep this open until someone can confirm that they are the same.

[2019-03-03 18:29] brendancarney commented on #2617
I haven't looked into this much yet, but my guess is that no event is fired/handled by clicking delete in the context menu. I wonder how we would handle this. Maybe watching for changes with MutationObserver?

It's not exactly related, but maybe @thesunny has some ideas since I know they have experience dealing with potentially related input issues for android support.

[2019-03-03 18:48] brendancarney commented on #2626
Just saw there is an open PR for this: https://github.com/ianstormtaylor/slate/pull/2592

[2019-03-03 18:49] dons20 commented on #2626
I was about to submit a PR as well. What do you think about having this instead? @brendancarney

[code]

[2019-03-03 20:46] brendancarney commented on #2626
@dons20 since someone has already started work on it, it's probably best to let them finish.

Thanks for the willingness though, and if you'd like to make a PR, there are many issues in the repo that could use some help!

[2019-03-03 20:56] brendancarney commented on #843
Unable to recreate, please comment on the issue if you can and would like it reopened.

[2019-03-03 20:56] #843 closed

[2019-03-03 21:08] brendancarney commented on #2425
This appears to be fixed, closing. Please comment if you believe the issue is not resolved. Thanks!

[2019-03-03 21:08] #2425 closed

[2019-03-03 21:08] dons20 commented on #2626
@brendancarney sounds good, I'll see if I can help out on some other issues 😁

[2019-03-03 21:15] brendancarney commented on #2372
xstate does look cool, but I'm not sure it's a good fit for slate, and I don't think a low level library like slate should depend on a state abstraction. I don't exactly see how the data model would fit into something like x state, so if you could provide some example, that would be great.

[2019-03-04 03:26] bnowlin commented on #2621
Yes.

[2019-03-04 08:18] CodePlayer commented on #2368
This issue is also bothering me, I hope to have a better solution as soon as possible.

[2019-03-04 13:57] brendancarney commented on #2487
It does look like this is fixed in latest. @davegw if there's not an issue for what you mentioned, we should create that.

[2019-03-04 13:57] #2487 closed

[2019-03-04 21:30] thesunny commented on #2547
Made some improvements to Combo specification. Thanks @ianstormtaylor for the link to https://twitter.com/threepointone/status/1099018973595779072. Gave me some good ideas.

A combo object is defined like this:

[code]

combos are defined like this:

[code]

The preceding defines a combo that captures a possible `enter` event that we might want to capture.

The first argument `enter` gives the com

[2019-03-04 22:27] thesunny commented on #2547
A basic design for the Combo class. Note: I haven't run any of this code so there may be errors.

[code]

[2019-03-04 23:14] doums opened #2630 "Focus by click not working on Linux's Firefox, Chromium"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
Linux desktop
Mozilla Firefox 65.0.2
Chromium Version 72.0.3626.121 (official build) Arch Linux (64 bits)
OS 4.20.13-arch1-1-ARCH x86_64 GNU/Linux
slate: ^0.44.10
slate-react: ^0.21.16
react: ^16.8.3
react-dom: ^16.8.3
immutable: ^4.0.0-rc.12

EDIT: with Tab the focus works, but not with mouse click

[2019-03-05 11:04] darkyshiny opened #2631 "When focusing the editor in firefox, the selection does not match the click position"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
In Firefox when the editor is focused the selection is set to the beginning of the document rather than the position that was clicked.
This is likely the same problem as #2095
This is reproducible in both the template jsfiddle and the Slate examples

##### Steps to reproduce
1. Place the cursor anywhe

[2019-03-05 13:16] ererik commented on #2582
The issue can also be observed by copying and pasting text containing links in https://www.slatejs.org/#/links

[2019-03-06 14:36] dragosbulugean commented on #2345
@ianstormtaylor what's your current position on this matter? has anybody started working on this migration?

[2019-03-06 20:59] ragurney opened #2632 "Deleting Plaintext Emoji as First Character Throws Error"
_bug_

#### What's the current behavior?

Inserting an emoji in plain text -- either by using `insertText()`, copy pasting, or using Mac's emoji picker -- as the first character in the editor, then hitting the left arrow once and hitting backspace results in an error: `slate.js:6451 Uncaught TypeError: Cannot read property 'text' of null`
Sandbox example:
![](http://g.recordit.co/1A2xwR1acl.gif)
h

[2019-03-06 21:24] ianstormtaylor commented on #2345
@dragosbulugean good question. For the next steps on making this happen, check out: https://github.com/ianstormtaylor/slate/issues/2495 — a list of the smaller steps that go into being able to make this change. If anyone can help with any of the steps (or happens to discover another thing we need to fix) that would be awesome!

As soon as we have the precursors done we can make the breaking change

[2019-03-06 21:39] ianstormtaylor commented on #2603
I think the issue is that we don't really want to enforce that `data` has to be immutable objects? I think this might be something we avoid, since we want to remove immutable objects anyways.

[2019-03-06 21:44] #2539 closed

[2019-03-06 21:44] #2596 closed

[2019-03-07 04:34] thesunny opened #2633 "Improve how contributors accept PRs by documenting merging guidelines"
#### Do you want to request a _feature_ or report a _bug_?

Improvement to Documentation about PR acceptance for Contributors

#### What's the current behavior?

In recent commit history, apart from Ian, I've only seen PRs committed by myself.

#### What's the expected behavior?

Other contributors may not be committing PRs because they may not be clear what the parameters are for accepting a PR i

[2019-03-07 06:22] gdehmlow opened #2634 "Decorations should not be mutable"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Take the [search highlighting example](https://www.slatejs.org/#/search-highlighting). Enter a search term. Select the end of the highlighted word and type.. the highlight continues as the decoration is appended to:

![decorationbug](https://user-images.githubusercontent.com/850025/53936154-c3a4bb80

[2019-03-07 14:31] brendancarney commented on #2472
So are you saying an error gets thrown before this one? https://github.com/ianstormtaylor/slate/blob/master/packages/slate-html-serializer/src/index.js#L75

[2019-03-07 14:34] brendancarney commented on #2470
Maybe we could support a `style` or `className` option here: https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react-placeholder/src/index.js#L17-L24

[2019-03-07 18:46] Slapbox commented on #2472
@brendancarney it's been a while now and I was wrong about the initial cause of my issue. I believe that that error will be thrown as would be expected. I haven't been able to find any substitute parser to drop in in place of Slate though. I think `parse5` should work, but I didn't get it working and went another route.

It would still be a big help to have this working with any other parser in a

[2019-03-07 21:00] brendancarney commented on #2472
I had an issue with `parse5` where `node.nodeValue` is null in parse5, but `node.value` isn't:

https://github.com/ianstormtaylor/slate/blob/master/packages/slate-html-serializer/src/index.js#L47

I haven't looked into what is right.

[2019-03-07 23:08] #2521 closed

[2019-03-07 23:15] scottluptowski opened #2635 "Backspace does not properly delete complicated emojis"
Bug Report: Backspace does not handle complicated emojis

#### What's the current behavior?
For an emoji that is represented with multiple characters (example: male zombie 🧟‍♂️), attempting to delete this emoji with the backspace key does not work as expected.

The user must hit the backspace key `n` times where n is the number of characters in the emoji representation.

#### What's the expected b

[2019-03-07 23:43] gdehmlow commented on #2634
As an amendment to this issue, it seems that sometimes decorations can come back from the grave. See this fiddle: https://jsfiddle.net/710djobp/8/

![weird decorate issue](https://user-images.githubusercontent.com/850025/53997070-ae786d00-40ef-11e9-9772-455125437650.gif)

The idea is that roughly 50% of the time, when a character is entered, the text of the current node should turn red. As we can

[2019-03-08 00:13] gdehmlow opened #2636 "decorateNode does not get called after shouldNodeComponentUpdate returns true for non-current nodes"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

When `shouldNodeComponentUpdate` returns true, when the node is re-rendered, `decorateNode` does _not_ get called for that node.

See this fiddle: https://jsfiddle.net/710djobp/9/
And this gif:
![another weird decorate issue](https://user-images.githubusercontent.com/850025/53997265-60179e00-40f0-11

[2019-03-08 00:30] thesunny opened #2637 "Add documentation for gh-pages:fork"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### What's the current behavior?

There is no documentation on how to publish a fork to github pages.

#### What's the expected behavior?

With the Android PR, I've included a script in `package.json` to allow forks to publish to github pages. Need to add documentation on how to use it.

[2019-03-08 00:52] isubasti commented on #2634
@gdehmlow not sure about how we can fix the original issue but the amendment is actually a non issue. it looks like it come back from the grave because it's decorating `document` which is not a `block` but a `node` as well. if you do:
[code]
at the very start of `decorateNode` function then you won't get that issue

[2019-03-08 00:57] isubasti commented on #2636
it is running `shouldNodeComponent` update because it is indeed need to be updated since you're decorating `document` node as mentioned [here](https://github.com/ianstormtaylor/slate/issues/2634#issuecomment-470761142)

[2019-03-08 01:07] isubasti commented on #2636
@gdehmlow does that makes sense and fixed the issue that you're having. if so can this issue be closed?

[2019-03-08 01:13] isubasti commented on #2574
i believe this is fixed on #2593

[2019-03-08 01:45] gdehmlow commented on #2636
I think the issue I raised is still valid - even if I don't provide decorations to the `document`, it still doesn't call `decorateNode` for nodes _other_ than the one that has actually changed because of the memoization issue: https://jsfiddle.net/rwhz27to/

[2019-03-08 01:47] gdehmlow commented on #2636
I figured out a workaround, but I still don't think the current behavior is desired. If I want to force the re-rendering of a node, it's probably for a good reason and thus should try to use the freshest data possible.

Conceptually, my implementation of `decorateNode` can depend on things besides just the `node` itself.. and there's currently no way for me to tell Slate that this is the case.

[2019-03-08 05:30] isubasti commented on #2636
decorations are actually one of the performance bottleneck in slate ATM. even with memoizing, once you have certain number of decorations in a node the fps drops significantly.

[2019-03-08 11:37] #2599 closed

[2019-03-08 12:58] brendancarney commented on #2470
If @ianstormtaylor approves of this, it would be a good PR for someone new to contribute.

[2019-03-08 13:51] sgreav commented on #2470
Happy to work on the PR if approved : )

[2019-03-08 14:52] scottluptowski commented on #2635
I attempted to find my way around this problem with a plugin that detected backspace keys.

[code]

In the case above, the characters are (from left to right) `[zombie emoji, "", male emoji, ""]`. I guess it would be possible to detect a backspace that results in a `""` being deleted, and then determine if the preceding character is an emoji.

But I do not know if this is the consistent constructi

[2019-03-08 19:21] adjourn commented on #2547
Rethinking events might also be a great opportunity to get rid of synthetic events.. I think that this is pretty much the only thing that prevents using Slate with Preact.

[2019-03-08 19:22] adjourn commented on #2547
Rethinking events might also be a great opportunity to get rid of synthetic events (mainly `onBeforeInput`).. I think this is pretty much the only thing that prevents using Slate with Preact.

[2019-03-08 20:00] dmitrizzle commented on #2635
Are emojis wrapped into some kind of component or are they plaintext? I think emojis are comprised of a few special characters, that's why complex emojis take longer to delete than the basic ones (more characters stitched together to form an emoji). I'd imagine that to solve that you'll need to wrap every emoji into `<span />` and delete them as a block.

[2019-03-08 21:07] ianstormtaylor commented on #2547
I'd love to get rid of synthetic events, but it seems like something we need the React team to finally do themselves first. Otherwise we'll have bad compatibility with other React components sadly.

[2019-03-08 21:21] adjourn commented on #2547
@ianstormtaylor I can see your point.

By the way, I tried to make `slate-react` compatible with Preact but current dependency on React's `onBeforeInput` synthetic event (which uses `textInput` under the hood) makes it nearly impossible, at least for me, Slate is still largely a black box for me.

Every other event I came across seems to work fine though.

[2019-03-08 22:04] scottluptowski commented on #2635
@dmitrizzle Right now the emojis are plaintext. The `<span />` idea could work!

I think there is a similar issue here - wrapping (any) text in a span programmatically would necessitate a way to ensure we what is an emoji and what is not.

So in the case above: `[zombie emoji, "", male emoji, ""]`. Which are empty strings, and which are partial representations of a complex emoji

[2019-03-09 01:06] steida commented on #2500
I had a similar issue and I fixed it with `user-select: none`.

[code]

[2019-03-09 04:01] thesunny commented on #2159
FYI, I was successfully using `shouldNodeComponentUpdate` before.

After upgrading, it stopped working. `previousProps` and `props` always return the same value now but it didn't before.

[2019-03-09 14:30] wmertens commented on #2345
Question: What is the benefit `immer` would bring over plain objects? It's easy to freeze all incoming values (in dev mode*) but otherwise just use them without changing them or adding proxies.

I'm just playing devil's advocate - it could very well be that deep changes are too annoying to to manually, or that `immer` does them lazily which might make things faster than plain objects.

Another pot

[2019-03-09 21:25] ianstormtaylor commented on #2345
I believe `immer` would be an implementation detail, only inside Slate core. To everyone else it’s just a regular JSON object that happens to be frozen to imitate immutability.

I’m unsure of what the browser support is. But we don’t want to re-invent the wheel and write the immutability logic ourselves when a popular existing solution with no external API impact exists.

[2019-03-10 01:55] knpwrs commented on #2345
Directly mutating objects is much more natural than immutably updating objects. This is presumedly why Immutable.js was chosen in the first place, because it offers an API which feels like direct mutation.

Immer automatically falls back to a getter/setter-based solution, much like Vue or Mobx. Source code here: https://github.com/mweststrate/immer/blob/0ad9a91e189685b24714686bd6a42699ce02feae/src

[2019-03-10 10:28] fizcoder commented on #1032
I second that! ☝️😁 I just encountered the issue too.

[2019-03-10 17:18] renchap commented on #2345
Immer already only freezes objects only in dev mode

I feel that properly dealing with deep updates would end up with rewriting Immer

[2019-03-11 04:18] ahungrynoob commented on #868
https://github.com/ianstormtaylor/slate/blob/76a88a649a9ec7d27d207416d94b3de1de0828d6/docs/reference/slate/editor.md#run
Actually, we can use `editor.run` to simulate events.

[2019-03-11 04:32] #2603 closed

[2019-03-11 08:25] wmertens commented on #2345
I had a look at Immer, and I think I agree. The main benefit of Immer would be doing multiple mutations in one go, which would either not be implemented or recreated when doing immutability manually.

The only way to really be sure is to implement it both ways and benchmark, which I think would show trade-offs on both sides.

I resign as devil's advocate ;)

[2019-03-11 11:35] grsmvg commented on #2635
To me this feels like something that Slate's core should be able to handle. Because any user can use any emoji in any Slate editor and probably no user wants to remove the skin/hair color before removing the face by pressing backspace a single time.

I guess we could implement logic in Slate to know when unicode characters belong to each other being a single emoji?

[2019-03-11 11:59] adjourn commented on #2630
Could you reproduce this behaviour in [Codesandbox](https://codesandbox.io/s/new)? Im not able to reproduce it on Ubuntu.

[2019-03-11 12:36] knpwrs commented on #2345
I've actually done benchmarks of immer vs ramda vs plain JS for deep immutable updates. I don't have the benchmarks around anymore, but all solutions were on the order of tens of thousands of updates _per second_ and trading blows for the top spot. In terms of performance, there was no clear winner.

In terms of simplicity, however, there was a clear winner. I think it's obvious by now which one I

[2019-03-11 13:27] steida commented on #2345
"immer vs ramda vs plain JS" It's like comparing apples with apples with apples.

[2019-03-11 14:44] vamshi9 opened #2639 "get previous inline blocks to cursor position"
#### Do you want to request a _feature_ or report a _bug_?
 A feature.

#### What's the current behavior?
If I want to get all the inline blocks which are of type `span`, I could get it with
`this.editorRef.value.document
      .filterDescendants((node) => node.type === 'span')
      .toArray()`.
Now, if I have inline blocks as .....inline1.......inline2.....inline3......inline4 and my cursor is i

[2019-03-11 16:53] dons20 commented on #2626
Fixed as per #2592

[2019-03-11 16:53] #2626 closed

[2019-03-11 20:41] ichbinedgar commented on #927
Hi, this issue should be open. The cursor is visible now, but it's still inserting in the wrong location sometimes.

[2019-03-12 19:37] thesunny commented on #2368
FYI, Android support published to Slate @ 0.44.12 four days ago.

There are still some bugs but a huge improvement over existing support.

[2019-03-12 19:38] thesunny commented on #2062
Hurray! Android support was published to NPM four days ago.

[2019-03-12 19:51] Slapbox commented on #2062
@thesunny can you outline the next steps on this task? I know we're 95% of the way there, but you mentioned needing to address "combos" - I'm not sure what this was in reference, what it would do, or how it would work.

I know you've already done a stupid amount, but if you could briefly outline what remains to be addressed that would be a great jumping off point for completion of the remaining ta

[2019-03-12 19:59] jf97 commented on #106
A little late to the party, but on the onChange function, maybe you can add an attribute to each block that you want it to be readOnly, and then compare new state + old state to see if there are any changes to readOnly blocks-- if so, return early?

[2019-03-12 20:57] dmitrizzle commented on #106
You may want to consider using something like this: https://github.com/roast-cms/french-press-editor/blob/develop/src/components/vignettes/Reader.js

[2019-03-12 21:00] thesunny opened #2640 "Add docs to clarify how to `setState` during `onFocus`"
#### Do you want to request a _feature_ or report a _bug_?

Documentation Improvement

#### What's the current behavior?

Currently, according to these two issues, when you `setState` during an `onFocus` event, the focus will fail.

https://github.com/ianstormtaylor/slate/issues/2097
https://github.com/ianstormtaylor/slate/issues/2434

#### What's the expected behavior?

Since this feels like a co

[2019-03-13 09:15] Zhouzi commented on #1744
The [bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1449936) on Firefox's side was just marked as resolved. I wasn't able to reproduce the bug in the two following scenarios:

* https://www.slatejs.org/#/embeds
* https://jsfiddle.net/hsqebsk2/

So it does seem to be fixed. Could someone else confirm?

[2019-03-13 10:14] DanweDE commented on #2045
Is this documented anywhere on https://docs.slatejs.org/ I couldn't really find anything relevant when searching for "normalize".

Also, is there a utility function to normalize a document without an editor instance e.g. for passing a normalized document to the editor while `normalize: false` is set?

[2019-03-13 16:34] BrechtVds commented on #349
I still seem to be experiencing this problem when using Safari and testing the [link example](https://www.slatejs.org/#/links).

To reproduce just add a link at the very end of content and you won't be able to add normal text after it. Doesn't seem to be an issue in Chrome.

[2019-03-13 20:24] zyqxd opened #2641 "`slate-html-serializer` not deserializing nested elements in test environment"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?

Version:
`slate@0.44.12`
`slate-html-serializer@0.7.36`
`mocha@2.3.4`
`

Hard to produce JSFiddle since regular behaviour is fine:

Serializer Rules:
[code]

Live testing
[code]

Running in test environment
[code]

I notice this happening to a bunch of different rules, everything only deserializes on

[2019-03-14 02:49] isubasti commented on #2641
@zyqxd you might want to compare the lowercase tagname like so:
`el.tagName.toLowerCase() === 'div'` instead of `el.tagName === 'DIV'`. my gut feeling says that this is the actual problem as `nodes: next(el.childNodes)` should handle nesting

[2019-03-14 05:51] saravanan10393 commented on #2062
@thesunny ,Are examples hosted in slate website is mobile supported now ?. So that i can check and i will migrate my code from older version to newer version, which is huge effort me since i have blendy of plugins to convert to newer version.

[2019-03-14 07:10] latviancoder commented on #945
@ianstormtaylor I am struggling with the same problem currently and the slack channel wasn't much of a help unfortunately. Is there some related example so that I at least understand which direction I should move in?

[2019-03-14 07:44] CodePlayer opened #2642 "inline node and block node can not be siblings"
#### Do you want to request a _feature_ or report a _bug_?

**both**

#### What's the current behavior?

 `inline` node (  or `text` node ) and `block` node  can not be siblings.

e.g.

[code]

Once this happens, only the first node is retained.

#### What's the expected behavior?

In the real world , It should be acceptable.
Therefore, I hope to be able to lift this low-level restriction.
Or, at

[2019-03-14 12:36] zyqxd commented on #2641
@isubasti
Yeah i have the same suspicion about next(...) in mocha. I thought it was the dom tree passed in test was different from other environments but through inspection, I couldn't find a difference.

Also, for `tagName`s, for now there is no case for parsing XML.

[2019-03-14 17:25] jf97 opened #2643 "Rejecting a change that violates schema"
#### Do you want to request a _feature_ or report a _bug_?

_Feature_.

It would be helpful to have a way to reject a change when the change violates the schema

#### What's the current behavior?

Currently, the change occurs first, and then the normalize function makes another change to the editor if the new state doesn't match the schema.

#### What's the expected behavior?
It would be helpful i

[2019-03-14 18:21] CameronAckermanSEL commented on #2642
I disagree with the assertion that it is not supported by slate. You can achieve this if you have these inserted into the document as inline nodes, which nothing about Slate prevents you from doing.

[2019-03-14 18:58] travigd opened #2644 "Overwrite default schema"
#### Do you want to request a _feature_ or report a _bug_?
Feature(?)

We have a use case where we want to be able to have text and blocks within the same block. The actual reason is kind of a hack; we want block-style selection mechanics (where you have to manually cursor-over to move from one node into the next), so if there's a better way to do that I'm all ears.

But is it possible (and it see

[2019-03-14 19:14] travigd commented on #2642
Treating an `h3` and `div` as an inline is probably less than ideal, IMO. The "better" solution might be to wrap the `<a />` in a `<p />` tag (or similar), but there are still issues with that, especially since blocks and inlines don't have equivalent behavior (I just opened an issue, #2644, that talks about that and is related to this issue).

[2019-03-14 20:23] CameronAckermanSEL commented on #2644
https://docs.slatejs.org/guides/data-model#documents-and-nodes

So, rephrasing to make sure I have this correct: you'd like to be able to have a clear division on whether the inline or the text is selected, right?
If that's the case there's a plugin called `slate-sticky-inlines` that would do this for you, except its out of date and needs to be updated. There's a PR to update it to work with lates

[2019-03-15 01:50] isubasti commented on #2641
@zyqxd it seems that you misunderstood what i mean. can you check with console.log or something during test whether it actually reach any of your deserialise or is it just deserializing `#text` from the core `HTMLSerializer`.

[2019-03-15 02:15] changlin-cn commented on #2467
`editor.toggleMark(type);
      if (editor.value.selection.isCollapsed) {
        editor.insertText('\u200B');
      }`

[2019-03-15 04:51] gnestor opened #2645 "Paste HTML example doesn't support images"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug

#### What's the current behavior?

When pasting HTML that includes an image into the paste HTML example editor, everything pastes correctly except for images.

To reproduce, copy this into the [paste HTML example](https://www.slatejs.org/#/paste-html):

<p align="center">
  <a href="#"><img src="/ianstormtaylor/slate/raw/mas

[2019-03-15 05:39] travigd commented on #2644
What kind of boilerplate does this actually reduce? One would still need to know if the block contains other blocks or text/inlines if that kind of thing matters to the consuming code. Also, it's the kind of thing that could definitely be a default but overrideable fairly easy (I do think it's somewhat of a sane _default_).

[2019-03-15 05:43] CodePlayer commented on #2642
@CameronAckermanSEL  I think this kind of consideration is not rational enough. Because in the real world, it’s not just such a scene that exists in isolation.

E.g.  in an online shopping mall, `a` tag can wrap a series of information about a commercial product, such as name、price、vendor、image、summary...etc.
In such a scenario, `a` tag should be a `block` node in Slate. However,  in most other sc

[2019-03-15 05:47] CameronAckermanSEL commented on #2642
In contrast, is it more rational to redo the model for problems that are solvable as is, or problems that are solvable with a plugin or a cheaper PR?

I honestly think your hang up is based on terminology,

[2019-03-15 05:51] CameronAckermanSEL commented on #2644
Whether a node is a block or an inline has considerations when it's split, merged, or with how selection behaves (as you observed). Don't have a lot of specific information unfortunately, this is probably a question that Ian will have to answer

[2019-03-15 06:31] CodePlayer commented on #2642
In fact, `a` tag can really play the three roles of `block` node, `inline` node, and even `text` node at the same time.

However, the key issue is that performing the same operations on `block` node, `inline` node and even `text` node will result in some different results that are not as expected.  Because many of the behaviors of `block` node, `inline` node and `text` node are different in Slate.

[2019-03-15 07:25] karan-clixlogix opened #2646 "getting next null"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2019-03-15 07:26] karan-clixlogix opened #2647 "getting next null"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2019-03-15 07:26] karan-clixlogix opened #2648 "."
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?

#### What's the expected behavior?

[2019-03-15 07:26] #2648 closed

[2019-03-15 07:46] nego25 opened #2649 "Text nodes can't be adjacent to other text nodes"
Hello! I need a help.
In my project, the document can have  adjacent two and more text nodes. If they will be automated merged, then will be broken structure of document.  This is not good for me. I have try to convert my text node to inline object. After that in the document automatic  adds new text nodes. So structure of my documents is changed.  This is not good again ((.
How I can resolve this

[2019-03-15 10:23] bebbi commented on #2574
fixed by #2593

[2019-03-15 10:23] #2574 closed

[2019-03-15 10:29] bebbi commented on #2604
Now that newest master has #2593, we can close this in favor of #2589.

[2019-03-15 10:29] #2604 closed

[2019-03-15 12:32] thesunny commented on #2062
@saravanan10393 The examples on the official Slate website should have Android support on it now although I haven't checked and aren't able to right now (I'm on vacation and I don't have any Android devices on me).

@Slapbox I was waiting on getting Android support merged before I did any more work on it. As mentioned, on vacation now, but after I get back and I finish some integration work, I'll

[2019-03-15 12:43] SamyPesse opened #2650 "Invalid condition in get-event-transfer.js"
While refactoring our slate fork to use Typescript, tslint warned us about the use of bitwise operators in [`slate-react/src/utils/get-event-transfer.js`](https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/utils/get-event-transfer.js):

I'm opening this issue because from my understanding this condition is always false:

[code]

You can test it:

[code]

It probably has n

[2019-03-15 13:21] brendancarney commented on #2647
Duplicate of #2646

[2019-03-15 13:21] #2647 closed

[2019-03-15 13:22] brendancarney commented on #2646
Hi @karan-clixlogix, thanks for the issue! Could you provide more detail by answering the questions in the issue template?

[2019-03-15 13:30] brendancarney commented on #2650
Thanks @SamyPesse!

Here's the other side of this if anyone knows what's going on: https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/utils/clone-fragment.js#L92

This may be an attempt to support older browsers? More info starting from this PR: https://github.com/ianstormtaylor/slate/pull/1815

[2019-03-15 17:27] dmitrizzle commented on #2645
For working with images you will need https://github.com/ianstormtaylor/slate-plugins/tree/master/packages/slate-drop-or-paste-images

[2019-03-15 18:13] gnestor commented on #2645
The project I'm working on uses that plugin and pasting HTML that contains images still doesn't work. I've created a Code Sandbox to reproduce: https://codesandbox.io/s/j4k03k1579?fontsize=14

[2019-03-15 18:28] nonsleepr commented on #2062
Sadly, just moving the cursor in code highlighting example on https://slatejs.org using Chrome on Android messes up the code.

[2019-03-15 18:28] CameronAckermanSEL commented on #2645
Hey @gnestor, thanks for the report.

I think the disjoint here may be that the image support is modeled in a different example. The rich text example is the most featured, but it's not meant to be a "complete" "all-in-one" example (as far as I understand).

The behavior you are looking for is supported in the image example: https://github.com/ianstormtaylor/slate/blob/master/examples/images/index

[2019-03-15 18:35] CameronAckermanSEL commented on #2650
I suspect we can just remove the `~` character.

The non-zero values still are considered to be `true` when used in a boolean context, so this explains why this hasn't been noticed before. And judging from the comment, it looks like it's looking for the presence of the `data-fragment` attribute.

!!(-2)
true
!!(~('hello'.indexOf('e')))
true
!!(~('hello'.indexOf('d')))
false
[code]

[2019-03-15 18:37] gnestor commented on #2645
Hey @CameronAckermanSEL.

The rich text example doesn't work either (because it doesn't have a _paste HTML_ plugin).

The images example works when copying an image (not HTML, just right-click on an image) and pasting. I'm specifically referring to copying HTML (copying text and images on a webpage, e.g. the example in the description of this issue), and the paste HTML example pastes everything bu

[2019-03-15 18:47] CameronAckermanSEL commented on #2645
Sorry misread the issue. The paste html example should support pasting, so this might be related to it receiving a html element structure that its not equipped to deal with for some reason. I can take a look in a bit

[2019-03-15 19:43] white112 opened #2651 "Mentions example: Add z-index to suggestion menus."
#### Do you want to request a _feature_ or report a _bug_?
Bug.

#### What's the current behavior?
https://www.slatejs.org/#/mentions
When I try to add mention in the first line of editor, this issue comes.

![e42c0ca32a39af6f71284dc2b99a3458](https://user-images.githubusercontent.com/22128210/54457753-860bf680-471f-11e9-9c7a-79a410ba3d93.gif)

#### What's the expected behavior?
![Screenshot 2019-

[2019-03-15 19:53] CameronAckermanSEL commented on #2645
@gnestor I'm pretty sure whats happening is that the `html-deserializer` will make these anchors inline nodes, and then the image nodes are then deserialized into blocks

This then causes the normalizer to toss the image blocks because you cant have blocks as children of inlines.

To fix this, we would need to have this model start treating the images as inlines, which is probably fine, but then t

[2019-03-15 20:20] CameronAckermanSEL commented on #2651
I can't reproduce this on Chrome or Firefox. What browser did you see this on?

[2019-03-15 22:05] CameronAckermanSEL commented on #2649
Hi,

Text nodes can be adjacent to other text nodes, so long as they have a different set of mark decorations.

Normally it's considered sort of an implementation detail for how the text nodes are modeled relative to one another. I suspect this detail is not actually your problem.

What is it that you're expecting or trying to achieve? Why is it important for you to have adjacent text nodes? What

[2019-03-16 01:59] thesunny commented on #2062
@nonsleepr please be more specific. Which Android version, what did you do, touch move, keyboard? Also we only have Last 2 major Android versions right now. Sounds like you might be on an earlier version

[2019-03-16 02:19] nonsleepr commented on #2062
I'm on Android 9, Chrome 72.
Tried again with different virtual keyboards. It looks like only Goggle's keyboard mess the code. With GBoard or Google Voice Typing when I tap in different places the code disappears. Also tried Hacker Keyboard and Grammarly. They work fine. GBoard underscores the text under cursor and suggests alternatives. I guess that reformatting is what causes the problem.

[2019-03-16 19:02] adjourn commented on #2062
@thesunny What do you think about exporting a _supported_ flag through the `slate` package?

`slate-dev-environment` already does all the parsing and checking, then we could confidently decide between Slate and textarea (or something else). It would also provide a safe fallback if new OS versions break something. By _supported_ I mean official support, not _most features work._

[2019-03-16 21:33] steida commented on #2345
After a lot of rethinking, I believe Immer is the best solution.

[2019-03-17 03:10] #2646 closed

[2019-03-17 04:09] #2644 closed

[2019-03-17 04:33] travigd opened #2652 "Allow Selection on Right Edge of Inlines"
#### Do you want to request a _feature_ or report a _bug_?
Feature (or bug report if you consider bad assumptions a bug).

#### What's the current behavior?
Currently, Slate does **not** allow for the selection to be on the right edge of an inline node. If it detects that it is, it "normalizes" such that the caret is in the leftmost position (zero offset position) of the subsequent text node.
http

[2019-03-17 04:34] ianstormtaylor opened #2653 "loosen block/inline structure requirements"
#### Do you want to request a _feature_ or report a _bug_?

Idea / improvement.

#### What's the current behavior?

Right now Slate restricts what document structures it accepts to make working with the documents easier to reason about, and to make the code easier to write. This happens to coincide with 90% of use cases and works well.

However there are some use cases where the restrictions might

[2019-03-17 04:36] ianstormtaylor commented on #2642
Closing in favor of https://github.com/ianstormtaylor/slate/issues/2653. I’m open to this potentially, but it’s not an easy change and will require someone putting in the effort to make it happen nicely.

[2019-03-17 04:36] #2642 closed

[2019-03-17 04:37] ianstormtaylor commented on #2649
Please ask questions in the Slack channel.

[2019-03-17 04:37] #2649 closed

[2019-03-17 04:41] ianstormtaylor commented on #2652
This has been brought up before, please search issues for prior discussions for more information if you intend to tackle it.

As for other cases, I’m open to it. But it will require someone championing it and doing the work to make it well thought out. I’m not sure that there is a better default than we currently have. But opening up the restriction alone could be an option.

[2019-03-17 05:42] white112 commented on #2651
Chrome browser.

[2019-03-17 08:05] glebtv commented on #2062
For me it more or less works here https://www.slatejs.org/#/rich-text but if you delete all the content in this demo, you can't add any content back (editor is completely broken if empty)

[2019-03-17 08:13] nego25 commented on #2649
Cameron Ackerman,  thank you  for response!
I need to have adjacent text nodes, because in our system, this nodes can have some system links by it's key (uid). So if text nodes will be merged to one text node, then we losing this links.

[2019-03-17 16:27] adjourn commented on #2651
Im seeing it too on [slatejs.org](https://www.slatejs.org/#/mentions) but not locally, seems to be a browser quirk (Linux, Chromium).

I was about to write a PR but then I remembered [this](https://github.com/ianstormtaylor/slate/pull/2610). I say we wait until it gets merged and revisit the issue.

[2019-03-18 00:46] realknack commented on #2632
This indeed seems to be a bug, have to press arrows 2 times too in order to get caret to the other side of emoji. Pressing arrow once moves caret visually to other side but if you hit backspace or any other character, deletion/insertion happens in the middle of emoji/between 2 � (not sure how that works).

Im surprised this is not getting many reactions, all emojis inserted by mobile keyboard are

[2019-03-18 06:48] karanmittal60 opened #2654 "editor.command is not a function"
I am using slate editor
 "slate": "^0.41.2",
 "slate-html-serializer": "^0.7.7",
 "slate-plain-serializer": "^0.6.7",
 "slate-react": "^0.18.5",

i am using links and on function
`onClickLink = (event) => {
        event.preventDefault()

        const { editor } = this
        const { value } = editor
        const hasLinks = this.hasLinks()

        if (hasLinks) {
            editor.command(unw

[2019-03-18 13:05] wmertens commented on #2645
That sounds like the best solution, then you can just put images in links as well. The CSS can just show images as block elements.

[2019-03-18 16:34] CameronAckermanSEL commented on #2654
`"slate": "^0.41.2",`

https://github.com/ianstormtaylor/slate/blob/master/packages/slate/Changelog.md#0420--october-9-2018

Editor controller wasn't introduced until 0.42.

[2019-03-18 18:22] thesunny commented on #2062
Hi guys, just checking in. Reading the comments but I’m on vacation right now. Will follow up after I’m back.

[2019-03-19 03:31] benjycui commented on #2599
@marvinhagemeister any progress?

[2019-03-19 03:44] realknack commented on #2599
@benjycui Preact alpha is already out.

Meantime I've learned that Slate is currently not compatible with Preact because it relies on synthetic events. It's not impossible but would require rewriting `slate-react` to some extent which is out of the question for me right now.

[2019-03-19 06:54] marvinhagemeister commented on #2599
@realknack Looks like you found a bug in Preact. Can you for a bug report on our issue tracker? We'd love to have a look at it.

[2019-03-19 07:19] realknack commented on #2599
@marvinhagemeister Gladly but are you sure that Preact (compat) aims to handle this specific case?

E.g Slate relies on the fact that `onBeforeInput` can be prevented (React uses `textInput` under the hood), native `beforeinput` cannot be prevented (I only tested on Chromium but that's reason enough).

[2019-03-19 08:04] marvinhagemeister commented on #2599
@realknack yup, `preact/compat` is meant to work exactly like react, even though we may do things differently under the hood. If something doesn't work like react we treat it as a bug in `preact/compat`. I went ahead and made [an issue](https://github.com/developit/preact/issues/1422).

[2019-03-19 15:06] #2654 closed

[2019-03-19 18:56] CameronAckermanSEL commented on #2652
@travigd went source diving. If I'm not mistaken the function above seems to only be called [onInput ](https://github.com/ianstormtaylor/slate/blob/3dce916074e0294a5045f9c47f6932ac5841e947/packages/slate-react/src/plugins/after.js#L421) and [onSelect ](https://github.com/ianstormtaylor/slate/blob/3dce916074e0294a5045f9c47f6932ac5841e947/packages/slate-react/src/plugins/after.js#L632), which implie

[2019-03-20 01:01] CameronAckermanSEL commented on #2652
On further research, I'm pretty confident that all that slate-sticky-inlines needs to be functional again is to figure out the correct override to `onSelect` to allow the selection to sit on the end edge of inlines that are supposed to be sticky. I think we should move this issue over there, though it might need to have a permanent fork.

What are your thoughts?

[2019-03-20 06:00] giddens9527 commented on #2467
Worked like a charm! Thanks! Mind explaining why it works?

[2019-03-21 13:47] brendancarney opened #2658 "Introduce `editor.transaction()` to replace `without*` functions"
###  Introduce `editor.transaction()`

The `withoutSaving`, `withoutNormalizing`, an `withoutMerging` function behave in similar ways, creating a scope where saving and normalizing don't occur. `withoutNormalizing` is a little misleading, because it does normalize, it's just deferred until the end. I think these can be expressed with a single concept, `editor.transaction()`. A transaction is a con

[2019-03-21 16:34] CameronAckermanSEL commented on #2658
Sounds good and I think this would meet all of my requirements for this feature.

[2019-03-21 16:52] travigd commented on #2652
(Posting for posterity)

For my own personal use case, I was able to hack around the limitation by enforcing an extra space at the end of the text of the inline. This required...
* A schema rule that enforces a space character at the end of a text (as well as a rule that says there's exactly one text child)
* Custom behavior to handle backspace (in my implementation, backspacing into a latex inlin

[2019-03-21 21:17] zyqxd commented on #2641
@isubasti yes during testing, the serializer is reached and gets within the `if` block. Afterwards, its called again with `tagName` of undefined, which I'm assuming is the reason why my test is failing (it should be a nested element).

[2019-03-21 21:42] CameronAckermanSEL commented on #2645
@gnestor is this a satisfactory resolution for this issue?

[2019-03-21 22:08] CameronAckermanSEL commented on #2652
Another note for posterity:
https://github.com/YurkaninRyan/slate-sticky-inlines/issues/5#issuecomment-456508573

[code]

[2019-03-22 05:02] dattran92 commented on #1551
I have the same problem with my richtext slate editor. this is my work around:

comment the scrollToSelection function as I think it calculate the height wrong or somehow.

// Scroll to the selection, in case it's out of view.
// scrollToSelection(native);

add the following plugin to fix it:

[code]

[2019-03-22 06:57] isubasti commented on #2641
@zyqxd alright, that's a good information. the problem seems to be that `DOMParser` inside mocha behaves differently. need to find out how to use the same `DOMParser` either through mocha's config or pass a `parseHTML` function to https://github.com/ianstormtaylor/slate/blob/master/packages/slate-html-serializer/src/index.js#L104

[2019-03-22 14:20] zyqxd commented on #2641
@isubasti Yes that was my initial attempt of plugging
[code]

which is take from the [mozilla DOMParser extension](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser#DOMParser_HTML_extension_for_other_browsers)

[2019-03-22 15:41] damien-monni opened #2659 "Adding a character with 2 empty lines selected doesn't behave correctly"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
When pressing a key after selecting two empty lines, both lines are deleted and the character is inserted at the end of previous line.

You can reproduce it on the official demos: [https://www.slatejs.org/#/rich-text](https://www.slatejs.org/#/rich-text)

![slate issue gif](https://i.ibb.co/z7gTP03/is

[2019-03-22 16:22] rikkit commented on #2659
The direction you drag seems to matter here. Selecting the first then the second empty line will get the behaviour you're expecting.

[2019-03-23 06:54] isubasti commented on #2641
@zyqxd https://stackoverflow.com/questions/42649700/using-domparser-in-javascript-testing-with-mocha-and-jsdom have you tried something like this?

[2019-03-23 18:21] brendancarney commented on #2570
I don't think there are any drawbacks. Feel free to create the PR

[2019-03-23 19:38] brendancarney commented on #2518
Hi @136170746, I'm going to close this issue as we don't have enough info. Please provide a CodeSandbox or JSFiddle that we can look at, and comment here or create a new issue. Thanks!

[2019-03-23 19:38] #2518 closed

[2019-03-23 19:38] brendancarney commented on #2513
Hi @136170746, I'm going to close this issue as we don't have enough info. Please provide a CodeSandbox or JSFiddle that we can look at, and comment here or create a new issue. Thanks!

[2019-03-23 19:38] #2513 closed

[2019-03-23 19:41] brendancarney commented on #2470
Hi @sgreav, I'm confident that we'd be ok to go ahead and add a `style` option that we merge with the default styles if you want to create a PR for that and I can review/merge it. Thanks!

[2019-03-23 19:43] brendancarney commented on #2296
Closing for inactivity. @mattcopas please comment if this is still an issue in the latest version. Thanks!

[2019-03-23 19:44] brendancarney commented on #2177
Closing for inactivity. Please feel free to ask your question in the Slack channel as suggested. Thanks!

[2019-03-23 19:44] #2177 closed

[2019-03-23 19:44] #2372 closed

[2019-03-24 07:19] adjourn commented on #2635
Emoji issue seems to be much bigger than that.

Every pasted emoji takes several arrow key presses in Slate to move the selection over it "for real", first press moves caret visually over but when I type a character or press `Enter`, emoji gets split into two � characters. No such issue in native `contenteditable`.

- Regular emojis take 2 arrow key presses.
- Complex emojis (e.g with skin tone) t

[2019-03-24 09:41] froatsnook commented on #2368
@thesunny Just wanted to report that I updated to the latest slate and it's working SO much better in Android.  Thank you for fixing this!

[2019-03-24 10:26] adjourn commented on #1561
It's back, changed your mind?

Possibly [here](https://github.com/ianstormtaylor/slate/blob/master/packages/slate/src/commands/with-intent.js#L399):

[code]

[2019-03-25 10:00] tslocke commented on #2296
@brendancarney I am seeing this issue on the latest version. I am new to Slate so I may be misunderstanding how things are supposed to work.

https://jsfiddle.net/ja50fh8r/5/

This is based on the tutorial code, so press ctrl+b to apply bold to a selection. I would expect as I move the caret in and out of the bold section, to see the marks information logged to the console (console.log in the onCh

[2019-03-25 14:22] scottluptowski commented on #2635
@adjourn I just reproduced this on Mac, so it is not Linux-specific.

[2019-03-25 14:51] tslocke commented on #2296
BTW I was wondering why such a seemingly important feature would have an unnoticed bug like this, and thinking I must be doing things in an unusual way. I have since discovered `editor.activeMarks` which is exactly what I need (for a toolbar), so this issue is not affecting me any more. Hopefully the test jsfiddle is useful anyway.

[2019-03-25 15:46] rikkit commented on #2635
@scottluptowski you wrote above

From [Emojipedia](https://emojipedia.org/man-zombie/):

... those empty strings are actually zero-width joiners. Here's a [list of all emoji with ZWJs](https://emojipedia.org/emoji-zwj-sequences/).

I'm not sure of all the implications on this suggestion since I've only just started looking at the Slate codebase, but it feels like a quick win could be to make backs

[2019-03-25 16:32] adjourn commented on #2635
It would make sense to delete complex emojis in several parts (just like native `contenteditable`) but selection should definitely handle them as a single character. Caret can only be on one side or another, counting key presses is terrible UX, not to mention very confusing for the users.

This wasn't a big deal before but now that Slate has much better mobile support, we have emoji keyboards.. So

[2019-03-25 22:31] brendancarney commented on #2296
Yes, `editor.activeMarks` is best for the toolbar use case. I think `selection.marks` is probably legacy and should be removed.

[2019-03-25 23:04] brendancarney commented on #2632
Looks like a bug to me. We'd definitely welcome a PR!

[2019-03-25 23:09] brendancarney commented on #2639
Hi @vamshi9, this can be accomplished by getting all the nodes in the block, checking the index of the current node, and using that to determine the previous ones. I don't think it would be something added to the API directly, since it's not super common. If you have more questions, please feel free to ask in the slack channel. Thanks!

[2019-03-25 23:09] #2639 closed

[2019-03-25 23:10] brendancarney commented on #2640
Might be fixed by: https://github.com/ianstormtaylor/slate/pull/2660

[2019-03-25 23:11] ragurney commented on #2632
Alrighty, I'll take a crack at it!

[2019-03-25 23:15] brendancarney commented on #2631
Closing in favor of https://github.com/ianstormtaylor/slate/issues/2095

[2019-03-25 23:15] #2631 closed

[2019-03-25 23:32] brendancarney commented on #2608
This might work: https://github.com/ianstormtaylor/slate/pull/2661

[2019-03-25 23:35] brendancarney commented on #2598
Closing due to inactivity. Please feel free to create a pull request @FrancisVila, that should be available to everyone

[2019-03-25 23:35] #2598 closed

[2019-03-25 23:36] brendancarney commented on #2597
I don't know much about this but I'm sure we'd welcome a PR if this is the right character to be using.

[2019-03-25 23:37] brendancarney commented on #2585
@preciselywilliam Like @ericedem mentioned, I'd recommend asking for help in the slack channel. If you feel there is a bug, or you'd like to request a feature, please feel free to open another issue. Thanks!

[2019-03-25 23:37] #2585 closed

[2019-03-25 23:42] brendancarney commented on #2584
It sounds like this is due to copying the example and using a different version of emotion in create-react-app. It would be nice to have this work for people on the latest version. I'm going to retitle the issue.

[2019-03-25 23:44] brendancarney commented on #2583
I believe this could be addressed with https://github.com/ianstormtaylor/slate/issues/2658

[2019-03-25 23:49] brendancarney commented on #2502
Closing for inactivity. If you have a suggestion for a specific text change, please feel free to make a PR or suggest it here and I can reopen the issue. Thanks!

[2019-03-25 23:49] #2502 closed

[2019-03-26 00:05] brendancarney commented on #2075
I think this would be too restrictive to have as the default, unless I'm misunderstanding. Most text editors allow you to select text between two different blocks, and I think it would be confusing for users to not have selection behave normally.

[2019-03-26 00:13] brendancarney commented on #874
Ah, so maybe we're not updating the value to remove the nodes. We may need to be handling some drag/drop event or using MutationObserver

[2019-03-26 00:53] brendancarney commented on #1216
Closing due to inactivity. @ch1ll0ut1 feel free to open a PR to improve this, thanks!

[2019-03-26 00:53] #1216 closed

[2019-03-26 02:15] ianstormtaylor commented on #2075
Agreed with @brendancarney, this is not something we want to restrict in core, because it's extremely common to want to select across two paragraphs and join them together. This would be something to do in a userland plugin instead.

[2019-03-26 02:15] #2075 closed

[2019-03-26 02:17] ianstormtaylor commented on #2640
I think the biggest issue here is that `onFocus/onBlur` are browser-level events. Really people should be using `onChange` for this kind of state management instead of the low-level events. (Although I see why it's confusing.)

[2019-03-26 02:54] #2000 closed

[2019-03-26 04:07] tvrcgo commented on #1521
My workaround was copied void image block to second line and deleted the first one. :(

[2019-03-26 05:59] minbraz commented on #2652
One of the options is to keep zero width character at the beginning and ending of inline. Then write necessary editing (backspace, delete, arrow movement, ...) plug-ins to make sure that zero space character stays in place and to have the expected functionality.

[2019-03-26 10:28] czechdave opened #2664 "Can't call `setValue` on Editor React component"
#### Do you want to request a _feature_ or report a _bug_?
BUG

#### What's the current behavior?
`Editor` react component instance is missing the `setValue` method.
In plugin event handler, I can't call `editor.setValue` as it's `undefined`.

#### What's the expected behavior?
`Editor` react component instance has the `setValue` method.
It should be possible to call `editor.setValue` from plugin

[2019-03-26 15:12] lapico opened #2666 "Placeholder crashes on mobile when pressing backspace"
#### Do you want to request a _feature_ or report a _bug_?

Bug (I think) !

#### What's the current behavior?

- Reproducible with this example : https://www.slatejs.org/#/rich-text
- Gif :
![ezgif-4-8fa85c4f0cc9](https://user-images.githubusercontent.com/5967573/55008227-fd277180-4fe0-11e9-92ec-0085721ee630.gif)
- Tested on IOS Safari latest version

#### What's the expected behavior?

First of

[2019-03-26 18:47] ianstormtaylor opened #2668 "use destructuring for middleware arguments"
#### Do you want to request a _feature_ or report a _bug_?

Idea / discussion.

#### What's the current behavior?

Right now the signature for event middleware is:

[code]

And more generally, middleware are:

[code]

And transforms are often long as well:

[code]

But this has some issues...

#### What's the expected behavior?

We end up not being able to add any arguments to middleware to expose

[2019-03-26 18:51] ianstormtaylor commented on #2567
Related to https://github.com/ianstormtaylor/slate/issues/2668, I think the unresearched part of this issue is what the cons are to making this change.

We currently attach extra properties to `editor` in React-land, which means that we'd need to find another way to handle those properties if we don't let the `<Editor>` instantiate its own editor. I haven't looked into what the alternative is—it c

[2019-03-27 09:50] bengotow commented on #560
Thanks everyone for putting the types together, they're really extensive and a pleasure to use so far. 🙌

Slate's API has been changing fairly regularly and I think that bringing the types into core (and using Slate via Typescript) would make it /much/ easier to stay on top of the changes since `tsc` identifies everything you need to update. I think that text editor code is prone to "edge case han

[2019-03-27 12:49] brendancarney opened #2669 "Use the User Timing API to support performance profiling"
#### Do you want to request a _feature_ or report a _bug_?

Development Feature

## Add the User Timing API to support performance profiling

If you've ever profiled a React app, you know how useful the additional performance info in. With this, we could make it super clear which operations, commands, queries, etc are taking a long time in the dev tools. I'm not very experienced with this, so I do

[2019-03-27 12:52] brendancarney commented on #2668
I can't think of many cons other than it being another change. I definitely like the extensibility of it.

[2019-03-27 20:04] comerc opened #2670 "Remark"
#### Do you want to request a _feature_ or report a _bug_?

Feature

## Idea

I think we probably want [this parser](https://github.com/remarkjs/remark/tree/master/packages/remark-parse), which is part of the [remark](https://remark.js.org/) library and is used in [Gatsby](https://www.gatsbyjs.org/) and others. The whole remark ecosystem (including mdx which is just amazing) is awesome.

([copy-pa

[2019-03-27 21:28] brendancarney commented on #2658
Another benefit: I often find myself using these `without*` functions together. This is a very small pro, but still a pro. I'd rather write:
[code]
than
[code]

[2019-03-28 00:23] mayfielg opened #2671 "Uncaught promise error for 'paragraph' related to defaultBlock param"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

I am attempting to async pull HTML code from a postgres database to populate a slate WYSIWIG, and then when it's edited (onChange) write back to the database. The async pull and initial deserialization/population is working fine, but when as soon as I click to edit in the WYSIWIG, an error pops up t

[2019-03-28 01:27] thatmarvin commented on #2434
I'm quite surprised to find that `setState()` on a _parent_'s `onBlur/Focus` handler also prevents the editor from gaining/losing focus. I'd expect `Editor`'s inner workings to be immune from external state changes like this?

I've forked @ericedem's fiddle, and simply moved the `onFocus/Blur` handler to a `<div>` wrapper to demonstrate the problem here: https://jsfiddle.net/thatmarvin/sLkq06yt/

[2019-03-28 06:16] cmhchoi commented on #2636
Hi @gabrielrtakeda - do you mind sharing some tips on what you did for your workaround please?

[2019-03-28 09:11] Jiang-Rain commented on #2467
请问这个问题解决了吗？

[2019-03-28 09:12] Jiang-Rain commented on #2467
请问这个问题解决了吗？editor.toggleMark（type）; if（editor.value.selection.isCollapsed）{editor.insertText（'\ u200B'）; }
要放在哪里？ @giddens9527 @changlin-cn

[2019-03-28 11:59] ianstormtaylor commented on #2670
@comerc I don't think this directly relates to Slate's core. Although people are free to write their own Markdown serializers for Slate if they need one.

[2019-03-28 11:59] #2670 closed

[2019-03-28 12:25] cmhchoi commented on #2636
Hi @isubasti - appreciate that it is a bottleneck for performance, but I think having an option as @gdehmlow proposed would be more flexible 🙏

[2019-03-28 13:23] giddens9527 commented on #2467
@Jiang-Rain 我这边就是按toggleMark后面加editor.insertText('\u200B'); 解决的，治标不治本吧。暂时没发现带来其他问题。

[2019-03-28 16:59] callingmybluff opened #2672 "Operation.toJSON does not save selection's value - Saving history"
#### Do you want to request a _feature_ or report a _bug_?

A _bug_

#### What's the current behavior?

https://jsfiddle.net/Ismaeel/xvgoqLn2/

1. Place the cursor anywhere inside the text
1. Click on `Click To Do Nothing` (it will reset the history by using the history itself, but each operations is re sat to its value after to/from JSON: `op = Operation.fromJSON(op.toJSON())`
1. Click on the red

[2019-03-28 20:14] IanVS commented on #2640
I'm still trying to learn slate, and this is a good tip, but I can't quite figure out how to determine whether a `Change` contains a focus or blur event. The [glossary](https://docs.slatejs.org/general/glossary#change) is empty, so I'm not sure what's available on the `Change` that's provided to `onChange` handlers.

[2019-03-28 20:34] CameronAckermanSEL commented on #2671
I don't believe this is a bug. It looks like the html serializer is not hooked up correctly, notably it doesn't appear to be serializing the child nodes of the element. I'm afraid I don't have an example of the serializer on hand.

[2019-03-28 23:33] zyqxd commented on #2641
It was a problem with the dom parser in mocha. Wrote my own. Thanks

[2019-03-28 23:33] #2641 closed

[2019-03-28 23:46] isubasti commented on #2672
@callingmybluff there's an option to `preserveSelection`on `toJSON`

[2019-03-28 23:55] isubasti commented on #2636
@cmhchoi not memoizing is not really solving the problem since the issue itself is not the memoize. the `getDecorations` function is only called on `renderNode`, without any change to the node `renderNode` won't get called. it might require a lot bigger changes than just simply removing the memoization.

[2019-03-29 02:18] hecor commented on #2468
Have the same problem, please help.

[2019-03-29 02:46] hecor commented on #2457
Still got the same problem, can't input chinese on ios safari.
Hope to get help.

[2019-03-29 03:33] ThomasChan commented on #1209
for anyone still have this problem

in your render
[code]

[code]

[2019-03-29 18:14] comerc commented on #1436
@mattmazzola - thanks! your solution work fine for me:

[code]

[2019-03-30 01:04] thesunny opened #2673 "Add documentation for `setData` command"
#### Do you want to request a _feature_ or report a _bug_?

Improve documentation

#### What's the current behavior?

The `setData` method is mentioned here

https://docs.slatejs.org/guides/commands-and-queries#on-the-top-level-value

But is not in the reference. There are some other methods here as well that should be probably be transferred over like `setDecorations`

#### What's the expected be

[2019-03-30 02:16] isubasti commented on #1436
using `contenteditable=false` selector is probably not a good idea as void elements will have that as well. ideally you want to style the placeholder itself which you can do by creating your own placeholder plugin or wait till https://github.com/ianstormtaylor/slate/pull/2667 to add style to the placeholder or create a PR to add `float:left` to default placeholder's style.

[2019-04-01 04:11] thesunny commented on #2062
@ianstormtaylor This is obviously a long issue now (168 comments) and we do have, shall we say, tentative support for Android.

I feel like it might be the time to close this issue and create a new one focused on fixing Android bugs which I'll use to clean up the majority of the remaining issues. After that, hopefully when most bugs are handled, we could file individual bug reports like the rest o

[2019-04-01 08:34] damien-monni commented on #2659
Yes but it should behave the same regardless of the direction.

[2019-04-01 11:30] DominikSerafin commented on #713
For people that would like to avoid additional dependency, the `Plain.deserialize('')` is equivalent to this:

[code]

And empty editor value can be instantiated with `Value.create(emptyValue)` or `Value.fromJSON(emptyValue)`.

---

![slate-empty-value](https://user-images.githubusercontent.com/7447244/55324368-208b6a00-5482-11e9-9fb2-6a5cc8ade3c9.png)

[2019-04-01 11:44] DominikSerafin commented on #300
For anyone that wants to instantiate editor with empty value or set empty value, see here: https://github.com/ianstormtaylor/slate/issues/713#issuecomment-427957332

[2019-04-01 14:15] michelmanago commented on #2549
Thanks for this thread. Yes, it is worth documenting. I am new to slate and spent several days struggling to figure out what I was doing wrong. Today, after reading this thread, I realized that I really wasn't doing anything wrong but that it was this state update issue that was interfering with my code... I now finally got my code to work with the !triggered kludge (I don't really fully understan

[2019-04-01 17:17] michelmanago commented on #2549
Sorry. It's me again. While I am able to achieve results with insertText and some other commands such as setBlock, it appears that insertInline, wrapInline, setInlines simply have no effects. Even when I did not use a modal dialog and copied the link example code from slateJS.org, nothing worked (I did replace the constant editor with the controller in this.editor.editor instead of this.editor). I

[2019-04-01 17:50] vylan opened #2677 "Cursor positioned wrong when typing with some Chinese input methods."
#### Seems to be a bug, at least unnatural behavior

#### What's the current behavior?
The cursor won't change its position when typing each character, shown as the fellowing gif:

![jHR7ycP2nx](https://user-images.githubusercontent.com/8390531/55347774-2d42a900-54e8-11e9-8ccb-17131757fa45.gif)
System: Mac Pro, Browser: Chrome 73.

#### What's the expected behavior?
The cursor should change its po

[2019-04-02 07:55] callingmybluff commented on #2672
Did you try the example? It does nothing, or I am using it wrong? According to the documentation, it reserves JSON for the data as a whole, not to `Operation`.

https://jsfiddle.net/Ismaeel/xvgoqLn2/35/

[2019-04-02 08:45] callingmybluff commented on #2672
Possible solution would probably be by adding (as in: https://jsfiddle.net/Ismaeel/xvgoqLn2/40/) :
[code]

I will create a pull request for it

[2019-04-02 09:20] yangguoquan commented on #2348
Does anyone solve this problem?

[2019-04-02 10:11] pokonski commented on #2666
Same issue, also holding backspace skips over some characters and throws an exception (probably why it skips them):

Chrome 73,
Android 9
SwiftKey keyboard

Exception is: `Cannot read property 'resume' of null` from this line https://github.com/ianstormtaylor/slate/blob/89adf63e1f47afa5149d27239631f1612dfe8a28/packages/slate-react/src/plugins/android.js#L240

[2019-04-02 11:58] Kitefr commented on #1535
Hello,

I wanted to know the progress on this feature. Is it still going ?

[2019-04-02 13:23] #2470 closed

[2019-04-02 13:24] #2570 closed

[2019-04-02 13:34] #2123 closed

[2019-04-02 13:34] #2272 closed

[2019-04-03 08:16] callingmybluff opened #2678 "Value.fromJSON does not cast data properly (undos and redos list)"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Value.fromJSON(jsonvalue) parses the `JSON` into a `Value`, but it keeps data.undos and data.redos as a js `Array` instead of the expected `List`.

It was discovered during implementing example for #2672

#### What's the expected behavior?

Value.JSON parses JSON array of undos and redos into a `List`

[2019-04-03 08:19] callingmybluff commented on #546
Did not think of separating `History` but that actually makes much sense. Will be looking into doing so as I will be using this feature, as mentioned in 2678 and 2672

[2019-04-03 17:13] comerc commented on #1436
@isubasti, thanks!

@ianstormtaylor, do you want this PR?

[2019-04-03 18:27] thesunny commented on #2062
@glebtv

Thanks for the feedback. I'll be working on getting Slate working better soon (probably starting this month).

What would be helpful in the mean-time are specific steps on specific platforms, preferably with a recorded screen. Unfortunately, the issues present themselves on Android in sometimes very specific ways related to order, timing, position in text, etc. Once I can replicate it rel

[2019-04-04 15:46] michelmanago commented on #2549
I also wasnt able to obtain any results for selection commands (ex: moveAnchorBackward). The method editor.editor.value.selection.moveAnchorBackward(some integer) runs and doesn't throw errors but it doesn't do anything. Anyway, I found a workaround and used marks instead of inlines and editor.deleteBackward instead of changing the selection. I am running Slate 0.21.18 and saw that you are now at

[2019-04-05 04:26] bengotow commented on #2664
Hey! I believe the Editor React component is meant to be used as a totally uncontrolled component (where there's an initial state and then you can read the state out), or as a controlled component (where there's a `value` prop and an `onChange` prop, and the parent is expected to store the value in state and re-render the Editor.) It sounds like you need to use the latter approach. There's no need

[2019-04-05 07:59] czechdave commented on #2664
While that is technically true, any plugins that have handlers don't have access to the actual `Editor` controller then. If I log the `editor` prop in say `onKeyDown` handler, I can't call `editor.setValue` as it's undefined.

[2019-04-05 09:45] lapico commented on #2250
Hi,

My text is only composed of inline nodes inside paragraphs.

Delete / backspace is not removing the inline node even though it's empty.

When doing so on the first line / first offset, editor crashes with this error:
[code]

[2019-04-05 10:36] adjourn commented on #2664
@czechdave Editor seems to invoke `this.controller.setValue()`, not `this.setValue()`.

Anyhow, something prevents you from editing `value` that you pass down to editor as `props`? And how would that even work if you'd set Slate internal value imperatively? Passed in `value` and Slate internal value would go out of sync. No?

[2019-04-05 14:00] lapico opened #2679 "Uncaught TypeError: previous.getMarksAtIndex is not a function"
https://github.com/ianstormtaylor/slate/blob/bb5d6beffa393176c55392b07ccbb0de63bd2138/packages/slate/src/interfaces/element.js#L970-L977

Maybe replace `return previous` by `return previousText` ?

[2019-04-07 14:57] jtadmor commented on #2679
My apologies, looks like I broke that. Agreed that the fix should just be calling `return previousText`, seems like we also don't have any tests for that method so I'll take a look at those.

[2019-04-07 19:28] adjourn commented on #2635
Your input (and maybe wacky use cases which might break it) is greatly appreciated in #2680 .

CC: @grsmvg @scottluptowski @rikkit

[2019-04-09 03:28] hecor commented on #2677
I have the same problem.

[2019-04-09 10:30] benjycui commented on #2603
Ref: https://github.com/ianstormtaylor/slate/commit/b8c372df93ac94b3d0449e0c496cdf8bec9af0fc

Agree with @ianstormtaylor , enforce `data` to be immutable is not a good idea.

[2019-04-09 15:34] ayyouboulidi opened #2681 "wrapInline command of type link with target _blank"
the data object should give the opportunity to add other attributes for a node.

I was trying to add `target: "_blank"` to my link but it is not taking it into account.

[code]

Has someone tried to do something like that before ?

[2019-04-09 16:13] rikkit commented on #2681
The `data` object you're passing in is available in your `renderNode` method - you'll need to handle it there.

[2019-04-09 17:41] gdehmlow commented on #2636
@cmhchoi my workaround was to set data on the block like this:

[code]

to force the block to re-render completely

[2019-04-10 08:25] ayyouboulidi commented on #2681
Thanks 🙏  I am closing the issue.

[2019-04-10 08:25] #2681 closed

[2019-04-10 09:52] robinschuster commented on #2630
I also have this issue.

I am using the `focus` state to enable certain buttons of the editor, rendering them useless when used with firefox on linux.

[2019-04-10 11:47] neutraali commented on #2608
Text / content alignment would make for another good **example**; perhaps integrated as part of the "Rich Text" -one?

[2019-04-10 13:16] adjourn commented on #2630
Can you reproduce this in fiddle? Tried both Chromium and Firefox, not getting this problem. (Linux)

[2019-04-10 18:53] ianstormtaylor commented on #588
Given that we're going to make that switch, we can close this.

[2019-04-10 18:53] #588 closed

[2019-04-10 18:53] ianstormtaylor commented on #1325
Given that we're going to be removing Immutable.js with https://github.com/ianstormtaylor/slate/issues/2495 we can close this.

[2019-04-10 18:53] #1325 closed

[2019-04-10 18:54] ianstormtaylor commented on #1079
Given that we will be forced to do this with https://github.com/ianstormtaylor/slate/issues/2495 we can close this out.

[2019-04-10 18:54] #1079 closed

[2019-04-11 08:43] neutraali commented on #2664
**Slate** needs more docs on how to utilize the Editor in an _uncontrolled_ way, without having to deal with handling 1000s of state transitions. I'm looking for something like `setValue` as well since it's mentioned in the docs, but when I try to access it from the Editor `ref` it's undefined.

[2019-04-11 10:53] neutraali opened #2683 "Uncontrolled Editor behaviour"
Related: https://github.com/ianstormtaylor/slate/issues/2664

Is **SlateJS** intended to support _uncontrolled_ usage? I'm not just referring to editing the actual text inside the editor (which is just basic `contentEditable` -functionality; essentially the `plain-text` -example) - I'm also referring to marks and custom nodes for example.

Most (if not all) of the examples are a variation of:
[cod

[2019-04-11 10:57] adjourn commented on #2664
@neutraali  FIY, Slate core `Editor` and React `Editor` component are two different things, that's why you see `Editor` both under `SLATE CORE` and `SLATE REACT` sections in documentation sidebar.

React component doesn't have `setValue` but it does have a reference to to core (`ref.controller`) which has `setValue`.

Maybe you should ask around in Slate Slack. I've done several complex editors, i

[2019-04-11 13:23] neutraali commented on #2683
After _slooowly_ and painstakingly creating a [fiddle](https://jsfiddle.net/nfLk1e2j/2/) of the issue I found out that it's working like it should - Therefore the mistake as somewhere on my end. ... Not sure where though, but I got it fixed.

Case closed :smile_cat:

[2019-04-11 13:23] #2683 closed

[2019-04-11 22:04] bebbi opened #2684 "#2619 seems an incomplete merge"
#### Do you want to request a _feature_ or report a _bug_?

bug

I got bitten by #2619, I think it's missing a Changelog entry for that merge.

As I was considering one, I noticed a few issues:

1. When I am adding an array to a node.data key using `node.data.set(myKey, myArray)` it appears this is now deeply converted to immutable.

However, when I then request a serialization of the whole tree u

[2019-04-12 04:38] thesunny commented on #2684
Yep, I merged this but I think we should revert it.

My original thinking was that everything under an ImmutableJS type should also be ImmutableJS. Not doing this seems like an anti-pattern and a bug so enforcing the conversion and making it simpler made sense to me; however, I missed the (compelling) argument on the issue that since we are moving to ImmerJS, we would want to allow using plain JS

[2019-04-12 04:41] thesunny commented on #2603
FYI, I'm suggesting we revert it as per my comments in https://github.com/ianstormtaylor/slate/issues/2684#issuecomment-482434319.

I wouldn't have merged it if I had read Ian's comment and I can't explain why I didn't see those comments before I merged.

[2019-04-12 15:36] lazharichir commented on #2345
We should definitely limit the breaking changes as much as possible for the end users. Using JS `Class` and the `get` getters would help with keeping the API similar, if not the same. Especially as the API is actually super well designed and makes so much sense while using it.

However, I do agree ImmutableJS is a pain, especially server-side. Have to give us on using the Value.fromJSON() because

[2019-04-12 16:35] knpwrs commented on #2345
Immer supports classes now, FYI: https://github.com/mweststrate/immer#supported-object-types.

There is also a low-level `createDraft`/`finishDraft` api that is very useful for building libraries: https://github.com/mweststrate/immer#createdraft-and-finishdraft

[2019-04-12 19:57] jerkly opened #2685 "Unable to focus and navigate caret on empty inline node."
#### Do you want to request a _feature_ or report a _bug_?
_bug_

#### What's the current behavior?

- Unable to focus non-void inline without text.
![2019-04-12_20-29-29](https://user-images.githubusercontent.com/8193821/56055550-61c52900-5d62-11e9-9272-960d5e62a77e.gif)

- Unable to move backward with arrows through empty non-void inline.
![2019-04-12_20-37-56](https://user-images.githubusercont

[2019-04-12 19:58] jerkly commented on #2685
In additional to this I found, that the caret rendering is depending on `display` css property and behaviour is variating.

But in one case behaviour is identical in all browsers.

[code]

![2019-04-12_22-43-01](https://user-images.githubusercontent.com/8193821/56062652-d05fb200-5d75-11e9-9ba5-eaae3423b3d5.gif)

[2019-04-13 19:18] jerkly commented on #2685
I've just reported bug to Chrome about this behaviour. The main point: it's impossible to reach anchorOffset and focusOffset equals to 0 at internal tag only via keyboard arrow keys in Chrome browser.
https://bugs.chromium.org/p/chromium/issues/detail?id=952628

I expect when it is fixed we will give up this code block (get-selection-from-dom.js#L46-L67)

[2019-04-13 19:49] DominikSerafin opened #2690 "Void blocks render markup with divs inside"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### Context

In my use case I have a void block "image"  `<img>`. That image can be either standalone block or wrapped into "paragraph" `<p>` block.

(I've read in Slate docs, that blocks can contain other blocks, so I think that's alright?)

#### What's the current behavior?

Slate renders void blocks with additional markup that ha

[2019-04-13 23:14] thesunny opened #2691 "Refactor Android Plugin"
#### Do you want to request a _feature_ or report a _bug_?

Refactor the Android plugin in order to improve readability and make the code easier to understand.

#### What's the current behavior?

The Android plugin merges all Android versions into one plugin and uses if/else and switch/case statements to execute the correct code for the correct version. It also uses if/else statements to split exe

[2019-04-13 23:24] thesunny opened #2692 "Add `value` View to Composition Examples"
#### Do you want to request a _feature_ or report a _bug_?

Add the ability to view what text is in Slate's internal DOM in the `composition` example.

#### What's the current behavior?

You can see what text is in the DOM but you cannot see the text in Slate's internal `value`. It is possible for these to get out of sync.

When dealing with compositions, this is important, because the text might

[2019-04-13 23:55] thesunny commented on #2684
FYI, reverted here

https://github.com/ianstormtaylor/slate/pull/2687

[2019-04-13 23:57] #2684 closed

[2019-04-15 17:08] ianstormtaylor commented on #2690
Sounds like a good solution to me. Frustrating that it’s not possible.

[2019-04-15 17:09] ianstormtaylor commented on #2691
I’m not sure about this. How do other editors do it? I’d sooner think that we either want a single plugin for everything. Or that we want to split plugins by area instead of by platform.

[2019-04-15 20:33] Slapbox commented on #2691
@ianstormtaylor can you clarify what you mean by, "by area"?

Even if we aim to split up the code in a fashion besides by platform, might it be a good idea to keep Android support somewhat self-contained until it's refactored, more mature, and understood by more maintainers/contributors?

[2019-04-16 00:22] cmavromoustakos opened #2693 "Can not focus on placeholder if editor content is empty"
**BUG**

#### What's the current behavior?
Once I delete all content from the editor clicking on the placeholder does not allow me to focus on the editor

![ezgif-2-b71e7f521037](https://user-images.githubusercontent.com/111412/56173512-e8c10e00-5fbb-11e9-9471-5147389c5e1e.gif)

Editor code
[code]

Editor Rules
[code]

** Update **

adding an onClick listener to the outer element and calling onFoc

[2019-04-16 00:55] CameronAckermanSEL commented on #2693
Have you checked that this isnt an issue with dual editor instances?

[2019-04-16 06:07] ianstormtaylor commented on #2691
"By concern" might have been clearer. But things like clipboard usage, pointer events, scrolling behaviors, composition events, etc. I'm not saying it should be though, as they might be too interrelated.

My current thought is that I'd like for Android to be unseparated over time. Otherwise it will continue to be something that is not understood by 90% of maintainers, and it will languish or just

[2019-04-16 12:21] lnicola opened #2694 "Shift-Delete doesn't cut to clipboard (only deletes)"
#### Do you want to request a _feature_ or report a _bug_?

Bug IMO.

#### What's the current behavior?

- go to https://www.slatejs.org/#/rich-text
- type something
- select a region
- press Shift-Del (on Windows / Linux, not sure how these things work on macOS)
- paste

Tested in Firefox 68 and Chromium 73 on Linux with the version that's deployed to https://www.slatejs.org/#/rich-text right now

[2019-04-16 12:56] brendancarney commented on #2694
As far as I can tell, macOS does not have this behavior. I have confirmed this on Windows, even though I didn't know about it until today 🙂.

I wonder what events fire for this. If a cut event or something does, maybe this can be implemented without the need for OS specific logic.

[2019-04-16 13:30] brendancarney commented on #2693
We'd need a CodeSandbox to confirm, but if it is an issue with the placeholder, it's possible it would be resolved by this: https://github.com/ianstormtaylor/slate/pull/2661.  I ran into something similar and running with that PR resolves mine.

[2019-04-16 16:39] Slapbox commented on #2691
"By concern" is crystal clear and I totally agree. I think in the medium-long term Android should be parceled out throughout the project to where each piece of the code resides with other like pieces. When I set out on some complicated code though, I find myself often breaking this good long term convention in favor of a trying to circumscribe the work so I can view all the moving parts at once fo

[2019-04-16 20:33] cmavromoustakos commented on #2693
@CameronAckermanSEL I removed one of the editors and still had the same issue. Apologies about the code fart. I will try to replicate in a JSFiddle and post here.

@brendancarney I will give it a shot. Thanks for the feedback.

[2019-04-17 00:43] thesunny commented on #2691
@Slapbox Thanks for asking for the clarification and @ianstormtaylor for the response.

I'd be happy to have this merged in with the other code at some point in the future. At this point, however, I think it's premature.

Right now even I (the author!) have to read my own notes and source code to understand what I did. And the way it's written is spaghetti and hard to understand because the concer

[2019-04-17 02:32] Slapbox commented on #2691
God, I know this feeling way too well. When working on something tough and you just barely get it to work, and the only thing keeping you fully able to grasp what's going on is the fact you're completely immersed in it every day. 3 days off and _poof_. -- Obligatory mention of the sad case of my submission, PR 2347 to fix quirks in history management. I'd link, but don't want to dirty up the cross

[2019-04-17 02:59] laobeijing0806 commented on #2124
I have the same issue here, any updates?

[2019-04-18 11:58] ValeriiMal commented on #2538
Hi there!

I'd like to add one more use case where I need this dynamically set `isVoid` property.

How it works now:
Editor in my app adjusted to render a list of notes. Each note is a list item. I have a toolbar button that converts text note to an HTML card component that should not be editable, only focusable. Now, I need to create new editor `value` object with new node types in order to make

[2019-04-18 17:18] SmilinBrian commented on #2597
I don't know how quickly we should jump on this. If you scroll to the top of the referenced Technical Report, the Status part says:

I was unable to locate a current, published version of this particular report. On the other hand, maybe this deprecation is repeated in some more general Unicode Report?

[2019-04-18 21:15] thesunny opened #2696 "Add support for but warn when a decoration doesn't have a path (use key instead)"
#### Do you want to request a _feature_ or report a _bug_?

An improvement that stops editor from crashing when paths are not provided for a decoration. This behavior was supported in the past.

#### What's the current behavior?

If a decoration is created that doesn't have a `start.path` or `end.path` even though it has a `start.key` or `end.key` it throws an error and breaks the editor.

For exa

[2019-04-18 22:10] #2616 closed

[2019-04-18 22:11] thesunny commented on #2319
Fixed it here https://github.com/ianstormtaylor/slate/pull/2698

[2019-04-18 22:11] #2319 closed

[2019-04-19 11:06] vylan commented on #2677
@hecor I've transferred to ckeditor5, cause of slate's immatureness.

[2019-04-19 14:30] Reklino opened #2699 "Customizable wrappers for Void nodes"
#### Do you want to request a _feature_ or report a _bug_?
Feature

#### What I'm trying to do:
I'm trying to implement layout control in a way that only works if every top level element has a specific updatable dynamic style. Void nodes have wrapper elements that can't be customized, and throw a wrench in this type of concept. See below:
[code]

#### What's the current behavior?

[code]

#### Wha

[2019-04-20 13:38] cmavromoustakos commented on #2693
I am closing this issue as the problem looks like it might not be related to the editor and instead the styles applied by MaterialUI.

After updating the version of Material UI that I was using I noticed that the placeholder label was appearing outside of the editor. I added an encapsulating Grid component to address the issue and the placeholder became clickable again.

[2019-04-20 13:38] #2693 closed

[2019-04-22 02:38] thesunny opened #2700 "Add reserved custom commands for `enter` to override default handling"
#### Do you want to request a _feature_ or report a _bug_?

Add reserved custom command for `enter` to normalize behavior between desktop and mobile

#### What's the current behavior?

Currently there is no way to intercept `enter` behavior in Android because `enter` is usually implemented by looking at `keydown` and checking for the `enter` key then overriding it. In Android, we cannot intercept

[2019-04-22 11:31] hecor commented on #2677
@ianstormtaylor Please help，I found it only happens when I input at the end of a paragraph. It works fine if input at the middle of paragraph.

[2019-04-23 02:51] hecor commented on #2677
For those have same problem, the following works well, thank @yunwuxin
https://github.com/ianstormtaylor/slate/pull/2415/files

[2019-04-23 07:19] vnugent opened #2701 ""Invalid attempt to destructure non-iterable instance" in getActiveMarksAtRange()"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Slate crashes when I select an empty paragraph and empty custom block.  The problem seems to originate from `Document.getActiveMarksAtRange()`
[code]
![image](https://user-images.githubusercontent.com/3805254/56561663-81c3cc00-655c-11e9-98d9-29f0a789a1b3.png)

I'll try to create a jfiddle

[2019-04-23 08:22] hecor opened #2702 "Unexpected delete behavior in android"
#### Do you want to request a _feature_ or report a _bug_?
Bug.

#### What's the current behavior?
![android-slate-bug](https://user-images.githubusercontent.com/1171710/56565743-a31bcb00-65e3-11e9-87ac-eaa3ebce233b.gif)

#### What's the expected behavior?
Delete a character each time.

#### system
Vivo phone, android 8.1

[2019-04-23 08:25] hecor commented on #2062
@thesunny  Thanks for the great work. I still have some problem on Andriod phone, please give some help. #2702

[2019-04-23 12:36] brendancarney commented on #1237
I'm seeing this in my editor currently. It appears to happen when this block is executed: https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/components/content.js#L193-L196, and then throws here: https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/components/content.js#L200.

I can recreate it consistently and am working on a fix.

[2019-04-23 13:39] brendancarney commented on #1237
Also, mine is only happening when the first element has a placeholder. It looks like that if the placeholder has no width, then calling `focus()` on the editor element does not focus the editor.

[2019-04-23 15:38] thesunny commented on #2547
FYI, I've moved this along forward and have switched to an `ActionManager` object which handles the same use cases in less code, with more flexibility and better ease of use. I also reduced the requirement for needing multiple snapshots.

The `ActionManager`'s main feature is that it can detect and react to an `action`.

I define an `action` as when the user does one thing. An action is not an eve

[2019-04-23 17:30] thesunny commented on #2547
The `ActionManager` above is created the way it is in order to handle three use cases with respect to mapping a user action to a `handler`:

1. The action can be identified by a single event and can be handled immediately: In this use case, we use the `onTrigger` function and if there is a match, we `event.preventDefault()`, run the code that we need to run to handle the action, and then return `t

[2019-04-23 20:29] ianstormtaylor opened #2704 "consider replacing Text and Leaf with just Text"
#### Do you want to request a _feature_ or report a _bug_?

Idea.

#### What's the current behavior?

Right now we have the concept of `Text` nodes and `Leaf` objects inside of them. This works, but it also just happened to be the way things evolved. We combine adjacent text nodes into one another, and leaves get combined too if they share marks.

But this could be simplified, and it might be nice

[2019-04-23 20:50] ferdaber opened #2705 "Value.activeMarks returns incorrect set of marks for overlapping marks in selection"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
The site's example rich text editor reproduces this behavior: https://www.slatejs.org/#/rich-text.

![image](https://media.giphy.com/media/chyZTg3JBJhnRhZQQw/giphy.gif)

In the gif above, I overlapped an underline mark and a bold mark. Selecting the text from the start of the bold mark produces correc

[2019-04-24 00:15] thesunny commented on #2702
@hecor Thanks for the screencast.

Just to clarify what you are doing here. You go to the end of a line and hit enter. Insert a word either through IME or regular means. Hitting enter deletes the entire word instead of one character.

I'll take a look after I migrate the Android plugins to use some new constructs I'm working on. I think I know what's happening though.

[2019-04-24 03:22] hecor commented on #2702
@thesunny Thanks for the quick reply.
Actually, I don't need go to the end of a line, everything I input will be deleted one time after I press delete. It seems what I input doesn't belong to the whole text.

[2019-04-24 04:51] thesunny commented on #2702
@hecor I'm not sure what's going on exactly until I do some more analysis but my guess is that the delete in Android is doing something nasty and so we take a DOM snapshot before doing the delete. However, it's probably using the wrong snapshot, one that was taken before the text was entered.

I'll look out for this when I get back to that part of the code.

[2019-04-24 04:57] thesunny commented on #2704
Yes, I like this.

I serialize to JSON that looks something like this already and haven't had any issues with it.

[2019-04-24 10:13] hecor commented on #2702
OK, hope to have your good news soon~

[2019-04-24 14:26] ferdaber commented on #2705
From some debugging it looks like it's failing at `Text.getActiveMarksBetweenOffsets`, where the `forEach` loop is breaking early on the first intersection it finds: https://github.com/ianstormtaylor/slate/blob/bb5d6beffa393176c55392b07ccbb0de63bd2138/packages/slate/src/models/text.js#L314

Removing that last `return false` line makes it work as expected. I can create a PR if the maintainers agree

[2019-04-24 14:29] slgauravsharma opened #2706 "How we can delete table ?"
I want to delete table.
i saw there is method  removeNodeByKey(key) to delete node. i need key for delete the table

Scenario:-  on click of table cell that time i populate delete button and by using delete button to delete table. but i cn't figure out to find key of table.
#HELPPLEASE #TABLESLATE #TABLE
if any other solution for delete the table then please let me know. thanks in advance.
Slate v

[2019-04-24 15:55] CameronAckermanSEL commented on #2706
Hi!

We have a slack channel for questions like this: https://slate-js.slack.com/

Also check out the properties on the `editor.value.selection` object, this should give you what you need. https://docs.slatejs.org/slate-core/selection

[2019-04-25 00:04] ianstormtaylor commented on #2700
Why not use `splitBlock` for this purpose instead?

[2019-04-25 00:05] ianstormtaylor commented on #2706
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2019-04-25 00:05] #2706 closed

[2019-04-25 00:07] ianstormtaylor commented on #2699
Hey @Reklino, thanks for the super well presented issue. I totally agree that it would be good if this was possible. This might be solveable by https://github.com/ianstormtaylor/slate/issues/1884?

[2019-04-25 00:07] quicksnap opened #2707 "Document how to handle future breaking changes"
#### Do you want to request a _feature_ or report a _bug_?

Feature

#### What's the current behavior?

Related: #1992

Many tickets are open that are flagged as breaking changes, such as combining "Text/leaf" nodes into "text". When fundamental changes like this happen, how will users migrate existing serialized content?

Documenting this would be a great add. If it's not currently supported, it

[2019-04-25 00:17] #2679 closed

[2019-04-25 00:26] ianstormtaylor commented on #1992
This sounds useful, but it seems outside the scope of Slate's core to me. Versions can currently be managed by folks on their own, and might include their own schema-specific concerns, and stored with the documents.

[2019-04-25 01:21] CameronAckermanSEL commented on #2707
This makes sense.

Is this something that is not already addressed by the [changelog](https://docs.slatejs.org/general/changelog)?

https://github.com/ianstormtaylor/slate/blob/master/packages/slate/Changelog.md

[2019-04-25 01:34] isubasti commented on #2705
@ferdaber check the doc https://docs.slatejs.org/slate-core/value#activemarks, https://docs.slatejs.org/slate-core/value#marks. what you want is `value.marks` not `value.activeMarks`

[2019-04-25 02:08] justinweiss commented on #2704
Considering text nodes get merged together already, I think this is a natural next step.

I wonder if we should consider versioning the model JSON? We would have to migrate our existing data to the new (leaf-free) format before passing it into the editor, unless the editor was backwards-compatible. A version number would let us more easily know when we would need to do the migration.

[2019-04-25 03:37] ianstormtaylor commented on #2413
@zhujinxuan that's a really great point! Thank you! I like the idea of keeping the concept complexity low. So we could instead do as you say:

[code]

And the editor will internally keep track of things so that the query always returns the updated point/path/etc. to the caller.

[2019-04-25 11:34] AnatolyShirykalov commented on #2702
I also had a crush typing backspace in your demo page
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8566193/56732660-befbaa00-6766-11e9-9eb1-8c3b08a7d7ae.gif)
Asus ZB602KL. Android 8.1.0, Gboard, Chrome 73

[2019-04-25 15:26] thesunny commented on #2700
@ianstormtaylor I may be misunderstanding your comment but to clarify, this is to allow a developer to override the default splitBlock behavior when enter is pressed. The default behavior would continue to be splitBlock on Android.

One real world example:

I have a task list and my cursor is in a task that is checked. If I hit enter at the end of the checked task, our users expect a new task to b

[2019-04-25 17:21] ianstormtaylor opened #2708 "investigate not using `SlateError` objects"
#### Do you want to request a _feature_ or report a _bug_?

Idea.

#### What's the current behavior?

Right now when doing normalization we create `SlateError` objects:

https://github.com/ianstormtaylor/slate/blob/62ca8703045f29f57f0636ed4c2dadbe7fed0910/packages/slate/src/plugins/schema.js#L130

Creating errors objects is a lot more expensive than creating objects: https://jsperf.com/error-vs-ob

[2019-04-25 17:27] ianstormtaylor commented on #2700
@thesunny check out the `onCommand` middleware handler, it would let you do this by using the `splitBlock` command as your target. In normal execution you'd let it through, but when inside a check list item you'd uncheck afterwards as you mention.

It would be good to update our examples for this new capability since it seems like something people would need a lot, and should be the default way to

[2019-04-26 00:44] thesunny commented on #2700
Had no idea this existed!

The documentation doesn't tell us how to call an actual `splitBlock` inside an `onCommand` hook.

I can create an issue to update the docs if you can tell me if this fake code would work:

[code]

And if that doesn't work, (a) what would or (b) do we need to create a way to do this.

Finally, I notice the examples on that page all return `next()`. From my understanding,

[2019-04-26 04:02] thesunny opened #2709 "Hot Module Reload broken in Slate for react/dom plugin"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

It's difficult to work on the built-in Slate plugins (basically, Slate since most of it is implemented in the built-in plugins) because after making a change, we have to do a full reload of the browser. This is especially painful on Android when using the simulator because it is slow.

#### What's t

[2019-04-26 17:31] ianstormtaylor opened #2711 "remove model-level mutation methods"
#### Do you want to request a _feature_ or report a _bug_?

Debt.

#### What's the current behavior?

Right now when an operation is applied, it calls down into model-level mutation methods like:

[code]

The idea here is that we continue to provide useful low-level mutator methods for folks when they need them. But it also causes a lot of indirection which makes it hard to reason about what happe

[2019-04-26 17:40] ianstormtaylor opened #2712 "remove `marks` from insert_text/remove_text operations"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the behavior?

Right now the `insert_text/remove_text` operations contain an extra `marks` property to designate which marks should be added to the new text. However, as we transition to remove the `Leaf` concept from the data model (https://github.com/ianstormtaylor/slate/issues/2704), it won't be necessary.

Th

[2019-04-26 18:49] comerc commented on #1015
I have the same bug for two or more placeholders (not only for IE 11, but for Chrome too):

![Снимок экрана от 2019-04-26 21-41-22](https://user-images.githubusercontent.com/1025241/56829354-2a7b6f80-686c-11e9-878f-d9b5a1ec25c8.png)

![Снимок экрана от 2019-04-26 21-29-20](https://user-images.githubusercontent.com/1025241/56829366-30715080-686c-11e9-963d-7fd9af345ed6.png)

(second image - it is [m

[2019-04-26 20:13] ianstormtaylor commented on #2700
@thesunny you’re right on both counts there! An update to the docs would be awesome.

I added that capability in a while ago with Android in mind, but haven’t updated the examples to use it yet. But really `onKeyDown` should be fairly rare going forward, reserved for platform-specific logic or hotkeys.

[2019-04-26 20:38] thesunny commented on #2700
@ianstormtaylor This mechanism is great.

I do have two issues that I haven't figure out and perhaps you have a solution for already:

1. Using `next()` may cause more than one `onCommand` middleware to respond when you only want one. For example, let's say you had special handling for `splitBlock` in a task (resets the checked state on split) but you also had special handling for `splitBlock` at

[2019-04-26 20:40] thesunny opened #2713 "Add documentation for `onCommand` middleware to trigger underlying command"
#### Do you want to request a _feature_ or report a _bug_?

Improve documentation

#### What's the current behavior?

The documentation for the `onCommand` middleware doesn't describe how to access the original command.

#### What's the expected behavior?

The documentation should describe how to access the original command. Here's a code sample:

[code]

[2019-04-26 21:29] ianstormtaylor commented on #2700
Interesting points. For (1) I'm not sure there's a good solution, but that's kind of inherent to middleware/composition. For (2) I think you could use `splitBlockAtRange` for that potentially?

For other thoughts, check out https://github.com/ianstormtaylor/slate/issues/2342. It would be great if you add your thoughts there too for the future!

[2019-04-26 22:08] ianstormtaylor opened #2714 "remove `length/offset` from `*_mark` operations"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the behavior?

This is similar to https://github.com/ianstormtaylor/slate/issues/2712. If we drop leaves in favor of unique text nodes, it doesn't make sense for the `*_mark` operations to have `offset/length` information anymore, because that would mean that adding a mark could involve splitting a node.

Instead

[2019-04-27 00:26] ianstormtaylor opened #2716 "change `findDOMNode` to use a React ref tree"
#### Do you want to request a _feature_ or report a _bug_?

Debt.

#### What's the current behavior?

Right now `findDOMNode` uses the `data-key` attribute of elements.

#### What's the expected behavior?

But it should be changed to use React refs instead. Each component can keep the refs to its children, and then the tree can be traversed to find a given element by `path` instead.

[2019-04-27 00:28] ianstormtaylor opened #2717 "add a `findPath` DOM helper"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now `findNode` is used, and then since it's easiest we end up using `node.key` for subsequent lookups.

#### What's the expected behavior?

If there was a `findPath` DOM helper instead, all of the subsequent lookups could use paths also instead of keys.

[2019-04-27 12:15] wangxingxing123654 opened #2718 "can i custom link like the photo"
#### Do you want to request a _feature_ or report a _bug_?

![image](https://user-images.githubusercontent.com/28847126/56849592-09c51f80-6929-11e9-8bbf-09c222bb444f.png)
just like the photo show . when i click the  link icon, there will be a select show up,how can i
to do this?
#### What's the current behavior?

#### What's the expected behavior?

[2019-04-28 10:46] akovantsev opened #2719 "operations' size check in SchemaPlugin's defaultNormalization decision"
[code]
should probably be
[code]

https://github.com/ianstormtaylor/slate/blob/62ca8703045f29f57f0636ed4c2dadbe7fed0910/packages/slate/src/plugins/schema.js#L101
https://github.com/ianstormtaylor/slate/blob/62ca8703045f29f57f0636ed4c2dadbe7fed0910/packages/slate/src/plugins/schema.js#L110

[2019-04-29 05:31] CameronAckermanSEL commented on #2719
No, this assignment is correct.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

[2019-04-29 05:41] CameronAckermanSEL commented on #2718
Please read the issue template before submitting an issue:
[code]

Questions like this should be asked in the slack channel.

[2019-04-29 08:46] Bonnevie opened #2720 "Selection becomes erratic if renderMark adds text nodes"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
If a renderMark function adds a new text element outside of the Slate context,
[code]
Then the cursor/selection mechanism breaks down. If the cursor is placed to the right of the inserted tag, the cursor keeps moving right as if the user is continuously pressing the right arrow key. If it is placed to

[2019-04-29 09:24] Bonnevie opened #2721 "wrapNodeByKey does not trigger validation when used in normalizeNode plugin"
#### Do you want to request a _feature_ or report a _bug_?
bug (maybe?)

#### What's the current behavior?
If you implement a custom normalizeNode function in a plugin then normalization steps that only use wrapNodeByKey send the normalizer into an infinite loop. Performing a similar operation using a sequence of replace-/insert-/removeNodeByKey works as expected.
User "brendan" on the Slack chann

[2019-04-29 16:40] CameronAckermanSEL commented on #2721
This issue is "resolved" by changing the normalizer to run the correction command as opposed to returning a delegate that does it.

[code]

[2019-04-29 21:52] ianstormtaylor commented on #2718
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2019-04-29 21:52] #2718 closed

[2019-04-30 03:34] glebtv opened #2722 "Slate zero width is rendered with UTF8 BOM symbol"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Slate currently renders data-slate-zero-width elements with UTF8 BOM character inside in Chrome

This is very annoying for users copying, for example, links text from Slate, as BOM character is inserted after the link.

#### Repoduction:

https://www.slatejs.org/#/links
Delete preset content
~~Add a l

[2019-04-30 03:42] glebtv commented on #2722
This is an EXTREMELY nasty character to add to a text editor
https://en.wikipedia.org/wiki/Byte_order_mark
https://medium.freecodecamp.org/a-quick-tale-about-feff-the-invisible-character-cd25cd4630e7

This is NOT a zero-width space (which seems to be the intended character)

Related: #1971 #2597

[2019-04-30 04:03] ianstormtaylor commented on #2413
This is trickier than I thought, because it's hard to have the refs/queries get garbage collected. I was originally thinking of implementing this as a non-React-specific part of Slate core, which leaves us without a great place to "unref" the memory.

If it were just for React, I *think* we'd be able to use the lifecycle hooks to unref automatically when a component is destroyed, which prevents us

[2019-04-30 05:23] zaqzaq163 commented on #2302
it's work    .  thx

[2019-04-30 05:40] ianstormtaylor commented on #2420
Unfortunately, since I think we need access to the "real" DOM node, we might have to enforce using `React.forwardRef()` for all of the components in `renderNode`?

[2019-04-30 07:32] philipstolpe opened #2723 "Changes not applied properly when nesting editors with contexts"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

**Setup:**

I have created an editor wrapper (SlateEditor) with a context provider (EditorDataProvider) around the editor. A custom block type (NestedEditor) has been defined which contains a context consumer (EditorDataConsumer). This block also renders another instance of SlateEditor.

Another cus

[2019-04-30 09:54] tobiasandersen commented on #2420
FWIW I think the plan is to make `forwardRef` the default behavior in future versions of React (see https://twitter.com/dan_abramov/status/1109512531209584640)

[2019-04-30 11:34] slgauravsharma opened #2724 "How to split editor in two columns ?"
i want to split editor in two column can you give me idea how to achieve this funtionality ?
if possible code then its so appreciable. thanks
i already post in slack channel also but not getting any response #HELPPLEASE
screenshot to more specified requirement.
![twocolumn](https://user-images.githubusercontent.com/25609444/56959078-e2a96080-6b69-11e9-9ca3-d89d27c4b8dc.png)

[2019-04-30 16:37] CameronAckermanSEL commented on #2723
In the browser console, I'm seeing these errors every time the nested editor is updated:
[code]

Is the nested editor strictly necessary? It should be avoidable because slate has hierarchical blocks.

[2019-04-30 19:05] ianstormtaylor commented on #2724
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2019-04-30 19:05] #2724 closed

[2019-04-30 19:07] ianstormtaylor commented on #2722
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2597, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-04-30 19:07] #2722 closed

[2019-04-30 19:12] ianstormtaylor commented on #2420
@tobiasandersen interesting, good info!

That makes using `forwardRef` seem more fine in the interim, since it'll just be transparent in the future and people can opt out.

That said, I realized we actually separate the "spreadable" props into a separate `props.attributes` dictionary already. Which means I think we can just add `attributes.ref` there and it'll pass through fine.

I'm kind of torn

[2019-04-30 19:15] #2712 closed

[2019-04-30 19:15] #2714 closed

[2019-04-30 19:15] #2704 closed

[2019-04-30 21:04] glebtv commented on #2597
I think the idea in #1971 about implementing this via ```<br/>``` is more solid. Any invisible characters are bad in an editor, since users might copy text from it, and it might be links, source code, etc - and invisible characters often cause cryptic errors

[2019-05-01 00:02] marktron opened #2725 "Slate unfocusing and refocusing every keystroke"
#### Do you want to request a _feature_ or report a _bug_?

Report a bug

#### What's the current behavior?

On the Mac in Chrome and Safari, the current release of Slate (0.45.1) shows an undesirable effect where every time I press a key the spellcheck fires and my MacBook Pro's touch bar switches from the suggested words display to the default browser touch bar display. This suggests to me that

[2019-05-01 00:37] thesunny commented on #2702
I think this bug is fixed now. You can test it out here: https://thesunny.github.io/slate/#/rich-text

[2019-05-01 03:11] ianstormtaylor commented on #2061
For more information on how best to solve this, if someone wants to help tackle it, check out https://github.com/ianstormtaylor/slate/issues/2051

[2019-05-01 03:12] ianstormtaylor commented on #2725
Hey @marktron, thanks for reporting this. I totally agree with this being an issue. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2061, so I'm going to close this in favor of that one. Feel free to comment over there with any other info! The bit about the touchbar is new to me, and a good thing to account for.

[2019-05-01 03:12] #2725 closed

[2019-05-01 04:26] thesunny commented on #2578
Composition code for Android is nicely separated into an `ActionManager` object now.

There is a good separation of concerns in this model. Closing this issue.

[2019-05-01 04:26] #2578 closed

[2019-05-01 04:58] thesunny opened #2726 "Fix all showstopper bugs in Slate on Android (Help us by reporting and testing bugs)"
The purpose of this issue is to consolidate and fix all Android bugs, especially those that are showstoppers (i.e. bugs that if we don't fix we can't claim to have Android support).

If you want Android support, you can help make it happen by testing and providing good bug reports. Note: If you can't recreate the bug, please do not submit it (e.g. needs to e more specific than "sometimes backspace

[2019-05-01 05:03] thesunny commented on #2702
I'm working on fixing the remaining Android bugs now.

In order to be more efficient, please submit bugs and help with testing over in this issue:

**Fix all showstopper bugs in Slate on Android (Help us by reporting and testing bugs)**
https://github.com/ianstormtaylor/slate/issues/2726

[2019-05-01 05:04] thesunny commented on #2368
I'm working on fixing the remaining Android bugs now.

In order to be more efficient, please submit bugs and help with testing over in this issue:

**Fix all showstopper bugs in Slate on Android (Help us by reporting and testing bugs)**
https://github.com/ianstormtaylor/slate/issues/2726

[2019-05-01 05:04] thesunny commented on #2062
I'm working on fixing the remaining Android bugs now.

In order to be more efficient, please submit bugs and help with testing over in this issue:

**Fix all showstopper bugs in Slate on Android (Help us by reporting and testing bugs)**
https://github.com/ianstormtaylor/slate/issues/2726

[2019-05-01 05:25] thesunny commented on #2691
As an update, I've separated Android plugins by major version number and in combination with an ActionManager object that I added this has made understanding the code easier and the iterations faster. It is less common for a fix in one area to break things elsewhere.

Some insights:

- There are some methods that overlap between Android versions; however, we must be careful because sometimes they

[2019-05-01 05:56] thesunny commented on #2342
I don't like the idea of overriding core commands. I think higher level commands will depend on the behavior of core commands to do things in exactly one way.

For example, somebody overrides a core command so that in an image block, `splitBlock` always inserts a blank block before the image block (i.e. hitting enter in an image block always inserts a blank `block` before). Another developer wants

[2019-05-01 06:43] glebtv commented on #2702
For me it's worse with this fixes:
1) Deleting selection is broken, it reappears:
![del-sel](https://user-images.githubusercontent.com/1041407/57007901-bab30f00-6bf4-11e9-97e0-6b3823cb1846.gif)

2) Deleted content reappears after releasing backspace:
![reappear](https://user-images.githubusercontent.com/1041407/57007920-d7e7dd80-6bf4-11e9-87a6-2c196cf23a23.gif)

3) Crash if pressing a letter right

[2019-05-01 09:03] czechdave opened #2727 "insertTextAtRange should be wrapped in withoutNormalizing"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
`insertTextAtRange` command normalizes between `deleteExpandedAtRange` and `insertTextByKey` calls, which clashes with schema `text` normalization rules.

#### What's the expected behavior?
`insertTextAtRange` doesn't normalize between the `deleteExpandedAtRange` and `insertTextByKey` calls.

https://

[2019-05-01 10:00] thesunny commented on #2702
Can you tell me if it works on your browser if you release backspace before wrapping through the block?

[2019-05-01 14:09] hecor commented on #2702
Hi @thesunny It didn't fix my problem too, actually my another Huawei android phone which is fine before have the same problem now.

[2019-05-01 15:22] thesunny commented on #2702
@hecor can you clarify that you can or cannot hold down backspace and release before you cross the start of the line and have it work? Try these tests I made here:

https://thesunny.github.io/slate/#/composition/delete

If you can't do that, this might be an issue that doesn't present on the simulator but does present on hardware which will be painful to work on.

The select then delete is a separ

[2019-05-01 17:08] thesunny commented on #2702
@hecor @AnatolyShirykalov @glebtv

Can you let me know how you made the screen recordings? I would like to add the tool to the bug reporting post I made.

[2019-05-01 19:47] Slapbox commented on #2062
@thesunny there's a number of major bugs and some minor ones too, but only a one or two bugs I would define as real showstoppers that actually make things crash or truly unusable.

Could you clarify where you want to set the bar for this pass of bug fixes? I know the cut-offs for each classification are nebulous, but I assume your aim might be more accurately described as fixing major and showstop

[2019-05-01 20:06] Slapbox commented on #2726
(If someone has a better way, I will update this comment)

## Easiest way to create screen recordings
1. [Download DU Recorder from the Play Store](https://play.google.com/store/apps/details?id=com.duapps.recorder&hl=en_US) (Play store seems to be having issues currently)
2. Create your screen recording.
3. Upload your created file at https://imgur.com/upload to get a shareable link - (I use [Join

[2019-05-01 20:07] Slapbox commented on #2702
@thesunny, I got you: https://github.com/ianstormtaylor/slate/issues/2726

[2019-05-01 20:13] Slapbox commented on #2726
This thread could get a little dicey as issues stack up. For now I'll report here, but I'll move it to a separate issue and link here if you think that will be more manageable. Just let me know.

### Placeholder overlap and deletion bugs

**Severity:** Major
**Reason for severity:** Can be worked around by not using placeholders, but crashes catastrophically when you do use them
**Recording:** htt

[2019-05-01 20:13] thesunny commented on #2702
Although this thread seems to be talking about one issue, it is actually several. When talking about an issue, please refer to it's number below. If I believe the issue is fixed, I will check it:

- [x] 1 Android 8&9 - Go to end of line. Hold down backspace but not past the beginning of line.
- [x] 2 Android 8&9 - Go to middle of line. Hold down backspace but not past the beginning of line.
- [x]

[2019-05-01 20:32] Slapbox commented on #2726
## Bug: Emptying document contents by holding backspace leads to infinite loop

### Severity
MAJOR

### Rationale for severity
This can be avoided by not erasing the entire contents, but if you do, the editor gets stuck in an unescapable loop

### Recording
https://imgur.com/a/TL7tgvK

### Description
Starting at the end of the content of the editor, erase the entire contents by holding down backs

[2019-05-01 20:38] thesunny commented on #2062
@Slapbox That's a good question; however, I think it's okay for you to post all of them and I can make a determination what makes it in. It's probably too much to ask the bug reporters to do the analysis since some of the lower priority ones might be easy fixes so I might as well do them now.

I'll probably only not do the ones that are simultaneously (a) hard to fix and (b) not that important.

[2019-05-01 20:43] Slapbox commented on #2726
## Bug: Deletion of expanded selection only removes final character

### Severity
Major

### Rationale for severity
There's no easy workaround for users and in more complex examples, this can cause editor crashes.

### Recording
https://imgur.com/a/dhWBLZW

### Description
Long press to select and choose, 'Select All', then press backspace. On the first press your selection will collapse, but it w

[2019-05-01 21:22] Slapbox commented on #2726
## Bug: Cutting or copying expanded contents cuts/copies only the initially selected word

### Severity
Major

### Rationale for severity
I chose major because I can find no workaround that an average user could use.

### Recording

[Cutting and pasting with no document change inbetween Cut and Paste](https://imgur.com/a/XqSOT46)
[Cutting and pasting to a new line](https://imgur.com/a/xiQXqFm) - I

[2019-05-01 21:34] Slapbox commented on #2702
I think I've re-reported a few mentioned here. Here's my best guesses as to mapping issues here to my new reports.

\#6 above appears to be identical to  -- https://github.com/ianstormtaylor/slate/issues/2726#issuecomment-488415967
\#7 above is either the same as or closely related to -- https://github.com/ianstormtaylor/slate/issues/2726#issuecomment-488411061
\#9 above I have not submitted a rel

[2019-05-01 23:41] quicksnap opened #2729 "Applying changes without editor focus clobbers undo history"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Replicated on https://www.slatejs.org/#/rich-text with latest Chrome browser.

When applying changes to a selection when the editor doesn't have focus, the undo history is clobbered.

To replicate:
1. Select some text.
2. Click outside the editor
3. Click on "Bold" toolbar mark
4. Click on editor an

[2019-05-01 23:43] quicksnap commented on #2729
In my local environment I was unsure of how to debug this. Through trial and error I figured out this was the root issue.

Any tips on inspecting why operations fail to undo/redo? I tried logging `slate:operation*`, but there is a lot of noise, and console-logged Immutable objects are tough to inspect =(

[2019-05-02 00:18] thesunny commented on #2702
Hold everything. The fix to the range deletions broke the regular deletions.

[2019-05-02 02:18] ianstormtaylor commented on #2345
I forgot, one of the issues in terms of removing keys from nodes, is that when rendering in React-land there's no stable key to use, which leads to issues.

[2019-05-02 02:55] #2727 closed

[2019-05-02 07:07] preciselyphilip commented on #2723
@CameronAckermanSEL Where do you see those errors? To me, everything seems to look fine (no errors). What browser are you using?

[2019-05-02 07:10] philipstolpe commented on #2723
@CameronAckermanSEL Where do you see those errors? To me, everything seems to look fine (no errors). What browser are you using?

[2019-05-02 12:34] akovantsev commented on #2719
@CameronAckermanSEL you are right, still not used to it. Thanks

[2019-05-02 12:34] #2719 closed

[2019-05-02 16:07] yonahforst commented on #1948
@ianstormtaylor - I'm also curious if this is necessary for all inlines, or just void ones 😄

I have a large document with several hundred `block` nodes which I would like to convert to `inline`. All the insertions of empty text nodes causes the browser to hang.

I'm happy to submit a PR implementing what @RXminuS suggested above

[2019-05-02 19:03] Slapbox commented on #2729
@quicksnap this PR fixes _some_ of the issues with history, but probably introduces more issues. It's also outdated now, slightly. You'd need to integrate the new changes to the `on-history.js` file (very minimal.)

If you want to work on improving this, I'd be happy to help. The trouble is that I got it nearly working just in time to step away for a few days, and when I came back, nothing made se

[2019-05-02 19:16] quicksnap commented on #2729
@Slapbox which PR?

[2019-05-02 19:21] Slapbox commented on #2729
Ah crap, sorry about that. Here you go: https://github.com/ianstormtaylor/slate/pull/2347

[2019-05-02 19:23] Slapbox commented on #2729
By the way, there's a related issue here which might be of interest to you, though it has no solutions itself: https://github.com/ianstormtaylor/slate/issues/2098

[2019-05-02 21:38] quicksnap commented on #2729
Once the problem becomes more of a priority for me, I would be interested in helping. For now, I believe one workaround would be to prevent toolbars from modifying the document without a focused selection. So, one could destroy the selection `editor.onBlur` and also cause a `editor.focus` event before any toolbar actions occur.

This is a problem, though, and I would like to know how better to deb

[2019-05-03 04:03] Slapbox commented on #2729
If I recall, when the editor is blurred, that creates a change in the history stack. I remember that clears all redos. I don't remember it clearing undos.

The way to troubleshoot this is to swap in some of the code from the undo/redo example and paste it into the rich text example so you can observe the history stack in relation to applied marks and your actions.

@ianstormtaylor would you be wil

[2019-05-03 06:23] glebtv commented on #2702
It is very easily reproducuble for me, just deleted some text.

This is hardware, not emulator.

I have some keyboard settings configured, like autocorrect and suggestions disabled on gboard.

Can you add slate value display like this one https://thesunny.github.io/slate/#/composition/split-join to rich text demo? (and probably better serialized html display). I think screen recordings would be mo

[2019-05-03 06:35] glebtv commented on #2702
Current status for me onhttps://thesunny.github.io/slate/#/composition/rich :

1. Had the same crash a couple times (hard to reproduce for me, will add a video if i'm able to reproduce it)
2. Slate value does not change at all when adding new text (easy to reproduce)

[2019-05-03 08:00] bryanph commented on #2723
I think this might have to do with https://github.com/ianstormtaylor/slate/issues/2477. It seems there is some internal logic that queues updates. If it just so happens that after you apply changes to the slate editor that something causes a rerender up the tree with an old `value` then the "new" value is discarded. This is my thesis anyway.

[2019-05-03 09:33] yonahforst commented on #1948
I'm struggling a bit trying to apply this rule to only void inlines. Here's the schema:
https://github.com/ianstormtaylor/slate/blob/cf46e9d3d4fddae8b86fe7ae7a097d07b2baf306/packages/slate/src/plugins/core.js#L130-L155

What I can't figure out is how to tell the schema to match only when the `inline` is void.
If I add `isVoid` to the rule like so:
[code]
that seems to tell the schema that the `inl

[2019-05-03 15:18] corbinasapp commented on #2720
I ran into this as well trying to add a tooltip. As a workaround, I settled on using react-tooltip and just adding a `data-tip` attribute to my decorated node that react-tooltip uses to hook into.

[2019-05-03 15:59] edin-purkovic opened #2732 "Issues with focus/cursor on custom block nodes"
#### Do you want to request a _feature_ or report a _bug_? Bug

#### What's the current behavior?

First, a big thank you for this badass editor!

I am using text inputs in my custom block nodes and can't figure how to solve this issue - here is the simplified version on codesandbox using the slates Check List example, changed only from checkbox to text inpux: https://codesandbox.io/s/yqj378j5wv

[2019-05-03 23:43] Slapbox opened #2733 "On improving the performance of ApplyOperation"
#### Do you want to request a _feature_ or report a _bug_?

Feature/Improvement

#### What's the current behavior?

Currently we use an immediate promise resolution to delay execution in `applyOperation` here: https://github.com/ianstormtaylor/slate/blob/master/packages/slate/src/controllers/editor.js#L115

#### What's the expected behavior?

I think we can potentially improve performance here by

[2019-05-05 11:08] glebtv opened #2736 "Disabling mark with no selection doesn't cause it to stop being active"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
https://www.slatejs.org/#/rich-text
Enable "bold"
Type some text
Disable bold (don't select anything), button in toolbar shows as not active
Type some text, button in toolbar becomes active again
Second part of the text (after disabling bold) is bold, and bold button is re-highlighted in toolbar

####

[2019-05-05 13:52] rebirthtobi commented on #2736
I have the same problem, its like slate is broken at some point

[2019-05-05 20:48] rebirthtobi commented on #2736
@glebtv Gitbook might be using a different version

[2019-05-06 02:55] isubasti commented on #2736
this bug is actually different then what #1113 try to fix. it's a bug introduced due to seemingly incomplete implementation of removing leaves https://github.com/ianstormtaylor/slate/commit/a220cd5ae10c7e5f7df6d018deae0670526dbb73. @ianstormtaylor it looks like on `remove/adding` mark, `Text` node is not created/removed properly

[2019-05-06 10:14] akovantsev opened #2737 "Native Range.isCollapsed is always undefined in slate-react/utils/findRange"
Probably a bug:

`findRange` function accepts native either Range or Selection, and, if gets Range – "coerces" it to Selection.
The issue is: it assumes both `Range` and `Selection` have `.isCollapsed`, and does not "coerce" this attribute. However, Range's attribute is called `.collapsed`, not `.isCollapsed`.

So in `findRange(range, editor)` isCollapsed is always undefined (I think).

https://de

[2019-05-06 14:00] Entkenntnis commented on #2582
We experience the same bug in our project and applied above patch.

[2019-05-06 17:21] FedeLochbaum opened #2739 "ReplaceNodeByPath is not saving a snapshotSelection"
#### Do you want to request a _feature_ or report a _bug_?
 Currently the ` replaceNodeByPath ` and  ` replaceNodeByKey ` are not using [snapshotSelection](https://docs.slatejs.org/slate-core/commands#snapshotselection).

[Current replaceNodeByPath implementation](https://github.com/ianstormtaylor/slate/blob/master/packages/slate/src/commands/by-path.js#L368)

#### What's the current behavior?
If

[2019-05-06 17:41] drenther commented on #812
This issue still seems to exist.

![2019-05-06 23 06 04](https://user-images.githubusercontent.com/12991390/57243377-9a9ba980-7053-11e9-9f7c-cb75d345fe4a.gif)

Just wanted to get the discussion going again around this issue. I haven't dug too much into it yet. But, I have been facing this issue myself. I am currently trying to handle it by adding a condition in `normalizeNode` method. I think ther

[2019-05-06 18:13] apledger opened #2740 "removed Text method `getMarksAsArray` is still being called in `getMarksByType`"
Line `1039` here is throwing:

https://github.com/ianstormtaylor/slate/blob/cf46e9d3d4fddae8b86fe7ae7a097d07b2baf306/packages/slate/src/interfaces/element.js#L1038-L1040

It seems that `getMarksAsArray` was removed from ```packages/slate/src/models/text.js``` in [commit `a220cd5`](https://github.com/ianstormtaylor/slate/commit/a220cd5ae10c7e5f7df6d018deae0670526dbb73#diff-bee31b2d407c5b213206a40df

[2019-05-06 18:16] apledger commented on #2740
Could just replace `memo.concat(node.getMarksAsArray().filter(m => m.type === type))` with `memo.concat(node.marks.filter(m => m.type === type))` I believe.

[2019-05-06 19:30] mwegman commented on #2736
I ended up downgrading to 0.45 to avoid this bug so it was definitely something introduced in 0.46.

[2019-05-06 19:53] apledger commented on #2740
I'll go ahead and make a PR for it and check to see if `getMarksAsArray` is being called for text nodes elsewhere.

[2019-05-06 20:19] rebirthtobi commented on #2736
do you also downgrade slate react also?

[2019-05-06 20:22] mwegman commented on #2736
I didn't. It seems to work fine without downgrading slate-react

[2019-05-06 21:53] comerc commented on #1161
My solution:

[code]

Enjoy!

[2019-05-07 01:59] rebirthtobi commented on #2736
I'm still experiencing the same issue probably because my editor lose focus as i click on the button

[2019-05-07 02:06] nz-chris opened #2741 "editor.addMarkByKey not working"
#### What's the current behavior?

[code]
gives `slate.es.js:7492 Uncaught TypeError: node.getLeaves is not a function at ./node_modules/slate/lib/slate.es.js.Commands$2.addMarkByPath (slate.es.js:7492)` on slate 0.45.1

and gives `Uncaught Error: Paths can only be created from arrays or lists, but you passed: Mark { "data": Map { "className": "new-class" }, "type": "normal-text" }` on slate 0.46.

[2019-05-07 03:41] #2741 closed

[2019-05-07 03:42] nz-chris commented on #2741
Closed because Where I commented `//the key of the block to add the mark.` it should really be `//the key of the NODE to add the mark`. I was using the key of the wrong thing

[2019-05-07 04:53] rebirthtobi commented on #2736
I've resolve this using `onMouseDown` instead of `onClick`, but thwn i have a colour picker, font and font size picker also. I'm still trying to make this work

[2019-05-07 08:09] bryanph opened #2742 "setValue in controllers/editor.js causes race conditions"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
`setValue` is called in two places in the controller:
1. Reacting to a prop change (https://github.com/ianstormtaylor/slate/blob/5b8a6bb3b49faef7d955632506a69dce1ebd597a/packages/slate/src/controllers/editor.js#L378)
2. Reacting to an internal state change (https://github.com/ianstormtaylor/slate/blob

[2019-05-07 18:24] richardshuai commented on #2600
I'm also having this problem. Is there any known workaround so the cursor moves smoothly across?

[2019-05-07 19:54] FedeLochbaum opened #2744 "Remove mark is not working like part of a transaction"
#### Do you want to request a _feature_ or report a _bug_?
bug

#### What's the current behavior?
If a call to `removeMarkByPath`/`removeMark`/`removeMarkAtRange`, i call to any action like `deleteCharBackward` and a press `cmd+z` the undo functionality first is reverting the `deleteCharBackward` and if a press again `cmd+z` the removeMark is reverted.

#### What's the expected behavior?
Should ca

[2019-05-07 23:37] brynshanahan commented on #2736
In the same vein of this issue. If you are in a plain text node and then activate a mark like bold, the first character you type will be bold then the following characters will revert back to the original style. This only happens if you try to enter a mark in the middle of a text node
![2019-05-08 09-06-57](https://user-images.githubusercontent.com/37826020/57339389-bd71af00-7174-11e9-8820-e0a5519

[2019-05-08 01:02] thesunny commented on #2062
I'm posting here instead of the Android bugs thread https://github.com/ianstormtaylor/slate/issues/2726 in order to reach the most developers.

I've come to an issue that think may be impossible to workaround. My hope is by explaining it, somebody might be able to find a solution or offer ideas that might help me get passed the issue. I'm happy to explain any more details or answer any questions.

[2019-05-08 02:06] hudk114 commented on #2457
事实上这是两个问题。两者的原因都是safari和chrome上触发事件的时机不一致。简单来说，chrome里beforeinput和onselect事件都只会在compositionend之后触发，而safari上，每次keyup都会触发这两个事件。
1. 中文不能输入的问题
beforeinput在safari里因为是一个非native事件，所以不会触发insertText方法，可以采用上文说的添加insertFromComposition方法，但是个人觉得这种输入事件在compositionend里添加更为合适；
![image](https://user-images.githubusercontent.com/10158499/57269712-0c5b0e00-70bb-11e9-8cfb-84a9d932b768.png)

2. 段尾无法输入问题
在safari中，每次输入都

[2019-05-08 06:07] alangibson commented on #2664
@adjourn Have you considered open sourcing an editor, especially one with collaboration? It would be enourmously helpful for people trying to learn Slate since most examples out there are pretty basic.

[2019-05-08 06:10] alangibson commented on #2643
You can do a poor man's version of this by simply calling the undo() method on the editor.

[2019-05-08 07:59] brynshanahan commented on #2062
Hey, @thesunny I'm very new here, but I'm just going to take a stab. Would the ability to check the DOM before and after ReactDOM reconciliations help? In my understanding what your saying is that things get funky when a user makes an edit between a React render and a ReactDOM reconciliation. I was thinking maybe it would be possible to compare the intended and actual DOM with the [getSnapshotBefo

[2019-05-08 16:20] thesunny commented on #2062
@brynshanahan Thank you. That's an interesting idea. `getSnapshotBeforeUpdate` does appear to execute at an important time (i.e. immediately before the render in what appears to be a synchronous manner). I'm not clear yet on how to use this to fix the issue but it does open up some more avenues to explore and experiment with.

I wonder if we can tie our `DomSnapshot` to the `getSnapshotBeforeUpdat

[2019-05-08 16:24] brainkim commented on #2062
@thesunny Have you considered simply setting the contenteditable property to false in `getSnapshotBeforeUpdate` and setting it to true in `componentDidUpdate`? Does this break android?

[2019-05-08 18:53] ianstormtaylor opened #2745 "split up marks, decorations, and annotations"
#### Do you want to request a _feature_ or report a _bug_?

Improvement.

#### What's the current behavior?

Right now there are three ways that mark-level formatting can be applied in Slate:

1. Via `mark` objects that are embedded in the document itself.

2. Via decoration ranges (which contain a mark object) that are added to a specific node by the `decorateNode` middleware. These never actuall

[2019-05-09 00:01] brynshanahan commented on #2062
Yeah figuring out the edit order should be really helpful @thesunny. Also here are some bits of info I found this morning that could possibly help us.

[Info on getSnapshotBeforeUpdate](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#new-lifecycle-getsnapshotbeforeupdate)
[Info on render/reconciliation timing](https://overreacted.io/react-as-a-ui-runtime/#consistency). Also a re

[2019-05-09 02:03] ianstormtaylor commented on #2643
Sounds like a nice feature to me. I'm open to a PR that figures out a clean way to do this.

[2019-05-09 02:06] ianstormtaylor commented on #2664
Hey, this is by design because `setValue` is an internal-type method for setting things up. Event handlers should not be calling `editor.setValue` and should instead be using operations to achieve this.

[2019-05-09 02:06] #2664 closed

[2019-05-09 02:07] ianstormtaylor commented on #2457
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2457, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:07] #2457 closed

[2019-05-09 02:09] ianstormtaylor commented on #2739
Hey @FedeLochbaum, those commands don't have anything to do with the current selection, so they shouldn't be snapshotting it or reverting it on undo. Feel free to ask in our Slack to narrow down the issue, and maybe there's some other root cause.

[2019-05-09 02:09] #2739 closed

[2019-05-09 02:13] #2721 closed

[2019-05-09 02:14] #2707 closed

[2019-05-09 02:15] ianstormtaylor commented on #2699
Closing in favor of that existing issue.

[2019-05-09 02:15] #2699 closed

[2019-05-09 02:15] ianstormtaylor commented on #2595
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:15] #2595 closed

[2019-05-09 02:16] ianstormtaylor commented on #2677
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:16] #2677 closed

[2019-05-09 02:18] ianstormtaylor commented on #2690
This would be solved by https://github.com/ianstormtaylor/slate/issues/1884, so I'm going to close in favor of it.

[2019-05-09 02:18] #2690 closed

[2019-05-09 02:21] ianstormtaylor commented on #2468
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:21] #2468 closed

[2019-05-09 02:22] #2671 closed

[2019-05-09 02:22] ianstormtaylor commented on #2467
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:22] #2467 closed

[2019-05-09 02:31] ianstormtaylor commented on #2609
See https://github.com/ianstormtaylor/slate/pull/2610#issuecomment-490719600.

[2019-05-09 02:31] #2609 closed

[2019-05-09 02:33] ianstormtaylor commented on #2594
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:33] #2594 closed

[2019-05-09 02:37] ianstormtaylor commented on #2573
Hey, thanks for reporting this. I think this is actually a duplicate of #https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:37] #2573 closed

[2019-05-09 02:37] ianstormtaylor commented on #2328
Is this fixed now?

[2019-05-09 02:38] ianstormtaylor commented on #2552
@bebbi what's your use case here? I can't think of why you'd want this.

[2019-05-09 02:39] ianstormtaylor commented on #2456
This is solved now. Thank you @bryanph!

[2019-05-09 02:39] #2456 closed

[2019-05-09 02:40] ianstormtaylor commented on #2510
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2019-05-09 02:40] #2510 closed

[2019-05-09 02:42] ianstormtaylor commented on #2494
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:42] #2494 closed

[2019-05-09 02:42] ianstormtaylor commented on #2489
Hey, thanks for reporting this. I think this is actually a duplicate of https://github.com/ianstormtaylor/slate/issues/2368, so I'm going to close this in favor of that one. Feel free to comment over there with any other info!

[2019-05-09 02:42] #2489 closed

[2019-05-09 02:44] ianstormtaylor commented on #2447
Hey, thanks for using Slate! Unfortunately, we can't offer support for usage questions in the issues here because it becomes overwhelming to maintain the project if the issues are filled with questions.

However, we do have a Slack channel and people are constantly asking and answering questions in there. So I'm going to close this issue, but I definitely recommend joining the Slack channel if you

[2019-05-09 02:44] #2447 closed

[2019-05-09 02:47] ianstormtaylor opened #2746 "treat "hanging" ranges in a consistent way"
#### Do you want to request a _feature_ or report a _bug_?

Bug / improvement.

#### What's the current behavior?

Rich text editors depend on a special behavior when a range spans multiple blocks and the end is right at the beginning of a block. For example:

[code]

We often need to do special behaviors, like ignore the extra "hanging" block when iterating over the blocks. This happens with inli

[2019-05-09 02:47] ianstormtaylor commented on #2447
Actually I think I see what you mean, opened: https://github.com/ianstormtaylor/slate/issues/2746.

[2019-05-09 02:49] #2140 closed

[2019-05-09 02:49] ianstormtaylor commented on #2121
This is fixed in later versions of Slate.

[2019-05-09 02:49] #2121 closed

[2019-05-09 02:55] ianstormtaylor commented on #710
This issue hasn't had a response in a while, and it's unclear if it's still present in the latest versions of Slate. To keep the issues easier to manage, since there are so many being opened every day, I'm going to close this old one out.

But if you notice that the bug is still happening, please feel free to comment and it can be revisited. It might be an edge case that not many people run into,

[2019-05-09 02:55] #710 closed

[2019-05-09 02:55] ianstormtaylor commented on #824
This issue hasn't had a response in a while, and it's unclear if it's still present in the latest versions of Slate. To keep the issues easier to manage, since there are so many being opened every day, I'm going to close this old one out.

But if you notice that the bug is still happening, please feel free to comment and it can be revisited. It might be an edge case that not many people run into,

[2019-05-09 02:55] #824 closed

[2019-05-09 02:57] ianstormtaylor commented on #1402
I think now that `value` is not in operations this would be largely mitigated. Feel free to open new issues for specific things that aren't though!

[2019-05-09 02:57] #1402 closed

[2019-05-09 02:58] ianstormtaylor commented on #1467
This issue hasn't had a response in a while, and it's unclear if it's still present in the latest versions of Slate. To keep the issues easier to manage, since there are so many being opened every day, I'm going to close this old one out.

But if you notice that the bug is still happening, please feel free to comment and it can be revisited. It might be an edge case that not many people run into,

[2019-05-09 02:58] #1467 closed

[2019-05-09 03:00] ianstormtaylor commented on #1494
This issue hasn't had a response in a while, and it's unclear if it's still present in the latest versions of Slate. To keep the issues easier to manage, since there are so many being opened every day, I'm going to close this old one out.

But if you notice that the bug is still happening, please feel free to comment and it can be revisited. It might be an edge case that not many people run into,

[2019-05-09 03:00] #1494 closed

[2019-05-09 03:00] ianstormtaylor commented on #2427
See https://github.com/ianstormtaylor/slate/issues/2746

[2019-05-09 03:01] ianstormtaylor commented on #1655
See https://github.com/ianstormtaylor/slate/issues/2746

[2019-05-09 03:01] ianstormtaylor commented on #1493
See https://github.com/ianstormtaylor/slate/issues/2746

[2019-05-09 03:19] #2481 closed

[2019-05-09 03:19] #2740 closed

[2019-05-09 03:26] #2716 closed

[2019-05-09 03:26] #2717 closed

[2019-05-09 03:26] #2745 closed

[2019-05-09 03:26] #2520 closed

[2019-05-09 03:26] #2696 closed

[2019-05-09 11:38] rkboyz124 opened #2750 "'Select All' + 'Delete' results to Error in rich text example"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
In rich text example, selecting all the text inside the editor and then deleting it results in an error.

![Screenshot from 2019-05-09 19-34-32](https://user-images.githubusercontent.com/12042986/57450668-b1c7da80-7291-11e9-966d-d21cf79570de.png)

#### What's the expected behavior?
Should work properl

[2019-05-09 12:52] calspre commented on #2750
Just started using this library and encountered the very same issue. 🤔

[2019-05-09 12:52] rg4real commented on #2750
Very sad. :(

Something wrong with a placeholder.

[2019-05-09 12:54] rg4real commented on #2750
https://www.slatejs.org/#/placeholders

[2019-05-09 15:31] ntgussoni commented on #2617
@brendancarney  same happens if you press backspace.

This is the stacktrace

`Error: Decorations must be created with a `type`, but you passed: {"anchor":{"key":"1984","offset":0,"path":[0,0]},"focus":{"key":"1984","offset":0,"path":[0,0]},"mark":{"type":"placeholder","data":{"key":0}}}
    at Function.value (https://www.slatejs.org/main-3ef18fc13ba8bf31a2e8.js:1:17185)
    at value (https://www.

[2019-05-09 15:45] ntgussoni commented on #2617
#2750

[2019-05-09 16:53] akovantsev commented on #2737
the fix is just 1 line:
[code]
However I have no clue about implications in the code depending on this, and have no experience with js infra setup to even test the change.

[2019-05-09 17:24] quicksnap commented on #2707
Whoops--forgot to reply: I didn't see the changelog at the time of this question, so that's good! However, it could be useful still to document how to generally handle core schema changes listed in the changelog.

I'm about to upgrade Slate and deal with the changes, so if I have anything valuable I'll try to open a documentation PR.

[2019-05-09 19:32] edmundluong88 opened #2751 "Unexpected crashes/behavior when dealing with "contenteditable=false" divs"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

OS: Ubuntu 18.04
Browser: Chrome Version 74.0.3729.131 (Official Build) (64-bit)
Slate: 0.44.12
Slate React: 0.21.18

I am trying to add a side panel to my Editor that will be attached to every Block node that represents a line of text. In this side panel, there will be tools (such as to assign a Us

[2019-05-09 19:58] steida commented on #2751
Use `user-select: none;`, Luke ✨

[2019-05-09 20:18] Jarred-Sumner commented on #2750
I think it's the recent change where `mark.type` is now `.type` for decorations

Might be worth making it backwards compatible for now and adding a warning

[2019-05-09 20:21] edmundluong88 commented on #2751
@steida that worked perfectly! Amazing what one line of code can do for you...... Thank you very much!

[2019-05-09 20:21] #2751 closed

[2019-05-09 20:42] steida commented on #2751
@edmundluong88 Give https://github.com/este/este star pls ;)

[2019-05-09 20:42] #2750 closed

[2019-05-09 20:43] ianstormtaylor commented on #2750
Sorry about that folks, just released a fix to the `slate-react-placeholder` to prevent this. And I've added a backwards compatible deprecation warning as @Jarred-Sumner suggested as well, so it will work with the old format but log a warning.

[2019-05-09 20:47] ianstormtaylor commented on #2707
@quicksnap I'm unsure of what we'd document there. It would be the up to the user to figure out how they want to deal with the transition, just like when migrating any other piece of data that lives in your database. You could write a shim, you could run the migration, etc.

[2019-05-09 20:51] #2582 closed

[2019-05-09 21:51] gracicot opened #2752 "Plugin setting a selection to editor.value.selection to cancel selection change cause slate to not update the DOM correctly"
#### Do you want to request a _feature_ or report a _bug_?
A bug.

#### What's the current behavior?

The browser selection is not the same as the selection reported by slate when caneling a selection change with a plugin.

Let me explain. I have a plugin that whenever the use click on the selected text in slate, I catch the `select` command and select the previous selection, so the selection don'

[2019-05-09 22:11] dmitrizzle commented on #2707
Hey @quicksnap there's a doc in the repo that I use whenever I migrate to next breaking version: https://github.com/ianstormtaylor/slate/blob/master/Changelog.md - hope this helps.

[2019-05-09 22:24] thesunny commented on #2700
I feel like this bridge can be crossed later and it's adding to the issues so I'm going to close for now.

[2019-05-09 22:24] #2700 closed

[2019-05-09 22:40] thesunny commented on #2062
@brainkim Thank you for the suggestion. That's an interesting idea but at this time I don't think I'm willing to go there. The reason is that it opens up a whole set of unspecified/unknown behaviors. For example, do we lose the selection when we switch contenteditable to false? What happens if we switch in the middle of a repeating keydown (because compositionend events happen in the middle of rep

[2019-05-09 22:41] thesunny commented on #2062
Note: The ideal solution is to have React not panic and die if it can't find DOM nodes. Instead, it should just rebuild the DOM. But I don't know that the React team would care to do this for the very specific use case of a "Rich Text Editor on Android".

[2019-05-10 02:11] ianstormtaylor commented on #2345
Another thought: I think once we’re using JSON-based models we’ll move fully to interface-based helper functions.

Right now things we have “mixins” that approximate this by attaching common methods to the prototypes. And we can rely on instances to do `instance.object === ...`.

But in the future we’ll be exposing a bag of helper functions that operate on plain objects and arrays. We could contin

[2019-05-10 03:39] brynshanahan commented on #2062
Hey @thesunny this may remove any need for messing with React lifecycles. https://github.com/facebook/draft-js/commit/cda13cb8ff9c896cdb9ff832d1edeaa470d3b871
Also draft just merged their android fix into master 9 hours ago, so it might be worth looking for some inspiration there

[2019-05-10 03:56] CodePlayer opened #2753 "Mark nesting causes the outer mark to be broken as unexpected"
#### Do you want to request a _feature_ or report a _bug_?

***bug***

#### What's the current behavior?

Consider the following code snipet:
[code]
Tag `strong`  is the symbol of mark `bold`;  tag `i` is the symbol of mark 'italic'.
However, the latest Slate can't really reproduce the scene.
Using Slate can ***only*** output the following code snipet:
[code]

#### What's the expected behavior?
[c

[2019-05-10 04:53] thesunny commented on #2062
@brynshanahan Slacked you on this but just wanted to say the find in there about `ReactDOM.flushSync` and friends is amazing!

Not documented but seems like that has the potential to solve the timing issues. While `getSnaphotBeforeUpdate` might have solved it, it seemed needlessly complex (maybe even unsurmountable) if events snuck in between `setState` and `render` and since React is aiming on `a

[2019-05-10 06:27] robbertbrak commented on #2062
@thesunny:

Isn't that what [error boundaries](https://reactjs.org/docs/error-boundaries.html) are for? In our DraftJS-based editor we have accepted as a sad fact of life, that the DOM sometimes gets out of sync and causes React to panic. Our error boundary catches such errors and resets the editor to the last known state to recover.

Not ideal, but much better than getting stuck in an error state

[2019-05-10 09:00] rg4real opened #2754 "Update docs to remove leaves"
As I got they are deprecated now so might get rid of them.

[2019-05-10 09:19] Bonnevie commented on #2721
@ianstormtaylor does this really count as resolved? Shouldn't `wrapNodeByKey` behave on par with other normalization steps?
I also found an issue with the solution, although the issue might be more universal: if you write fast, a race condition can occur where the normalization step does not have time to take place and since the normalization step always responds with the "all clear" value of `und

[2019-05-10 09:32] rg4real opened #2755 "Error while mounting with focus from Value.fromJSON"
Use case: I need to set focus from Value.fromJSON function.

Link to replicate an issue:
https://codesandbox.io/embed/o58z9o0kyz?fontsize=14

[2019-05-10 12:38] rg4real commented on #2750
@ianstormtaylor , awesome! Thank you very much for such a quick reaction.

Any change that [this issue](https://github.com/ianstormtaylor/slate/issues/2755) is related to this problem?..

[2019-05-10 12:48] lazybios commented on #2457
@hudk114 也遇到了同样的问题，能不能提供一下完整的gist文件，你那个`judgeNeedInsertText`方法判断依据是啥？

[2019-05-10 13:40] neutraali opened #2756 "Slate renders extra / incorrect markup"
Reporting a **bug**: Somewhere in the **Slate** rendering / deserialization process nodes get wrapped in `<span>` -elements. You can notice this when inspecting the markup with the browser tools. Why / how this happens isn't explained in the docs, which leads me to believe this is either a necessity for Slate to function or maybe a bug.

Here is an example fiddle: https://jsfiddle.net/kLh1yxeb/

E

[2019-05-10 16:07] tkirda commented on #2753
This is by design. Read about it here:

https://docs.slatejs.org/guides/data-model#marks

[2019-05-10 16:17] CameronAckermanSEL commented on #2756
I'd argue this problem is caused with a css rule that is too broad. You can use css rules, like first-child or class names to deal with this issue in a more precise way. The spans that slate renders may not be immediately obvious, but your use case is still achievable.

[2019-05-10 17:18] ianstormtaylor opened #2757 "consider removing all `object` properties"
#### Do you want to request a _feature_ or report a _bug_?

Idea / improvement / debt.

#### What's the current behavior?

Right now we have `.object` properties on almost all Slate-specific objects. (With the exception of paths I think, since they are arrays.) This kind of just developed because we'd serialize the "instance" to JSON and preserve the `.object` property. And it was deemed necessary

[2019-05-10 17:25] ianstormtaylor commented on #2756
Hey @neutraali the inner text content of the nodes is an implementation detail and can change over time, so you shouldn't try to select deeply into it.

[2019-05-10 17:25] #2756 closed

[2019-05-10 17:26] ianstormtaylor commented on #2753
Hey @CodePlayer this used to be possible with `slate-hyperscript`, but with the recent changes to text nodes, I removed that possibility because it was incongruous with how Slate actually renders the elements, and it made making guarantees about what gets returns from a mark tag harder.

[2019-05-10 17:26] #2753 closed

[2019-05-10 17:29] ianstormtaylor commented on #2721
I don't think it has to do with `wrapNodeByKey`. Text nodes are always placed adjacent to inline nodes, so if you wrap all text nodes in inline nodes you'll end up with an infinite loop I'd think.

[2019-05-10 18:03] adjourn commented on #1884
Experimented a little bit with this, see [this commit](https://github.com/ianstormtaylor/slate/compare/master...adjourn:feat/new-voids).

It works wonderfully like this but I don't see any ways to decrease the amount of properties user has to add/spread because selection works properly only with the following structure:

[code]

If you remove any elements, selection is messed up.
I guess it could

[2019-05-10 18:53] ianstormtaylor commented on #1884
@adjourn nice! I think we can update the selection logic around `findDOMNode/findDOMPoint/findPath` to use the new slightly tweaked DOM structure. Ideally we'd be able to achieve:

[code]

The even more ideal would be that people didn't have to add the extra `contentEditable={false}`, but that's more of a browser support thing, and it's not the end of the world. I remember we used to actually have

[2019-05-10 18:58] ianstormtaylor commented on #1884
@adjourn specifically, in here:

https://github.com/ianstormtaylor/slate/blob/376015df6c59e850d06fd6b45cae9186ad38c1f6/packages/slate-react/src/plugins/react/queries.js#L325-L341

In the `findPoint` method actually. I think we use that `data-slate-void` to find a point based on a cousin node. When maybe we should be always doing that to make `contenteditable="false"` work for all nodes?

[2019-05-10 19:05] gracicot commented on #2752
The live example on codesandbox will work if we reverse the anchor and focus: https://codesandbox.io/embed/n7owo2j6vj

[2019-05-10 20:14] adjourn commented on #1884
I'm not super adept in Slate selection code but I see where you're going with this.

What would that mean to void? You could add spacer (if provided) and `contenteditable="false"` wrapper into any node type, it would almost replace void type entirely if there weren't for stuff like `isVoid` and half the library logic depending on that query.

I'll try to wrap my head around selection logic some ti

[2019-05-10 20:18] ianstormtaylor commented on #1884
@adjourn you're right. It would mean technically mean that at render-time the only difference between voids and non-voids is that the "spacer" content is added to `props.children` instead of the real content. Which is actually kind of cool, and unlocks some potentially advanced use cases I think.

And then the `isVoid()` query is actually not a rendering construct, but a behavioral construct, to e

[2019-05-10 20:37] ianstormtaylor opened #2759 "notes on the future namespace-based API"
In light of https://github.com/ianstormtaylor/slate/issues/2495 and switching to using an interface-based API with plain JavaScript objects and arrays, the core API will change. Using plain JavaScript data means that we can eliminate a decent amount of code I think, and it means we'll move to mimicking native namespaced utils like `Object.entries(object)`.

This issue is just note to keep track of

[2019-05-10 21:33] franjohn21 opened #2760 "Editor component's placeholder prop is broken"
#### Do you want to request a _feature_ or report a _bug_?
🐛

#### What's the current behavior?
When the `Editor` component from `slate-react` has the `placeholder` prop specified, the expected behavior is that the placeholder text will be rendered when there is no text entered. The current behavior is that the placeholder text is not being rendered in the latest slate-react.

This bug is verifiab

[2019-05-10 21:52] steida commented on #2759
Just an idea. Why do not have all functions in 'slate' as "namespaced" in their names?

[code]

[2019-05-11 05:06] ianstormtaylor commented on #2759
@steida that’s a great question. And I think it’s still an option.

I lean towards the separate namespaces right now because I think it makes it a bit more clear as to what interface they accept. The first argument will always be one of the objects themselves.

And it makes things slightly less verbose, but in a way that’s still clear.

[2019-05-11 12:26] steida commented on #2759
It can be both. Separate namespaces and full names. Node etc. can be re-exported from slate. And we can just write import s from 'slate' and have easy API discoverability through autocomplete. I like io-ts API https://github.com/gcanti/io-ts. "a bit more clear as to what interface they accept" That's a task for VSCode. It shows types even in plain JavaScript.

Anyway, it's up to you. I am only thi

[2019-05-11 15:04] neutraali commented on #2756
@CameronAckermanSEL The CSS in question is just a bare-minimum snipped to showcase the erroneus behavior. When parsing, for example, a mailer-template with custom CSS you can easily see how those extra spans will start causing problems.

@ianstormtaylor What do you mean by this? It's obviously a bit of a problem when we deserialize those `<li>` -elements (in this example) and find out that some of

[2019-05-11 15:29] adjourn commented on #2756
Use Slate only to edit and write your own renderer (or ask around in Slate Slack) to render "clean" HTML from JSON state. That goes to email templates and regular front-end content consumption. You wouldn't want users to download extra JS: Slate, like all rich text editors, is not super small and it's obviously not as performant as rendering with just plain React. You can store classes or inline C

[2019-05-11 17:16] arimah opened #2761 "Backwards keyboard selection throws error"
**Do you want to request a _feature_ or report a _bug_?**

Bug. 🐞

**What's the current behavior?**

https://codesandbox.io/s/mq1j15o7jx
https://streamable.com/nolnq

When a block contains multiple text nodes, backwards keyboard selection with Shift+LeftArrow causes an error to be thrown, as a path gets computed incorrectly. The mark is used here to force multiple text nodes.

The selection is upd

[2019-05-12 01:49] MunifTanjim opened #2763 "Error on selecting text from the end of block"
#### Bug

#### What's the current behavior?

**Steps to reproduce**:

- Go to: https://www.slatejs.org/#/rich-text
- Open browser's devtools
- Put the cursor after `like this:` on the second block.
- Hold <kbd>Shift</kbd> and tap <kbd>Left Arrow</kbd> a couple times.
- You should see the error in the console:

[code]

This affects the latest versions:
- slate-react@0.22.2
- slate@0.47.2
- Browser:

[2019-05-12 01:59] adjourn commented on #2763
Duplicate of #2761?

[2019-05-12 02:02] MunifTanjim commented on #2763
Seems like it... :thinking:

[2019-05-12 02:02] #2763 closed

[2019-05-12 03:29] #2761 closed

[2019-05-12 12:30] czechdave opened #2767 "Search Highlight example is broken"
Annotations seem to mess up the document structure.
https://www.slatejs.org/#/search-highlighting
![search-highlight-broken](https://user-images.githubusercontent.com/8127927/57582208-3e58df80-74c2-11e9-9381-788a1ea4e10d.gif)

[2019-05-12 13:58] adjourn commented on #2767
I submitted a PR earlier today #2766. [Test it out](https://deploy-preview-2766--slatejs.netlify.com/#/search-highlighting).

[2019-05-12 18:38] neutraali commented on #2756
Right, so **Slate** doesn't support _editing in place_ - A mention of this and a description of why/how **Slate** adds extra elements to the DOM would be super useful to have in the docs.

Still curious as to case of the vanishing content though - It's a relatively show stopping bug for us.

[2019-05-12 20:28] glebtv commented on #2701
Also having this issue with slate-deep-table plugin (which does nothing unusual and works by itself).

Here's a fiddle with only table plugin and slate 0.46, and it works fine:
https://codesandbox.io/s/vj1w98m787?fontsize=14

https://codesandbox.io/s/4zq7l5nvlx

Here's a fiddle with

Here's a fiddle with

Workaround:
[code]

[2019-05-13 06:32] Jarred-Sumner opened #2769 "Moving cursor into/out of an inline sometimes causes Node.assertNode to raise an error during selectionchange"
#### Do you want to request a _feature_ or report a _bug_?
:bug: Bug

#### What's the current behavior?

On `selectionchange`, when the cursor moves focus on the start or end of an `inline`, _most_ of the time, the below exception occurs. It seems to happen more often when the inline is at the end of a block and the cursor moves to the next line, but it doesn't happen 100% of the time.

The editor

[2019-05-13 06:40] Jarred-Sumner commented on #2769
Is it possible this is related? https://github.com/ianstormtaylor/slate/issues/2742

[2019-05-13 08:44] Bonnevie commented on #2721
but to avoid that issue the demo has always taken steps to wrap non-empty text nodes only (via `if(node.getText().length)`), so I cannot see how that is how the loop gets triggered?

[2019-05-13 14:26] rg4real commented on #2755
@ianstormtaylor, can you estimate how hard / easy it is to fix? It's really blocking my project so I am interested in but I have little understanding of the library.

[2019-05-13 14:26] priteshjha4u opened #2770 "Mentions example page is not working."
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Mentions example is not working. App crashes when navigating to mentions page. I guess it is appearing after #2747 is merged, since the error message is about set annotations.

[code]
https://www.slatejs.org/#/mentions

![error](https://user-images.githubusercontent.com/2283282/57629127-e3ee7a80-75b8-

[2019-05-13 15:11] Entkenntnis opened #2771 "Reversed order after pasting list and paragraph"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

<Img src=http://g.recordit.co/FwPI8Fx2K5.gif height="200">

1. Go to the [slate rich text](https://www.slatejs.org/#/rich-text) demo.
2. Create a list and two paragraphs
3. Copy the list and one paragraph
4. Put the cursor in front of the second paragraph
5. Paste the list and the paragraph: The ord

[2019-05-13 17:40] dselman opened #2773 "Search Highlight example has render bug"
#### Do you want to request a _feature_ or report a _bug_?
Bug.

Open the search highlighting demo at: https://www.slatejs.org/#/search-highlighting

Type "search" in the text field.

#### What's the current behavior?

See attached image.

<img width="779" alt="slate-search-bug" src="https://user-images.githubusercontent.com/623108/57642336-fcf22e00-75ae-11e9-9073-252969d05c5d.png">

I've verified

[2019-05-13 17:45] dselman commented on #2773
Duplicate of #2767

[2019-05-13 17:45] #2773 closed

[2019-05-13 18:19] dselman commented on #2767
I'd love to see this in a release - it's blocking for me.

[2019-05-13 19:23] Jarred-Sumner commented on #2769
After downgrading, I'm no longer experiencing this issue.

[code]

[2019-05-13 23:48] jmoyers opened #2775 "Spellcheck not working correctly on Windows/Chrome latest"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
Windows 10
Chrome Version 74.0.3729.131 (Official Build) (64-bit)
Current Behavior (on https://www.slatejs.org/#/rich-text):
[Recorded Gif](http://recordit.co/os0WSULnos)

If you replace a misspelled word, the cursor location doesn't update properly, your arrow keys no longer function with the portion

[2019-05-14 10:17] akovantsev commented on #2736
@brynshanahan I think this is the cause:
https://github.com/ianstormtaylor/slate/pull/2715/commits/b3175ba565e8c307d35854bff80913e00ee78799#diff-dc737afa91245a08a36c966a9da47690R417
cc @ianstormtaylor

[2019-05-14 11:10] lazybios commented on #1032
Need a plugin for it, I have the same issue.

[2019-05-14 15:46] gracicot opened #2776 "[Android] Command middleware don't get called on android"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?

Not a lot of middleware function get called properly. For example, the `insertText` and
`select` commands almost never gets called on a android keyboard. The `deleteAtRange` get called sometimes but not always depending on the keyboard.

[Here a demo that log commands](https://codesandbox.io/embed/0m

[2019-05-14 16:54] thesunny commented on #2062
@robbertbrak Error boundaries would save the rest of the React app from crashing but it wouldn't prevent the Editor component from crashing unfortunately.

## General Update

Lots of thanks to @brynshanahan for pointing me to the recent (as in a few days ago) update to DraftJS. There are two really important techniques that I was unaware of in React and that I haven't previously seen documented. I

[2019-05-14 23:34] thesunny opened #2777 "Master appears to be broken"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

I start the dev server with the latest on `master` using `yarn start` and I get the following error message on Chrome on OSX. Fails to load also on Safari. I assume the rest have the same error.

![image](https://user-images.githubusercontent.com/469587/57738858-186c4000-7666-11e9-895f-f1dcf1053752.

[2019-05-14 23:36] #2777 closed

[2019-05-14 23:37] thesunny commented on #2777
Must remember to install packages when upgrading!

[2019-05-14 23:40] Slapbox commented on #2062
It always hurts to throw away hard work, but the lessons learned make the new code that much better.

I think MutationObserver is a great idea. My only real reservation about this method was the idea that they should be a solution of last resort. Seeing other editors going that route makes me think that's the best way to go for sure. Besides them providing proof that the method works, Slate will b

[2019-05-14 23:43] steida commented on #2777
This should be some yarn command I guess:

[code]

[2019-05-14 23:54] thesunny opened #2778 "Enter is broken in master before a decoration introduced by "remove leaves (#2715)""
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Bug can be observed on examples here: https://www.slatejs.org/#/rich-text

Just hit `enter` immediately before the bold word `rich`.

![image](https://user-images.githubusercontent.com/469587/57739493-a34e3a00-7668-11e9-9f21-c29879104c4b.png)

The cursor remains where it is instead of going to the n

[2019-05-15 00:02] justinweiss commented on #2701
I've been running into this, and it seems like the problem is that `getPreviousMatchingNodeAndPath` doesn't work. It only does raw path manipulation. So if you have a document like:and a selection where

`startPath`: `[1, 1, 0, 0]`
`endPath`:  `[1, 2, 1, 0]`

[2019-05-15 00:04] thesunny commented on #2778
Checked and the last good publish commit where this was working was this one:
https://github.com/ianstormtaylor/slate/commit/a431576e732f1240a27159cecca9bd61a9f0e5f3

Appears to have broken in `remove leaves` PR: https://github.com/ianstormtaylor/slate/pull/2715

[2019-05-15 04:25] ccorcos commented on #1937
It would be nice to followup here so others don't have to signup and go hunting through Slack :)

[2019-05-15 08:19] XiaocongDong commented on #2770
Have the same issue here, any information on this?

[2019-05-15 08:37] adjourn commented on #2062
@thesunny

Haven't researched Android at all so here's my question: could combination of (Android) events contaminate whole document? Can't you use "blow DOM away with key" strategy in block (or even smaller) scope?

Even if we have to re-render whole doc.. I'd take worse performance on Android over not working any day.

[2019-05-15 09:23] adjourn commented on #2770
`setAnnotations` command (or `setannotations` here) doesn't exist. Not sure if placeholder or.. I could try to hack something together and submit a PR but I'd rather wait what @ianstormtaylor has to say about this.

[2019-05-15 09:47] vashchukmaksim opened #2779 "Inline selection is broken (slate@0.47)"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Run **examples/links** and try to select "hyperlinks" link in the editor area. It throws an error:

[code]

![Screen Recording 2019-05-15 at 12 43 07](https://user-images.githubusercontent.com/26834615/57766153-86207680-770f-11e9-9e01-63f13710a9f4.gif)

I catch this error at the same situation in my

[2019-05-15 10:02] adjourn commented on #2779
Im pretty sure it was fixed by #2764 (not released yet). [Test it here](https://deploy-preview-2764--slatejs.netlify.com/#/links).

[2019-05-15 10:05] vashchukmaksim commented on #2779
@adjourn Unfortunately it is still there

[2019-05-15 10:12] adjourn commented on #2779
Ah yes, managed to replicate it with double click. Doesn't seem to be related to #2764.

[2019-05-15 10:16] vashchukmaksim commented on #2779
Yeah, now only double-click throws this error but part selection seems to be fixed with #2764

[2019-05-15 14:24] signalwerk commented on #2062
@thesunny Thank you for keep working on that issue and for the constant updates!

[2019-05-15 14:49] TheLastBug opened #2781 "Placing accents over characters does not work"
#### Do you want to request a _feature_ or report a _bug_?
Bug

#### What's the current behavior?
When typing '´' + 'a' to get 'á', the accent is ignored and only 'a' is written (same result is seen when attempting to write a á à ã ă â e é è ê i í ì ĩ o ó ò õ ô ơ u ú ù ũ ư y ý ỳ).
http://recordit.co/WrUR6GiCt4

**Note**: When typing from the middle or the text, both the accent and the letter are i

[2019-05-15 16:06] olabala commented on #2723
@CameronAckermanSEL I am stuck here, have you found a solution?

[2019-05-15 16:12] thesunny commented on #2062
@adjourn it feels like "blow DOM away with key" strategy should work in smaller scopes although at that granularity level, we have to worry about the edge cases so would still need the whole document version.

A few issues I can think of are

- a backspace that merges into the block prior and
- an enter which splits a block into the existing block and a sibling block.

[2019-05-15 16:14] thesunny commented on #2062
@robbertbrak Hey, I just wanted to say that the more I think about it, I really like the idea you posted about using error boundaries to recover the Editor from a React crash. Thank you so much for posting this.

[2019-05-15 16:16] CameronAckermanSEL commented on #2723
To be frank with you @olabala, I believe the best solution is to not nest editors. I'm not sure what use case drives people to want to do that, but this editor can deal with hierarchical block structures, so it's mostly unnecessary to even attempt. I suspect a lot of people are used to other editors like Draft that can't deal with nested block structures (like tables) without nesting editors.

[2019-05-15 17:17] olabala commented on #2723
@CameronAckermanSEL I just found the recurring case.
The error is because I executed `editor.moveToRangeOfDocument().delete()` twice.

[2019-05-15 17:20] CameronAckermanSEL commented on #2723
That sounds like it's a separate problem and deserves a different issue.

[2019-05-15 17:35] thesunny commented on #2776
@gracicot I'm working on Android but it may take a while before the middleware is working. Right now the focus is just getting it to work and be stable which it isn't yet.

[2019-05-15 17:39] gracicot commented on #2776
@thesunny good, thank you, and thanks for your hard work on this. I suspected it was the case. I just wanted to make sure this item is tracked and not forgotten.

[2019-05-15 18:13] olabala opened #2783 "Executing `editor.moveToRangeOfDocument().delete()` twice throws an error"
#### Do you want to request a _feature_ or report a _bug_?
BUG

#### What's the current behavior?
After executing `editor.moveToRangeOfDocument().delete()` twice, the editor will stop work!!!
Here is a example https://codesandbox.io/s/slarereactbutwithselection-j6u6x, as u can see, after u click `enter` key twice, then focus editor, and u'll get an error in the console panel when u try to input so

[2019-05-15 19:29] corbinasapp commented on #2783
I worked around this by checking if the text value is empty, and if so, don't delete

[2019-05-15 21:25] Slapbox opened #2784 "Slate-Schema-Violations doesn't seem to include CHILD_MIN_INVALID & CHILD_MAX_INVALID"
The latest version I see is 0.1.39 and last published 9 months ago. The page for the package on NPM links to the Slate repo, but I don't see it anywhere in the repo anymore. I'm a bit confused. Is this still maintained? https://www.npmjs.com/package/slate-schema-violations

[2019-05-15 23:14] audunhalland commented on #2779
Duplicate of #2769

[2019-05-16 00:48] jmoyers commented on #2504
As an aside, I spent a few hours tracking down similar behavior in my app today. The short version is, if you have ANY `onBlur` handler attached to the Editor, `preventDefault/stopPropagation` workaround stops working and you can no longer focus inputs within a void node.

Simplest demonstration is to add `onBlur={() => {}}` to the https://www.slatejs.org/#/embeds example. You can then no longer c

[2019-05-16 03:36] olabala commented on #2783
@corbinasappI know that this issue is more a reminder to other people who have same error.

[2019-05-16 07:46] kelyvin commented on #2726
## Bug: Typing any text throws an exception

### Severity
Major

### Rationale for severity
This is considered major because typing any text will not update the editor state - this means that any edit on the text will not do anything. Although the UI appears to be working as intended, the editor state is not properly updated so you cannot persist/save the new state.

### Recording
https://imgur.co

[2019-05-16 11:01] klis87 opened #2787 "Support webpack tree-shaking"
#### Do you want to request a _feature_ or report a _bug_?
Optimization

#### What's the current behavior?
Currently slate is not tree-shaking friendly, at least not with Webpack

#### What's the expected behavior?
Slate should be tree-shaking friendly, especially it is so big library.

There are several things to consider to make it work:
- `sideEffects: false` should be added to all package.json

[2019-05-16 11:57] CodePlayer commented on #2753
I was attracted by Slate's powerful and flexible customization, but now I feel that it is a weird partial student...

[2019-05-16 13:20] benjiro commented on #2784
That package was deprecated a while back to reduce file size, and complexity of the project. The commit that it was removed can be found here https://github.com/ianstormtaylor/slate/commit/36ed4397d880bf75126e9f8f890e999fc69c3b9a#diff-9b8fab691c00b9e5380b19ce882f3271.

You can read up about schema errors in the doco https://docs.slatejs.org/slate-core/schema#errors

An example
https://github.com/i

[2019-05-16 15:06] thesunny commented on #2726
Thanks for all the submissions guys. I'm working on a new approach so please hold off on bug reports for now. For more information, please see this comment in the IME issue https://github.com/ianstormtaylor/slate/issues/2062#issuecomment-492320466

[2019-05-16 16:11] dmitrizzle commented on #2787
In the mean time, if you are looking for a smaller package to just display data, consider approach taken here: https://github.com/roast-cms/french-press-editor/blob/develop/src/components/vignettes/Reader.js - it's a single component file that consumes serialization rules and prints HTML in React. Note that I haven't updated this library to handle the new data structure introduced in recent Slate

[2019-05-16 16:42] cdunn opened #2788 "Drag and drop broken (throwing errors) after leaf removal"
#### Do you want to request a _feature_ or report a _bug_?

Bug

#### What's the current behavior?

Example code breaks as well: [https://www.slatejs.org/#/images](https://www.slatejs.org/#/images)
![May-16-2019 09-37-11](https://user-images.githubusercontent.com/20292/57871500-4f556980-77be-11e9-98fc-dde5271b56ac.gif)

#### What's the expected behavior?

`event.target` in https://github.com/ianst

[2019-05-16 17:57] thesunny opened #2789 "Consider identifying unstable releases (mark as alpha?)"
#### Do you want to request a _feature_ or report a _bug_?

Discussion

#### What's the current behavior?

Currently, when we publish a version of Slate, the version doesn't indicate a potentially unstable version.

Slate is not at 1.0 and so the API is known to be unstable, but considering how many people use Slate in production, it might be nice to label certain releases as potentially unstable

[2019-05-16 18:33] jmoyers commented on #2789
Though I'm not a long time user, I have been digging into slate over the past few days evaluating different rich text editors available on the market for my use case. I spent probably half that time identifying and narrowing down a few bugs that cropped up after simple extensions to the example code. Not sure if this is a direct result of the stability of the latest npm release, but it would defin

[2019-05-16 19:48] justinweiss commented on #2789
In order to be effective, I think it has to involve more than just marking a version as stable / unstable. I'm in the process of moving from 0.33.x to master, and the bigger problem has been that there hasn't been a version since 0.34.x that has been stable enough for us to stop on.

I hope that doesn't sound harsh, because I absolutely don't mean it that way! The improvements have been massive, a

[2019-05-16 20:44] Slapbox commented on #2784
Thanks so much @benjiro, that helps a ton!

[2019-05-16 20:44] #2784 closed

[2019-05-16 22:19] kelyvin commented on #2726
No problem @thesunny. Thanks again for all your hard work and for keeping us in the loop!!

[2019-05-16 22:32] turt2live opened #2793 "Slate does not work with screen readers"
#### What's the current behavior?

I'm using JAWS on Windows 10 to verify our app works with screen readers, and found that Slate does not work well at all. A minimal example can be found on the live demo page.

The screen reader appears to be losing focus after pressing the Enter key - while Slate does correctly insert a newline character, the screen reader starts reading back the page and furthe

[2019-05-17 02:42] CodePlayer opened #2795 "Chinese input is interrupted and disappears during the input of continuous long text"
#### Do you want to request a _feature_ or report a _bug_?

bug

#### What's the current behavior?

![slate-chinese-error](https://user-images.githubusercontent.com/3793502/57899381-61530d00-788f-11e9-8e24-40f5b977d50e.gif)

When inputting Chinese, we need to input multiple Pinyin letters continuously, and then press the `Space` key to place the input text into the corresponding text field.

Howev

[2019-05-17 04:44] olabala opened #2796 "input error on window10 Pinyin IME"
#### Do you want to request a _feature_ or report a _bug_?
BUG

#### What's the current behavior?
I can not input anything after I type about 20+ characters, and there is some issue with the rendering either.

here is a [video](https://www.youtube.com/watch?v=HdE90uIxtos&feature=youtu.be) about this issue，I have been typing the entire process without deleting.

I guess it may be a problem with the

[2019-05-17 07:27] glebtv commented on #2789
It would be really nice to have something like an LTS branch after fixing Android, and, probably, removing immutable :) Those are really two must-have things for me..

[2019-05-17 14:41] thesunny commented on #2795
@ianstormtaylor I think this is related to the remove leaves update. I noticed that `set-text-from-dom-node` was not updated and is not working. Any code that uses that function is therefore also not working including composition and Android IME.

https://github.com/ianstormtaylor/slate/blob/master/packages/slate-react/src/utils/set-text-from-dom-node.js

I made a cursory look yesterday to fix it

[2019-05-17 17:31] CCinCapital opened #2798 "Unexpected behavior of onBlur/onFocus callbacks for FunctionComponent with Hooks"
#### Do you want to request a _feature_ or report a _bug_?

#### What's the current behavior?
_please refer to the code attached in later section_

#### What's the expected behavior?

![Screen Shot](https://i.imgur.com/O4H3gjF.png)

#### Code

[code]

#### Info

 - Browser
[code]
- Packages
[code]

##### `initialValue`

[code]

[2019-05-17 18:41] ianstormtaylor commented on #2787
Hey, this is a good thing to fix. But I think we can fix it by https://github.com/ianstormtaylor/slate/issues/2495 instead of any restructuring now. But already I’d assume that `Slate` and `slate-react` are separate bundles.